<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.fordiac.ide.typeeditor.typeEditorPage">
      <editorPage
            class="org.eclipse.fordiac.ide.fbtypeeditor.st.StructuredTextFBTypeExecutableExtensionFactory:org.eclipse.fordiac.ide.fbtypeeditor.st.StructuredTextFBTypeEditorDescriptor"
            sortIndex="60">
      </editorPage>
      <editorPage
            class="org.eclipse.fordiac.ide.fbtypeeditor.st.StructuredTextFunctionFBTypeExecutableExtensionFactory:org.eclipse.fordiac.ide.fbtypeeditor.st.StructuredTextFunctionFBTypeEditorDescriptor"
            sortIndex="60">
      </editorPage>
   </extension>
</plugin>
