<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>


<!--
 /*******************************************************************************
  * Copyright (c) 2023 Primetals Technologies Austria GmbH
  *
  * This program and the accompanying materials are made available under the
  * terms of the Eclipse Public License 2.0 which is available at
  * http://www.eclipse.org/legal/epl-2.0.
  *
  * SPDX-License-Identifier: EPL-2.0
  *
  * Contributors:
  *   Allois Zoitl - initial API and implementation and/or initial documentation
  *******************************************************************************/
-->


<plugin>
	<extension
 			point="org.eclipse.ui.views">
  		<view
			    category="org.eclipse.fordiac.ide.view.category"
			    class="org.eclipse.fordiac.ide.hierarchymanager.ui.view.PlantHierarchyView"
			    icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/filenav_nav.png"
			    id="org.eclipse.fordiac.ide.hierarchymanager.view"
			    name="Plant Hierarchy">
  		</view>
	</extension>
   	<extension
 			point="org.eclipse.ui.navigator.viewer">
	    <viewer
            viewerId="org.eclipse.fordiac.ide.hierarchymanager.view">
         <options> 
            <property
                  name="org.eclipse.ui.navigator.hideAvailableExtensionsTab"
                  value="true"/>
            <property
                  name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog"
                  value="true"/> 
            <property
                  name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                  value="true"/>
            <property
        		  name="org.eclipse.ui.navigator.enableTooltipSupport"
        		  value="true" /> 
         </options>
      </viewer>
  		<viewerActionBinding
    			viewerId="org.eclipse.fordiac.ide.hierarchymanager.view">
			<includes>
          		<actionExtension pattern="org.eclipse.fordiac.ide.hierarchymanager.ui.openLeafActionProvider"/>
          		<actionExtension pattern="org.eclipse.ui.navigator.resources.UndoRedoActionProvider"/>
       		</includes>
  		</viewerActionBinding>
  		<viewerContentBinding
    			viewerId="org.eclipse.fordiac.ide.hierarchymanager.view"> 
			<includes>
				<contentExtension isRoot="true"
	            		pattern="org.eclipse.fordiac.ide.hierarchymanager.ui.hierarchycontent" />
        		<contentExtension
                     pattern="org.eclipse.fordiac.ide.hierarchymanager.ui.hierarchySorter" >
               </contentExtension>      
           	</includes>
  		</viewerContentBinding>
   	</extension>
   	<extension
			point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
	            activeByDefault="true"
	            id="org.eclipse.fordiac.ide.hierarchymanager.ui.hierarchycontent"
	            contentProvider="org.eclipse.fordiac.ide.hierarchymanager.ui.providers.HierarchyContentProvider"
	            labelProvider="org.eclipse.fordiac.ide.hierarchymanager.ui.providers.HierarchyLabelProvider"
	            name="Plant Hierachy Content"
	            priority="highest">
            <possibleChildren>
            	<or>
	              <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.SubApp"/>
	              <instanceof value="org.eclipse.fordiac.ide.hierarchymanager.model.hierarchy.Node"/>
	            </or>
	        </possibleChildren> 
            <triggerPoints>
                <or>
                    <instanceof value="org.eclipse.emf.ecore.EObject"/>
                    <instanceof value="org.eclipse.core.resources.IProject" />
                </or>
            </triggerPoints>
			<commonSorter
					class="org.eclipse.fordiac.ide.typemanagement.navigator.KeepOrderContentSorter"
                	id="org.eclipse.fordiac.ide.hierarchymanager.ui.hierarchySorter">
				<parentExpression>
                	<or>
                    	<instanceof value="org.eclipse.emf.ecore.EObject"/>
                    	<instanceof value="org.eclipse.core.resources.IProject" />
					</or>
				</parentExpression>
			</commonSorter>    
			  <dragAssistant
		            class="org.eclipse.fordiac.ide.hierarchymanager.ui.listeners.HierarchyManagerDragAssistant"
		            viewerId="org.eclipse.fordiac.ide.hierarchymanager.view">
		      </dragAssistant>
			<dropAssistant
	          class="org.eclipse.fordiac.ide.hierarchymanager.ui.listeners.HierarchyManagerDropAssistant"
	          id="org.eclipse.fordiac.ide.hierarchymanager.ui.listeners.HierarchyManagerDropAssistant">
		       <possibleDropTargets>
		          <or>
		             <adapt type="org.eclipse.fordiac.ide.hierarchymanager.model.hierarchy.Node"/>
		          </or>
		       </possibleDropTargets>
		    </dropAssistant>        
		</navigatorContent>
		<actionProvider
            	class="org.eclipse.fordiac.ide.hierarchymanager.ui.actions.OpenLeafActionProvider"
            	id="org.eclipse.fordiac.ide.hierarchymanager.ui.openLeafActionProvider">
            <enablement>
	            <or>
	               <instanceof value="org.eclipse.fordiac.ide.hierarchymanager.model.hierarchy.Leaf"> </instanceof>               
	            </or>
        	</enablement>
  		</actionProvider>  
   	</extension>
   	<extension point="org.eclipse.ui.perspectiveExtensions">  
		<perspectiveExtension 
				targetID="org.eclipse.fordiac.ide.SystemPerspective">
			<showInPart id ="org.eclipse.fordiac.ide.hierarchymanager.view"/>
		</perspectiveExtension>
   	</extension>
	<extension
    		point="org.eclipse.ui.handlers">
      	<handler 
            	class="org.eclipse.fordiac.ide.hierarchymanager.ui.handlers.RenameLevel"
            	commandId="org.eclipse.ui.edit.rename">
         	<activeWhen>
         		<with variable="selection">
			    	<count value="1" />
			    	<iterate operator="and">
			     		<adapt type="org.eclipse.fordiac.ide.hierarchymanager.model.hierarchy.Level" />
			    	</iterate>
		   		</with>           
         	</activeWhen>
      	</handler>
      	<handler 
            	class="org.eclipse.fordiac.ide.hierarchymanager.ui.handlers.DeleteLevel"
            	commandId="org.eclipse.ui.edit.delete">
			<activeWhen>
            	<with variable="selection">
            		<count value="1" />
			    	<iterate operator="and" ifEmpty="false">
	         			<adapt type="org.eclipse.fordiac.ide.hierarchymanager.model.hierarchy.Node" />
	      			</iterate>
		   		</with>            
         	</activeWhen>
		</handler>
    </extension>  
    <extension
          point="org.eclipse.ui.commands">
       <category
             id="org.eclipse.fordiac.ide.hierarchymanager.ui.plantHierarchy"
             name="4diac IDE Plant Hierarchy Commands">
       </category>
       <command
             categoryId="org.eclipse.fordiac.ide.hierarchymanager.ui.plantHierarchy"
             defaultHandler="org.eclipse.fordiac.ide.hierarchymanager.ui.handlers.ExpandAll"
             id="org.eclipse.fordiac.ide.hierarchymanager.ui.expandAll"
             name="Expand All">
       </command>
       <command
             categoryId="org.eclipse.fordiac.ide.hierarchymanager.ui.plantHierarchy"
             defaultHandler="org.eclipse.fordiac.ide.hierarchymanager.ui.handlers.CreateLevel"
             id="org.eclipse.fordiac.ide.hierarchymanager.ui.createLevel"
             name="Create Level">
       </command>
    </extension>
    <extension
        	point="org.eclipse.ui.menus">
       	<menuContribution
             allPopups="false"
             locationURI="toolbar:org.eclipse.fordiac.ide.hierarchymanager.view">
          <command
                commandId="org.eclipse.fordiac.ide.hierarchymanager.ui.expandAll"
                icon="platform:/plugin/org.eclipse.ui/icons/full/elcl16/expandall.png"
                style="push">
          </command>
		</menuContribution>
		<menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?endof=group.edit">
         <command
               commandId="org.eclipse.fordiac.ide.hierarchymanager.ui.createLevel"
               tooltip="Create a new level">
			<visibleWhen
            		checkEnabled="false">
				<with variable="activePartId">
					<equals value="org.eclipse.fordiac.ide.hierarchymanager.view" />
				</with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.rename"
               tooltip="Rename selected level">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.fordiac.ide.hierarchymanager.model.hierarchy.Level">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.edit.delete"
               tooltip="Delete selected node">  
               <visibleWhen
                  checkEnabled="false">
               <with variable="selection">
            		<count value="1" />
			    	<iterate operator="and" ifEmpty="false">
	         			<adapt type="org.eclipse.fordiac.ide.hierarchymanager.model.hierarchy.Node" />
	      			</iterate>
		   		</with>
            </visibleWhen>           
         </command>
      </menuContribution>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
       <propertyContributor
             contributorId="org.eclipse.fordiac.ide.hierarchymanager.ui.view">
          <propertyCategory
                category="level">
          </propertyCategory>
       </propertyContributor>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
       <propertyTabs
             contributorId="org.eclipse.fordiac.ide.hierarchymanager.ui.view">
          <propertyTab
                category="level"
                id="org.eclipse.fordiac.ide.hierarchymanager.ui.levelPropertyTab"
                label="Level">
          </propertyTab>
       </propertyTabs>
    </extension>
    <extension
          point="org.eclipse.ui.views.properties.tabbed.propertySections">
       <propertySections
             contributorId="org.eclipse.fordiac.ide.hierarchymanager.ui.view">
          <propertySection
                class="org.eclipse.fordiac.ide.hierarchymanager.ui.properties.LevelSection"
                filter="org.eclipse.fordiac.ide.hierarchymanager.ui.properties.LevelSectionFilter"
                id="org.eclipse.fordiac.ide.hierarchymanager.ui.commentPropertySection"
                tab="org.eclipse.fordiac.ide.hierarchymanager.ui.levelPropertyTab">
          </propertySection>
       </propertySections>
    </extension>
    <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.fordiac.ide.hierarchymanager.ui.decorator.NodeCommentDecorator"
            id="org.eclipse.fordiac.ide.hierarchymanager.ui.NodeCommentDecorator"
            label="Node comment decoration"
            lightweight="true"
            state="true">
            <enablement>
            	<or>
                	<objectClass name="org.eclipse.fordiac.ide.hierarchymanager.model.hierarchy.Node" />
               	</or>
            </enablement>
            <description>
               Show comments beside nodes.
            </description>
      </decorator>
   </extension>
</plugin>
