<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated manifest -->
      <package
            uri="http://tempuri.org/library-mgmt"
            class="org.tempuri.library.mgmt.MgmtPackage"
            genModel="model/manifest.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated manifest -->
      <parser
            type="mgmt"
            class="org.tempuri.library.mgmt.util.MgmtResourceFactoryImpl"/>
   </extension>

</plugin>
