<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated communication -->
      <package
            uri="http://Communication/1.0"
            class="org.eclipse.fordiac.ide.systemconfiguration.segment.Communication.CommunicationPackage"
            genModel="model/communication.genmodel"/>
   </extension>

</plugin>
