<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabs">
		<tab
			class="org.eclipse.fordiac.ide.deployment.debug.ui.runtime.RuntimeLaunchConfigurationTab"
			group="org.eclipse.fordiac.ide.debug.ui.fbLaunchConfigurationTabGroup"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.runtimeTab"
			name="Runtime">
			<placement
				after="org.eclipse.fordiac.ide.debug.ui.mainTab">
			</placement>
		</tab>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="org.eclipse.fordiac.ide.deployment.debug.ui.DeploymentLaunchConfigurationTabGroup"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.deploymentLaunchConfigurationTabGroup"
			type="org.eclipse.fordiac.ide.deployment.debug.deployLaunch">
			<launchMode
				mode="run">
			</launchMode>
			<launchMode
				mode="debug"
				perspective="org.eclipse.debug.ui.DebugPerspective">
			</launchMode>
			<launchMode
				mode="org.eclipse.fordiac.ide.deployment.debug.monitor"
				perspective="org.eclipse.debug.ui.DebugPerspective">
			</launchMode>
		</launchConfigurationTabGroup>
		<launchConfigurationTabGroup
			class="org.eclipse.fordiac.ide.deployment.debug.ui.fb.DeploymentFBLaunchConfigurationTabGroup"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.deployFBLaunchConfigurationTabGroup"
			type="org.eclipse.fordiac.ide.deployment.debug.deployFBLaunch">
			<launchMode
				mode="run">
			</launchMode>
			<launchMode
				mode="debug"
				perspective="org.eclipse.debug.ui.DebugPerspective">
			</launchMode>
		</launchConfigurationTabGroup>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
			class="org.eclipse.fordiac.ide.deployment.debug.ui.DeploymentLaunchShortcut"
			icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/run_exc.png"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.deployShortcut"
			label="Deploy"
			modes="run, debug, org.eclipse.fordiac.ide.deployment.debug.monitor">
			<contextualLaunch>
				<contextLabel
					label="Deploy"
					mode="run">
				</contextLabel>
				<contextLabel
					label="Deploy and Monitor"
					mode="debug">
				</contextLabel>
				<contextLabel
					label="Monitor"
					mode="org.eclipse.fordiac.ide.deployment.debug.monitor">
				</contextLabel>
				<enablement>
					<with
						variable="selection">
						<iterate>
							<or>
								<adapt
									type="org.eclipse.core.resources.IResource">
									<test
										property="org.eclipse.core.resources.extension"
										value="sys">
									</test>
								</adapt>
								<instanceof
									value="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem">
								</instanceof>
								<instanceof
									value="org.eclipse.fordiac.ide.model.libraryElement.SystemConfiguration">
								</instanceof>
								<instanceof
									value="org.eclipse.fordiac.ide.model.libraryElement.Device">
								</instanceof>
								<instanceof
									value="org.eclipse.fordiac.ide.model.libraryElement.Resource">
								</instanceof>
							</or>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
		<shortcut
			class="org.eclipse.fordiac.ide.deployment.debug.ui.fb.DeploymentFBLaunchShortcut"
			icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/fb_type_run.png"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.deployFBLaunchShortcut"
			label="Remote Evaluate FB Type"
			modes="run, debug">
			<contextualLaunch>
				<contextLabel
					label="Run FB Type on Device"
					mode="run">
				</contextLabel>
				<contextLabel
					label="Debug FB Type on Device"
					mode="debug">
				</contextLabel>
				<enablement>
					<with
						variable="selection">
						<count
							value="1">
						</count>
						<iterate>
							<adapt
								type="org.eclipse.core.resources.IResource">
								<or>
									<test
										property="org.eclipse.fordiac.ide.typemanagement.fbType"
										value="SimpleFBType">
									</test>
									<test
										property="org.eclipse.fordiac.ide.typemanagement.fbType"
										value="BasicFBType">
									</test>
									<test
										property="org.eclipse.fordiac.ide.typemanagement.fbType"
										value="FunctionFBType">
									</test>
									<test
										property="org.eclipse.fordiac.ide.typemanagement.fbType"
										value="ServiceInterfaceFBType">
									</test>
								</or>
							</adapt>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="org.eclipse.fordiac.ide.deployment.debug.deployLaunch"
			icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/run_exc.png"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.deploymentLaunchConfigurationTypeImage">
		</launchConfigurationTypeImage>
		<launchConfigurationTypeImage
			configTypeID="org.eclipse.fordiac.ide.deployment.debug.deployFBLaunch"
			icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/fb_type_run.png"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.launchConfigurationTypeImageDeployFB">
		</launchConfigurationTypeImage>
	</extension>
	<extension
		point="org.eclipse.debug.ui.debugModelPresentations">
		<debugModelPresentation
			class="org.eclipse.fordiac.ide.deployment.debug.ui.DeploymentDebugModelPresentation"
			id="org.eclipse.fordiac.ide.deployment.debug.model">
		</debugModelPresentation>
	</extension>
	<extension
		point="org.eclipse.core.runtime.adapters">
		<factory
			class=""
			adaptableType="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem">
			<adapter
				type="org.eclipse.debug.ui.actions.ILaunchable">
			</adapter>
		</factory>
		<factory
			class=""
			adaptableType="org.eclipse.fordiac.ide.model.libraryElement.SystemConfiguration">
			<adapter
				type="org.eclipse.debug.ui.actions.ILaunchable">
			</adapter>
		</factory>
		<factory
			class=""
			adaptableType="org.eclipse.fordiac.ide.model.libraryElement.Device">
			<adapter
				type="org.eclipse.debug.ui.actions.ILaunchable">
			</adapter>
		</factory>
		<factory
			class=""
			adaptableType="org.eclipse.fordiac.ide.model.libraryElement.Resource">
			<adapter
				type="org.eclipse.debug.ui.actions.ILaunchable">
			</adapter>
		</factory>
		<factory
			class=""
			adaptableType="org.eclipse.fordiac.ide.systemconfiguration.editparts.DeviceEditPart">
			<adapter
				type="org.eclipse.debug.ui.actions.ILaunchable">
			</adapter>
		</factory>
		<factory
			class=""
			adaptableType="org.eclipse.fordiac.ide.systemconfiguration.editparts.ResourceEditPart">
			<adapter
				type="org.eclipse.debug.ui.actions.ILaunchable">
			</adapter>
		</factory>
		<factory
			adaptableType="org.eclipse.fordiac.ide.model.libraryElement.INamedElement"
			class="org.eclipse.fordiac.ide.deployment.debug.ui.breakpoint.DeploymentToggleBreakpointsTargetExtension">
			<adapter
				type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
			</adapter>
		</factory>
		<factory
			adaptableType="org.eclipse.gef.EditPart"
			class="org.eclipse.fordiac.ide.deployment.debug.ui.breakpoint.DeploymentToggleBreakpointsTargetExtension">
			<adapter
				type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
			</adapter>
		</factory>
		<factory
			adaptableType="org.eclipse.ui.IEditorPart"
			class="org.eclipse.fordiac.ide.deployment.debug.ui.breakpoint.DeploymentToggleBreakpointsTargetExtension">
			<adapter
				type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
			</adapter>
		</factory>
		<factory
			adaptableType="org.eclipse.fordiac.ide.deployment.debug.watch.IWatch"
			class="org.eclipse.fordiac.ide.deployment.debug.ui.breakpoint.DeploymentToggleBreakpointsTargetExtension">
			<adapter
				type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
			</adapter>
		</factory>
		<factory
			adaptableType="org.eclipse.fordiac.ide.deployment.debug.DeploymentDebugStackFrame"
			class="org.eclipse.fordiac.ide.deployment.debug.ui.actions.DeploymentDebugViewActionProviderFactory">
			<adapter
				type="org.eclipse.debug.internal.ui.viewers.model.provisional.IViewActionProvider">
			</adapter>
		</factory>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			categoryId="org.eclipse.fordiac.ide.commands.category"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.cleanDevice"
			name="Clean Device">
		</command>
		<command
			categoryId="org.eclipse.fordiac.ide.commands.category"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.killDevice"
			name="Kill Device">
		</command>
		<command
			categoryId="org.eclipse.fordiac.ide.commands.category"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.restartDevice"
			name="Restart Device">
		</command>
		<command
			categoryId="org.eclipse.fordiac.ide.commands.category"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.deleteResource"
			name="Delete Resource">
		</command>
		<command
			categoryId="org.eclipse.fordiac.ide.commands.category"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.onlineCreateFB"
			name="Online Create FB">
		</command>
		<command
			categoryId="org.eclipse.fordiac.ide.commands.category"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.onlineStartFB"
			name="Online Start FB">
		</command>
		<command
			categoryId="org.eclipse.fordiac.ide.commands.category"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.onlineCreateConnection"
			name="Online Create Connection">
		</command>
		<command
			categoryId="org.eclipse.debug.ui.category.run"
			description="Open monitor launch configuration dialog"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.OpenMonitorConfigurations"
			name="Monitor...">
		</command>
		<command
			categoryId="org.eclipse.debug.ui.category.run"
			description="Runs the last launched monitor configuration"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.MonitorToolbar"
			name="Run Last Launch Monitor Configuration">
		</command>
		<command
			categoryId="org.eclipse.debug.ui.category.run"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.toggleWatch"
			name="Toggle Watch">
		</command>
		<command
			categoryId="org.eclipse.fordiac.ide.commands.category"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.force"
			name="Force Value">
		</command>
		<command
			categoryId="org.eclipse.fordiac.ide.commands.category"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.triggerEvent"
			name="Trigger Event">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.fordiac.ide.deployment.debug.ui.handler.CleanDeviceHandler"
			commandId="org.eclipse.fordiac.ide.deployment.debug.ui.cleanDevice">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.DeviceDefinition" />
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.deployment.debug.ui.handler.KillDeviceHandler"
			commandId="org.eclipse.fordiac.ide.deployment.debug.ui.killDevice">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.DeviceDefinition" />
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.deployment.debug.ui.handler.RestartDeviceHandler"
			commandId="org.eclipse.fordiac.ide.deployment.debug.ui.restartDevice">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.DeviceDefinition" />
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.deployment.debug.ui.handler.DeleteResourceHandler"
			commandId="org.eclipse.fordiac.ide.deployment.debug.ui.deleteResource">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.ResourceDefinition" />
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.deployment.debug.ui.handler.OnlineCreateFBHandler"
			commandId="org.eclipse.fordiac.ide.deployment.debug.ui.onlineCreateFB">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.FBDefinition" />
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.deployment.debug.ui.handler.OnlineStartFBHandler"
			commandId="org.eclipse.fordiac.ide.deployment.debug.ui.onlineStartFB">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.FBDefinition" />
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.deployment.debug.ui.handler.OnlineCreateConnectionHandler"
			commandId="org.eclipse.fordiac.ide.deployment.debug.ui.onlineCreateConnection">
			<activeWhen>
				<with
					variable="selection">
					<iterate
						operator="and" ifEmpty="false">
						<instanceof
							value="org.eclipse.fordiac.ide.application.editparts.ConnectionEditPart">
						</instanceof>
					</iterate>
				</with>
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.deployment.debug.ui.handler.ToggleWatchpointHandler"
			commandId="org.eclipse.fordiac.ide.deployment.debug.ui.toggleWatch">
			<activeWhen>
				<or>
					<with
						variable="activePartId">
						<equals
							value="org.eclipse.fordiac.ide.editors.SystemEditor">
						</equals>
					</with>
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="or">
							<instanceof
								value="org.eclipse.fordiac.ide.deployment.debug.watch.IWatch">
							</instanceof>
						</iterate>
					</with>
				</or>
			</activeWhen>
			<enabledWhen>
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="or">
						<or>
							<adapt
								type="org.eclipse.fordiac.ide.model.libraryElement.FBNetworkElement">
							</adapt>
							<adapt
								type="org.eclipse.fordiac.ide.model.libraryElement.IInterfaceElement">
							</adapt>
						</or>
					</iterate>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.deployment.debug.ui.handler.ForceHandler"
			commandId="org.eclipse.fordiac.ide.deployment.debug.ui.force">
			<activeWhen>
				<or>
					<with
						variable="activePartId">
						<equals
							value="org.eclipse.fordiac.ide.editors.SystemEditor">
						</equals>
					</with>
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="or">
							<instanceof
								value="org.eclipse.fordiac.ide.deployment.debug.watch.IVarDeclarationWatch">
							</instanceof>
						</iterate>
					</with>
				</or>
			</activeWhen>
			<enabledWhen>
				<with
					variable="selection">
					<count
						value="1">
					</count>
					<iterate
						ifEmpty="false"
						operator="and">
						<adapt
							type="org.eclipse.fordiac.ide.model.libraryElement.IInterfaceElement">
							<instanceof
								value="org.eclipse.fordiac.ide.model.libraryElement.VarDeclaration">
							</instanceof>
						</adapt>
					</iterate>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.deployment.debug.ui.handler.TriggerEventHandler"
			commandId="org.eclipse.fordiac.ide.deployment.debug.ui.triggerEvent">
			<activeWhen>
				<or>
					<with
						variable="activePartId">
						<equals
							value="org.eclipse.fordiac.ide.editors.SystemEditor">
						</equals>
					</with>
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="or">
							<instanceof
								value="org.eclipse.fordiac.ide.deployment.debug.watch.IEventWatch">
							</instanceof>
						</iterate>
					</with>
				</or>
			</activeWhen>
			<enabledWhen>
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<adapt
							type="org.eclipse.fordiac.ide.model.libraryElement.IInterfaceElement">
							<instanceof
								value="org.eclipse.fordiac.ide.model.libraryElement.Event">
							</instanceof>
						</adapt>
					</iterate>
				</with>
			</enabledWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.deployment.debug.ui.handler.ToggleBoolValueHandler"
			commandId="org.eclipse.fordiac.ide.application.commands.toggleBoolValue">
			<activeWhen>
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<instanceof
							value="org.eclipse.fordiac.ide.deployment.debug.ui.editparts.WatchValueEditPart">
						</instanceof>
					</iterate>
				</with>
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.deployment.debug.ui.handler.ToggleBoolWatchHandler"
			commandId="org.eclipse.fordiac.ide.application.commands.toggleBoolValue">
			<activeWhen>
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<instanceof
							value="org.eclipse.fordiac.ide.deployment.debug.watch.IVarDeclarationWatch">
						</instanceof>
					</iterate>
				</with>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.bindings">
		<key
			commandId="org.eclipse.fordiac.ide.application.commands.toggleBoolValue"
			contextId="org.eclipse.debug.ui.debugging"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M2+Q">
		</key>
		<key
			commandId="org.eclipse.fordiac.ide.deployment.debug.ui.triggerEvent"
			contextId="org.eclipse.debug.ui.debugging"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+M2+E">
		</key>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			allPopups="false"
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<separator
				name="org.eclipse.fordiac.ide.deployment.debug.ui.deviceInteractions"
				visible="true" />
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.cleanDevice"
				icon="fordiacimage://ICON_CLEAR_DEVICE"
				label="Clean Device"
				style="push">
				<visibleWhen
					checkEnabled="false">
					<reference
						definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.DeviceDefinition" />
				</visibleWhen>
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.killDevice"
				icon="fordiacimage://ICON_KILL_DEVICE"
				label="Kill Device"
				style="push">
				<visibleWhen
					checkEnabled="false">
					<reference
						definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.DeviceDefinition" />
				</visibleWhen>
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.restartDevice"
				icon="fordiacimage://ICON_DEVICE_RESTART"
				label="Restart Device"
				style="push">
				<visibleWhen
					checkEnabled="false">
					<reference
						definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.DeviceDefinition" />
				</visibleWhen>
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.deleteResource"
				icon="fordiacimage://ICON_DELETE_RESOURCE"
				label="Delete Resource"
				style="push">
				<visibleWhen
					checkEnabled="false">
					<reference
						definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.ResourceDefinition" />
				</visibleWhen>
			</command>
			<separator
				name="org.eclipse.fordiac.ide.deployment.debug.ui.onlineEdit"
				visible="true">
			</separator>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.onlineCreateFB"
				label="Online Create FB"
				style="push">
				<visibleWhen
					checkEnabled="false">
					<reference
						definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.FBDefinition" />
				</visibleWhen>
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.onlineStartFB"
				label="Online Start FB">
				<visibleWhen
					checkEnabled="false">
					<reference
						definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.FBDefinition" />
				</visibleWhen>
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.onlineCreateConnection"
				label="Online Create Connection"
				style="push">
				<visibleWhen
					checkEnabled="false">
					<with
						variable="selection">
						<iterate
							ifEmpty="false"
							operator="and">
							<and>
								<instanceof
									value="org.eclipse.fordiac.ide.application.editparts.ConnectionEditPart">
								</instanceof>
								<not>
									<instanceof
										value="org.eclipse.fordiac.ide.fbtypeeditor.network.viewer.ConnectionEditPartRO">
									</instanceof>
								</not>
							</and>
						</iterate>
					</with>
				</visibleWhen>
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.toggleWatch"
				disabledIcon="platform:/plugin/org.eclipse.debug.ui/icons/full/obj16/read_obj_disabled.png"
				icon="platform:/plugin/org.eclipse.debug.ui/icons/full/obj16/read_obj.png"
				label="Toggle Watch"
				style="push"
				tooltip="Toggle watch for selected elements">
				<visibleWhen
					checkEnabled="true">
				</visibleWhen>
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.force"
				disabledIcon="platform:/plugin/org.eclipse.debug.ui/icons/full/obj16/write_disabled.png"
				icon="platform:/plugin/org.eclipse.debug.ui/icons/full/obj16/write_obj.png"
				label="Force Value..."
				tooltip="Force the watch value">
				<visibleWhen
					checkEnabled="true">
				</visibleWhen>
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.triggerEvent"
				icon="fordiacimage://ICON_TRIGGER_EVENT"
				label="Trigger Event"
				tooltip="Trigger an event">
				<visibleWhen
					checkEnabled="true">
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			locationURI="menu:org.eclipse.ui.run?after=additions">
			<separator
				name="org.eclipse.fordiac.ide.deployment.debug.ui.deviceInteractions"
				visible="true">
			</separator>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.cleanDevice"
				icon="fordiacimage://ICON_CLEAR_DEVICE"
				label="Clean Device"
				style="push">
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.killDevice"
				icon="fordiacimage://ICON_KILL_DEVICE"
				label="Kill Device"
				style="push">
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.restartDevice"
				icon="fordiacimage://ICON_DEVICE_RESTART"
				label="Restart Device"
				style="push">
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.deleteResource"
				icon="fordiacimage://ICON_DELETE_RESOURCE"
				label="Delete Resource"
				style="push">
			</command>
			<separator
				name="org.eclipse.fordiac.ide.deployment.debug.ui.onlineEdit"
				visible="true">
			</separator>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.onlineCreateFB"
				label="Online Create FB"
				style="push">
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.onlineStartFB"
				label="Online Start FB">
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.onlineCreateConnection"
				label="Online Create Connection"
				style="push">
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.toggleWatch"
				disabledIcon="platform:/plugin/org.eclipse.debug.ui/icons/full/obj16/read_obj_disabled.png"
				icon="platform:/plugin/org.eclipse.debug.ui/icons/full/obj16/read_obj.png"
				label="Toggle Watch"
				style="push"
				tooltip="Toggle watch for selected elements">
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.force"
				disabledIcon="platform:/plugin/org.eclipse.debug.ui/icons/full/obj16/write_disabled.png"
				icon="platform:/plugin/org.eclipse.debug.ui/icons/full/obj16/write_obj.png"
				label="Force Value"
				tooltip="Force the watch value">
			</command>
			<command
				commandId="org.eclipse.fordiac.ide.deployment.debug.ui.triggerEvent"
				icon="fordiacimage://ICON_TRIGGER_EVENT"
				label="Trigger Event"
				tooltip="Trigger an event">
			</command>
		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.core.expressions.definitions">
		<definition
			id="org.eclipse.fordiac.ide.deployment.debug.ui.FBDefinition">
			<with
				variable="selection">
				<iterate ifEmpty="false">
					<or>
						<instanceof
							value="org.eclipse.fordiac.ide.model.libraryElement.FB">
						</instanceof>
						<and>
							<instanceof
								value="org.eclipse.fordiac.ide.application.editparts.FBEditPart">
							</instanceof>
							<not>
								<or>
									<instanceof
										value="org.eclipse.fordiac.ide.fbtypeeditor.network.viewer.FBEditPartRO" />
									<instanceof
										value="org.eclipse.fordiac.ide.fbtypeeditor.network.editparts.AdapterFBEditPart" />
								</or>
							</not>
						</and>
					</or>
				</iterate>
			</with>
		</definition>
		<definition
			id="org.eclipse.fordiac.ide.deployment.debug.ui.ResourceDefinition">
			<with variable="selection">
				<iterate ifEmpty="false">
					<or>
						<instanceof
							value="org.eclipse.fordiac.ide.model.libraryElement.Resource">
						</instanceof>
						<instanceof
							value="org.eclipse.fordiac.ide.systemconfiguration.editparts.ResourceEditPart">
						</instanceof>
					</or>
				</iterate>
			</with>
		</definition>
		<definition
			id="org.eclipse.fordiac.ide.deployment.debug.ui.DeviceDefinition">
			<with variable="selection">
				<iterate ifEmpty="false">
					<or>
						<instanceof
							value="org.eclipse.fordiac.ide.model.libraryElement.Device">
						</instanceof>
						<instanceof
							value="org.eclipse.fordiac.ide.systemconfiguration.editparts.DeviceEditPart">
						</instanceof>
					</or>
				</iterate>
			</with>
		</definition>
	</extension>
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension
			targetID="org.eclipse.fordiac.ide.SystemPerspective">
			<actionSet
				id="org.eclipse.debug.ui.launchActionSet">
			</actionSet>
		</perspectiveExtension>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchGroups">
		<launchGroup
			bannerImage="fordiacimage://ICON_START_MONITORING"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.monitor"
			image="fordiacimage://ICON_START_MONITORING"
			label="Monitor"
			mode="org.eclipse.fordiac.ide.deployment.debug.monitor"
			title="Monitor">
		</launchGroup>
	</extension>
	<!-- org.eclipse.ui.actionSets is required to use action base classes from
	debug framework -->
	<extension
		point="org.eclipse.ui.actionSets">
		<actionSet
			id="org.eclipse.fordiac.ide.deployment.debug.ui.MonitorSet"
			label="Monitor"
			visible="true">
			<menu
				id="org.eclipse.ui.run"
				label="Run"
				path="additions">
				<separator
					name="monitorGroup">
				</separator>
			</menu>
			<action
				class="org.eclipse.fordiac.ide.deployment.debug.ui.actions.OpenMonitorConfigurations"
				definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.OpenMonitorConfigurations"
				id="org.eclipse.fordiac.ide.deployment.debug.ui.OpenMonitorConfigurations"
				label="Monitor Configurations..."
				menubarPath="org.eclipse.ui.run/monitorGroup">
			</action>
			<action
				class="org.eclipse.fordiac.ide.deployment.debug.ui.actions.MonitorAsAction"
				icon="fordiacimage://ICON_START_MONITORING"
				id="org.eclipse.fordiac.ide.deployment.debug.ui.MonitorWithConfigurationAction"
				label="Monitor As"
				menubarPath="org.eclipse.ui.run/monitorGroup"
				style="pulldown">
			</action>
			<action
				label="Monitor History"
				style="pulldown"
				class="org.eclipse.fordiac.ide.deployment.debug.ui.actions.MonitorHistoryMenuAction"
				menubarPath="org.eclipse.ui.run/monitorGroup"
				id="org.eclipse.fordiac.ide.deployment.debug.ui.MonitorHistoryMenuAction">
			</action>
			<action
				id="org.eclipse.fordiac.ide.deployment.debug.ui.MonitorDropDownAction"
				toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"
				hoverIcon="fordiacimage://ICON_START_MONITORING"
				class="org.eclipse.fordiac.ide.deployment.debug.ui.actions.MonitorToolbarAction"
				icon="fordiacimage://ICON_START_MONITORING"
				label="Monitor"
				style="pulldown">
			</action>
		</actionSet>
	</extension>
	<!-- org.eclipse.ui.popupMenus is required to use action base class from
	debug framework -->
	<extension
		point="org.eclipse.ui.popupMenus">
		<objectContribution
			id="org.eclipse.fordiac.ide.deployment.debug.ui.contextualLaunch.monitor"
			objectClass="java.lang.Object">
			<action
				class="org.eclipse.fordiac.ide.deployment.debug.ui.actions.MonitorContextualLaunchAction"
				enablesFor="+"
				icon="fordiacimage://ICON_START_MONITORING"
				id="org.eclipse.fordiac.ide.deployment.debug.ui.contextualLaunch.monitor.submenu"
				label="Monitor As"
				menubarPath="additions"
				style="pulldown">
			</action>
			<enablement>
				<or>
					<and>
						<not>
							<with
								variable="org.eclipse.core.runtime.Platform">
								<test
									args="org.eclipse.debug.core"
									property="org.eclipse.core.runtime.bundleState"
									value="ACTIVE">
								</test>
							</with>
						</not>
						<adapt
							type="org.eclipse.core.resources.IResource">
						</adapt>
					</and>
					<and>
						<with
							variable="org.eclipse.core.runtime.Platform">
							<test
								args="org.eclipse.debug.core"
								property="org.eclipse.core.runtime.bundleState"
								value="ACTIVE">
							</test>
						</with>
						<test
							property="org.eclipse.debug.core.launchable"
							value="org.eclipse.fordiac.ide.deployment.debug.monitor">
						</test>
					</and>
				</or>
			</enablement>
		</objectContribution>
	</extension>
	<extension
		point="org.eclipse.debug.core.statusHandlers">
		<statusHandler
			class="org.eclipse.fordiac.ide.deployment.debug.ui.handler.LaunchActiveStatusHandler"
			code="200"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.statusHandlerLaunchActive"
			plugin="org.eclipse.fordiac.ide.deployment.debug">
		</statusHandler>
	</extension>
	<extension
		point="org.eclipse.debug.ui.detailPaneFactories">
		<detailFactories
			class="org.eclipse.fordiac.ide.deployment.debug.ui.breakpoint.DeploymentWatchpointDetailPaneFactory"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.watchpoint.detailFactory">
			<enablement>
				<with
					variable="selection">
					<count
						value="1">
					</count>
					<iterate>
						<adapt
							type="org.eclipse.fordiac.ide.deployment.debug.breakpoint.DeploymentWatchpoint">
						</adapt>
					</iterate>
				</with>
			</enablement>
		</detailFactories>
	</extension>
	<extension
		point="org.eclipse.ui.themes">
		<colorDefinition
			categoryId="org.eclipse.fordiac.ide.themeCategory"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.forceColor"
			label="Force background"
			value="97,53,131">
		</colorDefinition>
		<colorDefinition
			categoryId="org.eclipse.fordiac.ide.themeCategory"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.watchColor"
			label="Watch background"
			value="26,95,180">
		</colorDefinition>
		<colorDefinition
			categoryId="org.eclipse.fordiac.ide.themeCategory"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.watchErrorColor"
			label="Watch error background"
			value="192,28,40">
		</colorDefinition>
	</extension>
	<extension
		point="org.eclipse.ui.editors.annotationTypes">
		<type
			markerType="org.eclipse.fordiac.ide.deployment.debug.watchpointMarker"
			name="org.eclipse.fordiac.ide.deployment.debug.ui.watchpoint"
			super="org.eclipse.debug.core.breakpoint">
		</type>
	</extension>
	<extension
		point="org.eclipse.fordiac.ide.gef.graphicalAnnotationStyle">
		<style
			annotationType="org.eclipse.fordiac.ide.deployment.debug.ui.watchpoint"
			layer="80"
			styler="org.eclipse.fordiac.ide.deployment.debug.ui.annotation.WatchpointAnnotationStyler">
		</style>
		<style
			annotationType="org.eclipse.fordiac.ide.deployment.debug.ui.annotation.watchValue"
			layer="100"
			styler="org.eclipse.fordiac.ide.deployment.debug.ui.annotation.WatchValueAnnotationStyler">
		</style>
	</extension>
	<extension
		point="org.eclipse.fordiac.ide.gef.graphicalAnnotationProvider">
		<provider
			class="org.eclipse.fordiac.ide.deployment.debug.ui.annotation.WatchValueAnnotationProvider">
			<enablement>
				<adapt
					type="org.eclipse.core.resources.IResource">
					<test
						property="org.eclipse.core.resources.extension"
						value="sys">
					</test>
				</adapt>
			</enablement>
		</provider>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.fordiac.ide.debug.ui.preferences.FordiacDebugPreferencePage"
			class="org.eclipse.fordiac.ide.deployment.debug.ui.preferences.DeploymentDebugPreferencePage"
			id="org.eclipse.fordiac.ide.deployment.debug.ui.preferences"
			name="Deployment">
		</page>
	</extension>
</plugin>
