<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="org.eclipse.fordiac.ide.deployment.debug.ui.runtime.RuntimeLaunchConfigurationTab"
            group="org.eclipse.fordiac.ide.debug.ui.simpleFBLaunchConfigurationTabGroup"
            id="org.eclipse.fordiac.ide.deployment.debug.ui.runtimeTab"
            name="Runtime">
         <placement
               after="org.eclipse.fordiac.ide.debug.ui.mainTab">
         </placement>
      </tab>
      <tab
            class="org.eclipse.fordiac.ide.deployment.debug.ui.runtime.RuntimeLaunchConfigurationTab"
            group="org.eclipse.fordiac.ide.debug.ui.basicFBLaunchConfigurationTabGroup"
            id="org.eclipse.fordiac.ide.deployment.debug.ui.runtimeTab"
            name="Runtime">
         <placement
               after="org.eclipse.fordiac.ide.debug.ui.mainTab">
         </placement>
      </tab>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.fordiac.ide.deployment.debug.ui.DeploymentLaunchConfigurationTabGroup"
            id="org.eclipse.fordiac.ide.deployment.debug.ui.deploymentLaunchConfigurationTabGroup"
            type="org.eclipse.fordiac.ide.deployment.debug.deployLaunch">
         <launchMode
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.fordiac.ide.deployment.debug.ui.DeploymentLaunchShortcut"
            icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/download.gif"
            id="org.eclipse.fordiac.ide.deployment.debug.ui.deployShortcut"
            label="Deploy"
            modes="run">
         <contextualLaunch>
            <contextLabel
                  label="Deploy"
                  mode="run">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <iterate>
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="sys">
                           </test>
                        </adapt>
                        <instanceof
                              value="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.fordiac.ide.model.libraryElement.SystemConfiguration">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.fordiac.ide.model.libraryElement.Device">
                        </instanceof>
                        <instanceof
                              value="org.eclipse.fordiac.ide.model.libraryElement.Resource">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.fordiac.ide.deployment.debug.deployLaunch"
            icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/download.gif"
            id="org.eclipse.fordiac.ide.deployment.debug.ui.deploymentLaunchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class=""
            adaptableType="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
      <factory
            class=""
            adaptableType="org.eclipse.fordiac.ide.model.libraryElement.SystemConfiguration">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
      <factory
            class=""
            adaptableType="org.eclipse.fordiac.ide.model.libraryElement.Device">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
      <factory
            class=""
            adaptableType="org.eclipse.fordiac.ide.model.libraryElement.Resource">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
      <factory
            class=""
            adaptableType="org.eclipse.gef.EditPart">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
   </extension>

</plugin>
