<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.fordiac.ide.export.openCompareEditor" name="openCompareEditor" schema="schema/org.eclipse.fordiac.ide.export.openCompareEditor.exsd"/>
   <extension-point id="org.eclipse.fordiac.ide.export.exportFilter" name="exportFilter" schema="schema/org.eclipse.fordiac.ide.export.exportFilter.exsd"/>
   <extension-point id="org.eclipse.fordiac.ide.export.language.supportFactory" name="Language Export Support Factory" schema="schema/org.eclipse.fordiac.ide.export.language.supportFactory.exsd"/>
   <extension
         id="builder"
         name="4diac Export Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.fordiac.ide.export.builder.ExportBuilder">
         </run>
      </builder>
   </extension>   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.fordiac.ide.export.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
