<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 <extension
	id="ModelSearchResultPage"
	point="org.eclipse.search.searchResultViewPages">
	<viewPage
		id="org.eclipse.fordiac.ide.model.search.ModelSearchResultPage"
		searchResultClass="org.eclipse.fordiac.ide.model.search.ModelSearchResult"
		class="org.eclipse.fordiac.ide.model.search.ModelSearchResultPage">
	</viewPage> 
 </extension>
 
 <extension point="org.eclipse.search.searchPages">
		<page
			id="org.eclipse.fordiac.ide.model.search.ModelSearchPage"
			label="IEC 61499 Model Search"
			sizeHint="250,160"
			tabPosition="1"
			extensions="*:1"
			showScopeSection="false"		
			canSearchEnclosingProjects="true"
			class="org.eclipse.fordiac.ide.model.search.ModelSearchPage">
		</page>
	</extension>
</plugin>
