<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="factory" name="Search Factory" schema="schema/factory.exsd"/>
 <extension
	id="ModelSearchResultPage"
	point="org.eclipse.search.searchResultViewPages">
	<viewPage
		id="org.eclipse.fordiac.ide.model.search.ModelSearchResultPage"
		searchResultClass="org.eclipse.fordiac.ide.model.search.ModelSearchResult"
		class="org.eclipse.fordiac.ide.model.search.ModelSearchResultPage">
	</viewPage> 
 </extension>
 
 <extension point="org.eclipse.search.searchPages">
		<page
			id="org.eclipse.fordiac.ide.model.search.ModelSearchPage"
			label="IEC 61499 Model Search"
			sizeHint="250,160"
			tabPosition="1"
			extensions="*:1"
			showScopeSection="false"		
			canSearchEnclosingProjects="true"
			class="org.eclipse.fordiac.ide.model.search.ModelSearchPage">
		</page>
	</extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          categoryId="org.eclipse.fordiac.ide.commands.category"
          defaultHandler="org.eclipse.fordiac.ide.model.search.handlers.OpenModelSearchPageHandler"
          id="org.eclipse.fordiac.ide.model.search.openModelSearchPage"
          name="IEC 61499 Model... ">
    </command>
    <command
          categoryId="org.eclipse.fordiac.ide.commands.category"
          defaultHandler="org.eclipse.fordiac.ide.model.search.handlers.SearchTypeReferences"
          id="org.eclipse.fordiac.ide.model.search.typeReferences"
          name="References">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
       
       <!-- Note: The menu (re-) definition has to be here due to bug: -->
       <!--       See https://bugs.eclipse.org/bugs/show_bug.cgi?id=213385 for details-->
       <menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=navigate">
        <menu label="Search"
              mnemonic="a"
              id="org.eclipse.search.menu">
           <separator name="internalDialogGroup" visible="false" />
           <separator name="dialogGroup" visible="false" />
           <separator name="fileSearchContextMenuActionsGroup"
                      visible="true" />
           <separator name="contextMenuActionsGroup" visible="true" />
           <separator name="occurencesActionsGroup" visible="true" />
           <separator name="extraSearchGroup" visible="true" />
        </menu>
     </menuContribution>
       
       
    <menuContribution
          locationURI="menu:org.eclipse.search.menu?after=dialogGroup">
       <command commandId="org.eclipse.fordiac.ide.model.search.openModelSearchPage" />          
    </menuContribution>
    <menuContribution
          locationURI="menu:org.eclipse.search.menu?after=extraSearchGroup">
       <command commandId="org.eclipse.fordiac.ide.model.search.typeReferences" />          
    </menuContribution>
    <menuContribution
			locationURI="popup:org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer?after=group.search">
		<command commandId="org.eclipse.fordiac.ide.model.search.typeReferences" >
       		<visibleWhen checkEnabled="false">
       			<with variable="selection">
       				<count value="1"/>
                	<iterate>
                    	<adapt type="org.eclipse.core.resources.IFile">
                    	<or>
                            <test forcePluginActivation="false" property="org.eclipse.core.resources.extension" value="fbt" />
                            <test forcePluginActivation="false" property="org.eclipse.core.resources.extension" value="sub" />
                            <test forcePluginActivation="false" property="org.eclipse.core.resources.extension" value="dtd" />
                            <test forcePluginActivation="false" property="org.eclipse.core.resources.extension" value="dtp" />
                        	<test forcePluginActivation="false" property="org.eclipse.core.resources.extension" value="fct" />
                        </or>
                        </adapt>
                  	</iterate>
               	</with>
        	</visibleWhen>
		</command>          
	</menuContribution>
</extension>
	
</plugin>
