<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 /*******************************************************************************
  * Copyright (c) 2023 Primetals Technologies Austria GmbH
  *
  * This program and the accompanying materials are made available under the
  * terms of the Eclipse Public License 2.0 which is available at
  * http://www.eclipse.org/legal/epl-2.0.
  *
  * SPDX-License-Identifier: EPL-2.0
  *
  * Contributors:
  *   Michael Oberlehner , Bianca Wiesmayr- initial API and implementation and/or initial documentation
  *******************************************************************************/
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hierarchy -->
      <package
            uri="platform:/resource/org.eclipse.fordiac.ide.hierarchymanager.model/model/hierarchy.xsd"
            class="org.eclipse.fordiac.ide.hierarchymanager.model.hierarchy.HierarchyPackage"
            genModel="model/hierarchy.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated hierarchy -->
      <parser
            type="hier"
            class="org.eclipse.fordiac.ide.hierarchymanager.model.hierarchy.util.HierarchyResourceFactoryImpl"/>
   </extension>
</plugin>
