<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.fordiac.ide.export.exportFilter">
      <ExportFilter
            class="org.eclipse.fordiac.ide.export.forte_lua.ForteLuaExportFilter"
            description="FORTE Lua Export"
            name="FORTE Lua"
            sortIndex="20"
            id="org.eclipse.fordiac.ide.export.exportFilter.lua">
      </ExportFilter>
   </extension>

</plugin>
