<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
            class="org.eclipse.fordiac.ide.fbrtlauncher.preferences.FBRTPreferencePage"
            id="org.eclipse.fordiac.ide.fbrtlauncher.preferences.FBRTPreferencePage"
            name="FBRT Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.fordiac.ide.fbrtlauncher.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
    		name="Local FBRT"
    		delegate="org.eclipse.core.externaltools.internal.launchConfigurations.ProgramLaunchDelegate"
    		modes="run"               
    		id="org.eclipse.fordiac.ide.runLocalFBRT">        
		</launchConfigurationType>
	</extension>
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			type="org.eclipse.fordiac.ide.runLocalFBRT"
			class="org.eclipse.fordiac.ide.fbrtlauncher.FBRTLaunchGroup"
			id="org.eclipse.fordiac.ide.fbrtlauncher.launchConfigurationTabGroup">
		</launchConfigurationTabGroup>
	</extension>
	
	<extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.fordiac.ide.runLocalFBRT"
			icon="platform:/plugin/org.eclipse.ui/icons/full/obj16/elements_obj.png"
            id="org.eclipse.fordiac.ide.launchConfigurationTypeImage.runLocalFBRT">
      </launchConfigurationTypeImage>
   </extension>
</plugin>
