<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.fordiac.ide.deployment.devicemanagementinteractor">
      <DeviceManagementInteractorProvider
            class="org.eclipse.fordiac.ide.deployment.opcua.providers.OPCUADevMgmtInteractorProvider">
      </DeviceManagementInteractorProvider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?endof=org.eclipse.gef.group.edit">
         <command
               commandId="org.eclipse.fordiac.ide.discovery.getResources"
               label="Get Resources"
               icon="fordiacimage://ICON_DISCOVER"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.fordiac.ide.systemconfiguration.editor.SystemConfigurationEditor">
                  </equals>
                  <and>
                     <reference
                           definitionId="org.eclipse.fordiac.ide.deployment.debug.ui.DeviceDefinition">
                     </reference>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
</plugin>