<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 /*******************************************************************************
  * Copyright (c) 2024 Primetals Technologies Austria GmbH
  *
  * This program and the accompanying materials are made available under the
  * terms of the Eclipse Public License 2.0 which is available at
  * http://www.eclipse.org/legal/epl-2.0.
  *
  * SPDX-License-Identifier: EPL-2.0
  *
  * Contributors:
  *  Patrick Aigner - initial API and implementation and/or initial documentation
  *******************************************************************************/
-->

<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.fordiac.ide.library.ui.editors.ManifestEditor"
            extensions="MF"
            id="org.eclipse.fordiac.ide.library.ui.editors.ManifestEditor"
            matchingStrategy="org.eclipse.fordiac.ide.ui.editors.FordiacEditorMatchingStrategy"
            name="%editor.manifest.name"
            contributorClass="org.eclipse.fordiac.ide.library.ui.editors.ManifestEditorActionBarContributor">
      </editor>
      <editorContentTypeBinding
            contentTypeId="org.eclipse.fordiac.ide.library.ui.manifest"
            editorId="org.eclipse.fordiac.ide.library.ui.editors.ManifestEditor">
      </editorContentTypeBinding>
   </extension>
   
   
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-names="MANIFEST.MF"
            id="org.eclipse.fordiac.ide.library.ui.manifest"
            name="%content-type.manifest.name"
            priority="normal">
      </content-type>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="org.eclipse.fordiac.ide.library.ui.wizards.importCategory"
            name="%wizard.libraryCategory.name">
      </category>
  <wizard
      category="org.eclipse.fordiac.ide.library.ui.wizards.importCategory"
      class="org.eclipse.fordiac.ide.library.ui.wizards.UnifiedLibraryImportWizard"
      icon="fordiacimage://ICON_LINKED_LIBRARY"
      id="org.eclipse.fordiac.ide.library.ui.wizards.UnifiedLibraryImportWizard"
      name="%wizard.unifiedLibraryImport.name">
    <description>%wizard.unifiedLibraryImport.description</description>
  </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.eclipse.fordiac.ide.library.ui.wizards.exportCategory"
            name="%wizard.libraryCategory.name">
      </category>
  <wizard
      category="org.eclipse.fordiac.ide.library.ui.wizards.exportCategory"
      class="org.eclipse.fordiac.ide.library.ui.wizards.LibraryExportWizard"
      icon="fordiacimage://ICON_LINKED_LIBRARY"
      id="org.eclipse.fordiac.ide.library.ui.wizards.LibraryExportWizard"
      name="%wizard.libraryExport.name">
    <description>%wizard.libraryExport.description</description>
  </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.activities">
    <activity
    	name="%activity.wizardDisabling.name"
    	description="%activity.wizardDisabling.description"
    	id="org.eclipse.fordiac.ide.ui.wizardDisabling">
    	<enabledWhen>
    		<and>
    			<count value="1"/>
      			<iterate ifEmpty="false">
      				<or>
      					<and>
                        	<instanceof value="org.eclipse.core.resources.IFolder"/>
                           <or>
                              <test
                                    property="org.eclipse.core.resources.name"
                                    value="Type Library">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.name"
                                    value="Standard Libraries">
                              </test>
                              <test
                                    property="org.eclipse.core.resources.name"
                                    value="External Libraries">
                              </test></or>
                        </and>
        				<instanceof value="org.eclipse.core.resources.IProject"/>
        			</or>
    			</iterate>
    		</and>
   		</enabledWhen>
  	</activity>
   </extension>
   
	<extension point="org.eclipse.ui.commands">
  		<command
      		id="org.eclipse.fordiac.ide.library.ui.openManageLibraryWizard"
      		name="%command.openManageLibraryWizard.name"/>
	</extension>
	
<extension point="org.eclipse.ui.handlers">
  <handler
      commandId="org.eclipse.fordiac.ide.library.ui.openManageLibraryWizard"
      class="org.eclipse.fordiac.ide.library.ui.handlers.OpenManageLibraryWizardHandler"/>
</extension>

   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">

         <command
               commandId="org.eclipse.fordiac.ide.library.ui.openManageLibraryWizard"
               label="%ManageLibraryWizard_Label"
               tooltip="%ManageLibraryWizard_Description"
               style="push">

            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                  	<or>
	             		<and>
		                     <instanceof value="org.eclipse.core.resources.IFolder"/>
		                     <or>
		                     	<test property="org.eclipse.core.resources.name" value="External Libraries"></test>
		                     	<test property="org.eclipse.core.resources.name" value="Standard Libraries"></test>
		                     </or>
	                    </and>
                    	<instanceof value="org.eclipse.core.resources.IProject"/>
                    </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
            class="org.eclipse.fordiac.ide.library.ui.preferences.LibraryPreferencePage"
            id="org.eclipse.fordiac.ide.library.preferences.LibraryPreferences"
            name="%preferencePage.library.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.fordiac.ide.properties.FordiacPropertyPage"
            class="org.eclipse.fordiac.ide.library.ui.preferences.LibraryPreferencePage"
            id="org.eclipse.fordiac.ide.library.properties.LibraryPreferences"
            name="%propertyPage.library.name">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.fordiac.ide.systemmanagement.FordiacNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
</plugin>
