<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="4diac IDE Target" sequenceNumber="25">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/elk/updates/releases/0.9.1/"/>
			<unit id="org.eclipse.elk.algorithms.feature.feature.group" version="0.9.1"/>
			<unit id="org.eclipse.elk.algorithms.feature.source.feature.group" version="0.9.1"/>
			<unit id="org.eclipse.elk.feature.feature.group" version="0.9.1"/>
			<unit id="org.eclipse.elk.feature.source.feature.group" version="0.9.1"/>
			<unit id="org.eclipse.elk.libavoid.feature.feature.group" version="0.9.1"/>
			<unit id="org.eclipse.elk.libavoid.feature.source.feature.group" version="0.9.1"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/nebula/releases/latest"/>
			<unit id="org.eclipse.nebula.feature.feature.group" version="3.1.1.202402011804"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/gef/classic/nightly/latest/"/>
			<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.draw2d.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.draw2d.source.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.gef.source.feature.group" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/modeling/emf/compare/updates/releases/3.3/R202406060900"/>
			<unit id="org.eclipse.emf.compare.egit.feature.group" version="3.3.25.202406060900"/>
			<unit id="org.eclipse.emf.compare.egit.source.feature.group" version="3.3.25.202406060900"/>
			<unit id="org.eclipse.emf.compare.feature.group" version="3.3.25.202406060900"/>
			<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.25.202406060900"/>
			<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.3.25.202406060900"/>
			<unit id="org.eclipse.emf.compare.rcp.ui.feature.group" version="3.3.25.202406060900"/>
			<unit id="org.eclipse.emf.compare.rcp.ui.source.feature.group" version="3.3.25.202406060900"/>
			<unit id="org.eclipse.emf.compare.source.feature.group" version="3.3.25.202406060900"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/nattable/releases/2.4.0/repository/"/>
			<unit id="org.eclipse.nebula.widgets.nattable.core.feature.feature.group" version="2.4.0.202405230453"/>
			<unit id="org.eclipse.nebula.widgets.nattable.core.feature.source.feature.group" version="2.4.0.202405230453"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2024-12"/>
			<unit id="javax.activation" version="1.2.2.v20221203-1659"/>
			<unit id="org.eclipse.platform.feature.group" version="4.34.0.v20241120-1800"/>
			<unit id="org.eclipse.egit.feature.group" version="7.1.0.202411261347-r"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.40.0.v20241018-1213"/>
			<unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.22.0.v20240902-1518"/>			
			<unit id="org.eclipse.sirius.properties.feature.feature.group" version="7.4.4.202410041328"/>
			<unit id="org.eclipse.sirius.samples.feature.group" version="7.4.4.202410041328"/>
			<unit id="org.eclipse.sirius.specifier.feature.group" version="7.4.4.202410041328"/>
			<unit id="org.eclipse.sirius.specifier.properties.feature.feature.group" version="7.4.4.202410041328"/>
			<unit id="org.eclipse.xtext.sdk.feature.group" version="2.37.0.v20241119-0857"/>
      		<unit id="org.eclipse.swtbot.eclipse.feature.group" version="4.2.1.202406141605"/>
      		<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="4.2.1.202406141605"/>
      		<unit id="org.eclipse.swtbot.feature.group" version="4.2.1.202406141605"/>
      		<unit id="org.eclipse.swtbot.generator.feature.feature.group" version="4.2.1.202406141605"/>
      		<unit id="org.eclipse.swtbot.ide.feature.group" version="4.2.1.202406141605"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
      		<repository location="https://download.eclipse.org/technology/swtbot/releases/4.2.1/"/>
      		<unit id="org.eclipse.swtbot.nebula.nattable.finder" version="4.2.1.202406141605"/>
    	</location>
		<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">

			<feature id="org.eclipse.fordiac.ide.milo" label="Milo Dependencies" provider-name="Eclipse 4diac" version="3.0.0.qualifier">

   

   

   

   
				<description url="http://www.example.com/description">
      [Enter Feature Description here.]
   </description>
				<copyright url="http://www.example.com/copyright">
      [Enter Copyright Description here.]
   </copyright>
				<license url="http://www.example.com/license">
      [Enter License Description here.]
   </license>
				<plugin id="javax.activation" version="0.0.0"/>
			</feature>
			<dependencies>
				<dependency>
					<groupId>org.eclipse.milo</groupId>
					<artifactId>sdk-client</artifactId>
					<version>0.6.14</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.slf4j</groupId>
					<artifactId>slf4j-simple</artifactId>
					<version>1.7.36</version>
					<type>jar</type>
				</dependency>
			</dependencies>
		</location>
	</locations>
</target>