<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
********************************************************************************
 * Copyright (c) 2020, 2026 Primetals Austria GmbH
 *                          Martin Erich Jobst
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Contributors:
 * Michael Jäger
 *    - initial API and implementation and/or initial documentation
 * Martin Erich Jobst
 *    - add graphical annotation provider
 ********************************************************************************
-->

<plugin>
   <extension-point id="graphicalAnnotationProvider" name="Graphical Annotation Provider" schema="schema/graphicalAnnotationProvider.exsd"/>
   <extension-point id="openListener" name="openListener" schema="schema/openListener.exsd"/>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="org.eclipse.fordiac.ide.model.problem"
            name="org.eclipse.fordiac.ide.model.ui.annotation.error"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
      <type
            markerSeverity="1"
            markerType="org.eclipse.fordiac.ide.model.problem"
            name="org.eclipse.fordiac.ide.model.ui.annotation.warning"
            super="org.eclipse.ui.workbench.texteditor.warning">
      </type>
      <type
            markerSeverity="0"
            markerType="org.eclipse.fordiac.ide.model.problem"
            name="org.eclipse.fordiac.ide.model.ui.annotation.info"
            super="org.eclipse.ui.workbench.texteditor.info">
      </type>
      <type
            markerSeverity="0"
            markerType="org.eclipse.fordiac.ide.model.ui.predecessor"
            name="org.eclipse.fordiac.ide.model.ui.annotation.util.predecessor">
      </type>
      <type
            markerSeverity="0"
            markerType="org.eclipse.fordiac.ide.model.ui.connectionSource"
            name="org.eclipse.fordiac.ide.model.ui.annotation.util.connectionSource">
      </type>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
            class="org.eclipse.fordiac.ide.model.ui.preferences.BlockSizePreferencePage"
            id="org.eclipse.fordiac.ide.model.ui.preferences.BlockSizePreferences"
            name="Block Size">
      </page>
      <page
            category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
            class="org.eclipse.fordiac.ide.model.ui.preferences.ValidationPreferencePage"
            id="org.eclipse.fordiac.ide.model.ui.preferences.ValidationPreferences"
            name="Validation">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.fordiac.ide.properties.FordiacPropertyPage"
            class="org.eclipse.fordiac.ide.model.ui.preferences.BlockSizePreferencePage"
            id="org.eclipse.fordiac.ide.model.ui.properties.BlockSizePreferences"
            name="Block Size">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.fordiac.ide.systemmanagement.FordiacNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
      <page
            category="org.eclipse.fordiac.ide.properties.FordiacPropertyPage"
            class="org.eclipse.fordiac.ide.model.ui.preferences.ValidationPreferencePage"
            id="org.eclipse.fordiac.ide.model.ui.properties.ValidationPreferences"
            name="Validation">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.fordiac.ide.systemmanagement.FordiacNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
  <extension
       id="predecessor"
       name="Event Predecessor Marker"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.marker">
    </super>
    <persistent
          value="false">
    </persistent>
  </extension>
  <extension
       id="connectionSource"
       name="Connection Source Marker"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.core.resources.marker">
    </super>
    <persistent
          value="false">
    </persistent>
  </extension>
</plugin>
