<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.fordiac.ide.debug.ui.st.STLaunchConfigurationTabGroup"
            id="org.eclipse.fordiac.ide.debug.ui.st.stFunctionLaunchConfigurationTabGroup"
            type="org.eclipse.fordiac.ide.debug.stFunctionLaunch">
         <launchMode
               mode="run">
         </launchMode>
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.fordiac.ide.debug.stFunctionLaunch"
            icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/function.png"
            id="org.eclipse.fordiac.ide.debug.ui.st.launchConfigurationTypeImage.stFunctionLaunch">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.xtext.ui.editor.XtextEditor"
            class="org.eclipse.fordiac.ide.debug.ui.st.breakpoint.STToggleBreakpointsTargetExtension">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jface.text.TextSelection"
            class="org.eclipse.fordiac.ide.debug.ui.st.codemining.TextSelectionIVariableAdapterFactory">
         <adapter
               type="org.eclipse.debug.core.model.IVariable">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.fordiac.ide.debug.ui.st.breakpoint.STBreakpointPropertyPage"
            id="org.eclipse.fordiac.ide.debug.ui.st.breakpoint.propertyPage"
            name="Breakpoint">
         <enabledWhen>
            <adapt
                  type="org.eclipse.fordiac.ide.debug.st.breakpoint.STLineBreakpoint">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.ui.detailPaneFactories">
      <detailFactories
            class="org.eclipse.fordiac.ide.debug.ui.st.breakpoint.STBreakpointDetailPaneFactory"
            id="org.eclipse.fordiac.ide.debug.ui.st.breakpoint.detailFactory">
         <enablement>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.fordiac.ide.debug.st.breakpoint.STLineBreakpoint">
                  </adapt>
               </iterate>
            </with>
         </enablement>
      </detailFactories>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.fordiac.ide.debug.ui.st.breakpointProperties"
            name="Breakpoint Properties">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.fordiac.ide.debug.ui.st.breakpoint.STBreakpointPropertyHandler"
            commandId="org.eclipse.fordiac.ide.debug.ui.st.breakpointProperties">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate>
                  <adapt
                        type="org.eclipse.fordiac.ide.debug.st.breakpoint.STLineBreakpoint">
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.debug.ui.BreakpointView?after=additions">
         <command
               commandId="org.eclipse.fordiac.ide.debug.ui.st.breakpointProperties"
               label="Breakpoint Properties..."
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
