<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.fordiac.ide.debug.ui.st.STLaunchConfigurationTabGroup"
            id="org.eclipse.fordiac.ide.debug.ui.st.stFunctionLaunchConfigurationTabGroup"
            type="org.eclipse.fordiac.ide.debug.stFunctionLaunch">
         <launchMode
               mode="run">
         </launchMode>
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>

</plugin>
