<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.fordiac.ide.debug.ui.st.STLaunchConfigurationTabGroup"
            id="org.eclipse.fordiac.ide.debug.ui.st.stFunctionLaunchConfigurationTabGroup"
            type="org.eclipse.fordiac.ide.debug.stFunctionLaunch">
         <launchMode
               mode="run">
         </launchMode>
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.xtext.ui.editor.XtextEditor"
            class="org.eclipse.fordiac.ide.debug.ui.st.breakpoint.STToggleBreakpointsTargetExtension">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jface.text.TextSelection"
            class="org.eclipse.fordiac.ide.debug.ui.st.codemining.TextSelectionIVariableAdapterFactory">
         <adapter
               type="org.eclipse.debug.core.model.IVariable">
         </adapter>
      </factory>
   </extension>

</plugin>
