<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.fordiac.ide.monitoring.actionSet2"
            label="label"
            visible="true">
         <action
               class="org.eclipse.fordiac.ide.monitoring.actions.SwitchMonitoringModeAction"
               icon="fordiacimage://ICON_StartMonitoring"
               id="org.eclipse.fordiac.ide.monitoring.actions.SwitchMonitoringModeAction"
               label="Online"
               style="pulldown"
               toolbarPath="Normal">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.fordiac.ide.monitoring.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
            class="org.eclipse.fordiac.ide.monitoring.preferences.MonitoringPreferences"
            id="org.eclipse.fordiac.ide.monitoring.preferences.MonitoringPreferences"
            name="Monitoring Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
       <view
            class="org.eclipse.fordiac.ide.monitoring.views.WatchesView"
            icon="fordiacimage://ICON_WatchesView"
            id="org.eclipse.fordiac.ide.monitoring.views.WatchesView"
            name="Watches"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.fordiac.ide.monitoring.MonitoringPerspective"
            icon="fordiacimage://ICON_MonitoringPerspective"
            id="org.eclipse.fordiac.ide.monitoring.MonitoringPerspective"
            name="4DIAC Debug">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.gef.ChildrenProvider">
      <children
            class="org.eclipse.fordiac.ide.monitoring.MonitoringChildren">
      </children>
   </extension>
   <extension
         point="org.eclipse.ui.commands"> 
      <command
            categoryId="org.eclipse.fordiac.ide.application.commands.category4DIAC"
            id="org.eclipse.fordiac.ide.monitoring.MonitorSystem"
            name="Monitor System">
         <state id="org.eclipse.ui.commands.toggleState"
               class="org.eclipse.fordiac.ide.monitoring.handlers.MonitorSystemStateProvider">               
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.fordiac.ide.monitoring.MonitorSystem"
               style="toggle"
               tooltip="Enable/Disable monitoring of selected system">
               <visibleWhen
                  checkEnabled="false">
               <iterate>
                  <instanceof
                        value="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.fordiac.ide.monitoring.handlers.MonitorSystemHandler"
            commandId="org.eclipse.fordiac.ide.monitoring.MonitorSystem">
            <visibleWhen>
           
               <iterate>
                  <instanceof
                        value="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem">
                  </instanceof>
               </iterate>
            </visibleWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.fordiac.ide.monitoring.decorators.SystemMonitoringDecorator"
            icon="fordiacimage://ICON_MonitoringDecorator"
            id="org.eclipse.fordiac.ide.monitoring.decorator"
            label="Monitored System"
            lightweight="false"
            location="TOP_LEFT"
            state="true">
            <enablement>
               <objectClass
                     name="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem">
               </objectClass>      
         </enablement>
      </decorator>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated monitoring -->
      <package
            uri="org.eclipse.fordiac.monitoring"
            class="org.eclipse.fordiac.ide.model.monitoring.MonitoringPackage"
            genModel="model/monitoring.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.fordiac.ide.monitoring"
            name="4DIAC Monitoring">
      </category>
      <command
            categoryId="org.eclipse.fordiac.ide.monitoring"
            id="org.eclipse.fordiac.ide.monitoring.commands.removeAllWatches"
            name="Remove All Watches">
      </command>
      <command
            categoryId="org.eclipse.fordiac.ide.monitoring"
            id="org.eclipse.fordiac.ide.monitoring.commands.addWatch"
            name="Watch">
      </command>
      <command
            categoryId="org.eclipse.fordiac.ide.monitoring"
            id="org.eclipse.fordiac.ide.monitoring.commands.triggerEvent"
            name="Trigger Event">
      </command>
      <command
            categoryId="org.eclipse.fordiac.ide.monitoring"
            id="org.eclipse.fordiac.ide.monitoring.commands.force"
            name="Force">
      </command>
      <command
            categoryId="org.eclipse.fordiac.ide.monitoring"
            id="org.eclipse.fordiac.ide.monitoring.commands.clearForce"
            name="Clear Force">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="%contributions.menus.debug.label"
               mnemonic="%contributions.menus.debug.menmonic"
               id="org.eclipse.4diac.ide.monitoring.menus.debug">          
          <menu
               label="%contributions.menus.debug.monitorSystem.label"
               id="org.eclipse.4diac.ide.monitoring.menus.debug.monitorsystem">
             <dynamic
                   class="org.eclipse.fordiac.ide.monitoring.MonitoredSystems"
                   id="org.eclipse.fordiac.ide.monitoring.monitoredSystems">
             </dynamic>               
          </menu>     
           
         <separator
               name="org.eclipse.fordiac.ide.monitoring.monitoringBegin"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.fordiac.ide.monitoring.commands.triggerEvent"
               icon="fordiacimage://ICON_TriggerEvent"
               label="%contributions.menus.debug.triggerEvent"
               tooltip="%contributions.menus.debug.triggerEventToolTip">
         </command>
         <command
               commandId="org.eclipse.fordiac.ide.monitoring.commands.addWatch"
               icon="fordiacimage://ICON_WatchInterfaceElements"
               label="%contributions.menus.debug.watch"
               tooltip="%contributions.menus.debug.watchToolTip">
         </command>
         <command
               commandId="org.eclipse.fordiac.ide.monitoring.commands.removeAllWatches"
               icon="fordiacimage://ICON_RemoveWatch"
               label="%contributions.menus.debug.removeAllWatches"
               tooltip="%contributions.menus.debug.removeAllWatchesToolTip">
         </command>
         <command
               commandId="org.eclipse.fordiac.ide.monitoring.commands.force"
               icon="fordiacimage://ICON_ForceValue"
               label="%contributions.menus.debug.force"
               tooltip="%contributions.menus.debug.forceToolTip">
         </command>
         <command
               commandId="org.eclipse.fordiac.ide.monitoring.commands.clearForce"
               icon="fordiacimage://ICON_ClearForce"
               label="%contributions.menus.debug.clearForce"
               tooltip="%contributions.menus.debug.clearForceToolTop">
         </command>
         </menu>
      </menuContribution>         
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.fordiac.ide.monitoring.commands.triggerEvent"
               icon="fordiacimage://ICON_TriggerEvent"
               label="%contributions.menus.debug.triggerEvent"
               tooltip="%contributions.menus.debug.triggerEventToolTip">
           <visibleWhen checkEnabled="false">
               <iterate>
               <or>
                  <instanceof
                        value="org.eclipse.fordiac.ide.gef.editparts.InterfaceEditPart">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.fordiac.ide.monitoring.editparts.MonitoringEditPart">
                  </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.fordiac.ide.monitoring.commands.addWatch"
               icon="fordiacimage://ICON_WatchInterfaceElements"
               label="%contributions.menus.debug.watch"
               tooltip="%contributions.menus.debug.watchToolTip">
            <visibleWhen checkEnabled="false">
               <with variable="activeEditorId">
               	<or>
		            <equals
		                  value="org.eclipse.fordiac.ide.application.editors.FBNetworkEditor">
		            </equals>
		            <equals
		                  value="org.eclipse.fordiac.ide.application.editors.SubAppNetworkEditor">
		            </equals>
		            <equals
		                  value="org.eclipse.fordiac.ide.resourceediting.editors.ResourceDiagramEditor">
		            </equals>
		            <equals
		                  value="org.eclipse.fordiac.ide.fbtypeeditor.network.viewer.CompositeInstanceViewer">
		            </equals>
		            </or>
		         </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.fordiac.ide.monitoring.commands.removeAllWatches"
               icon="fordiacimage://ICON_RemoveWatch"
               label="%contributions.menus.debug.removeAllWatches"
               tooltip="%contributions.menus.debug.removeAllWatchesToolTip">
            <visibleWhen checkEnabled="false">
               <or>
	               <with variable="activeEditorId">
	               	<or>
			            <equals
			                  value="org.eclipse.fordiac.ide.application.editors.FBNetworkEditor">
			            </equals>
			            <equals
			                  value="org.eclipse.fordiac.ide.application.editors.SubAppNetworkEditor">
			            </equals>
			            <equals
			                  value="org.eclipse.fordiac.ide.resourceediting.editors.ResourceDiagramEditor">
			            </equals>
			            <equals
			                  value="org.eclipse.fordiac.ide.fbtypeeditor.network.viewer.CompositeInstanceViewer">
			            </equals>
			            </or>
			         </with>
				   <iterate>
	                  <or>
		                  <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.Application">
		                  </instanceof>
		                  <instanceof
		                        value="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem">
		                  </instanceof>
	                  </or>
	               </iterate>
			   </or>
            </visibleWhen></command>
         <command
               commandId="org.eclipse.fordiac.ide.monitoring.commands.force"
               icon="fordiacimage://ICON_ForceValue"
               label="%contributions.menus.debug.force"
               tooltip="%contributions.menus.debug.forceToolTip">
            <visibleWhen checkEnabled="false">
               <iterate>
                  <or>
                  <instanceof
                        value="org.eclipse.fordiac.ide.gef.editparts.InterfaceEditPart">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.fordiac.ide.monitoring.editparts.MonitoringEditPart">
                  </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.fordiac.ide.monitoring.commands.clearForce"
               icon="fordiacimage://ICON_ClearForce"
               label="%contributions.menus.debug.clearForce"
               tooltip="%contributions.menus.debug.clearForceToolTop">
            <visibleWhen checkEnabled="false">
               <iterate>
                  <or>
                  <instanceof
                        value="org.eclipse.fordiac.ide.gef.editparts.InterfaceEditPart">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.fordiac.ide.monitoring.editparts.MonitoringEditPart">
                  </instanceof>
                  </or>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.fordiac.ide.monitoring.handlers.RemoveAllWatchesHandler"
            commandId="org.eclipse.fordiac.ide.monitoring.commands.removeAllWatches">
      </handler>
      <handler
            class="org.eclipse.fordiac.ide.monitoring.handlers.AddWatchHandler"
            commandId="org.eclipse.fordiac.ide.monitoring.commands.addWatch">
      </handler>
      <handler
            class="org.eclipse.fordiac.ide.monitoring.handlers.TriggerEventHandler"
            commandId="org.eclipse.fordiac.ide.monitoring.commands.triggerEvent">
      </handler>
      <handler
            class="org.eclipse.fordiac.ide.monitoring.handlers.ForceHandler"
            commandId="org.eclipse.fordiac.ide.monitoring.commands.force">
      </handler>
      <handler
            class="org.eclipse.fordiac.ide.monitoring.handlers.ClearForceHandler"
            commandId="org.eclipse.fordiac.ide.monitoring.commands.clearForce">
      </handler>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.deployment.monitoringmanager">
      <MonitoringManager
            class="org.eclipse.fordiac.ide.monitoring.MonitoringManager">
      </MonitoringManager>
   </extension>

</plugin>
