<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.fordiac.ide.debug.st.STLaunchConfigurationDelegate"
            delegateName="Evaluate ST Function"
            id="org.eclipse.fordiac.ide.debug.stFunctionLaunch"
            modes="run, debug"
            name="Evaluate ST Function"
            sourceLocatorId="org.eclipse.fordiac.ide.debug.sourceLocator">
      </launchConfigurationType>
   </extension>
   <extension
         id="org.eclipse.fordiac.ide.debug.st.stLineBreakpointMarker"
         name="ST Line Breakpoint"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.eclipse.fordiac.ide.debug.st.breakpoint.STLineBreakpoint"
            id="org.eclipse.fordiac.ide.debug.st.stLineBreakpoint"
            markerType="org.eclipse.fordiac.ide.debug.st.stLineBreakpointMarker"
            name="ST Line Breakpoint">
      </breakpoint>
   </extension>

</plugin>
