<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.fordiac.ide.export.exportFilter">
      <ExportFilter
            class="org.eclipse.fordiac.ide.export.forte_ng.ForteNgExportFilter"
            description="Export type files to be added to 4diac FORTE"
            name="4diac FORTE 3.x"
            sortIndex="10">
      </ExportFilter>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.export.language.supportFactory">
      <factory
            class="org.eclipse.fordiac.ide.export.forte_ng.algorithm.OtherAlgorithmSupportFactory"
            filter="forte_ng">
         <source
               type="org.eclipse.fordiac.ide.model.libraryElement.OtherAlgorithm">
         </source>
      </factory>
   </extension>

</plugin>
