<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OperationalSemantics -->
      <package
            uri="http://OperationalSemantics/1.0"
            class="org.eclipse.fordiac.ide.fb.interpreter.OpSem.OperationalSemanticsPackage"
            genModel="model/OperationalSemantics.genmodel"/>
   </extension>

<extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.fordiac.ide.fb.interpreter.handler.RecordExecutionTraceHandler"
            commandId="org.eclipse.fordiac.ide.fb.interpreter.recordExecutionTrace">
      </handler>
      <handler
            class="org.eclipse.fordiac.ide.fb.interpreter.handler.CreateRuntimeTestFunctionBlockHandler"
            commandId="org.eclipse.fordiac.ide.fb.interpreter.createTestFb">
      </handler>
            <handler
            class="org.eclipse.fordiac.ide.fb.interpreter.handler.CreateMonitorFBHandler"
            commandId="org.eclipse.fordiac.ide.fb.interpreter.createMonitorFB">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.fordiac.ide.fb.interpreter.recordExecutionTrace"
            name="Record Execution Trace for Network">
      </command>
      <command
            id="org.eclipse.fordiac.ide.fb.interpreter.createTestFb"
            name="Create FB for Test Specification">
      </command>    
            <command
            id="org.eclipse.fordiac.ide.fb.interpreter.createMonitorFB"
            name="Create monitor FB for Test Specification">
      </command> 
   </extension>
   <extension
           point="org.eclipse.ui.menus">
	<menuContribution
         locationURI="menu:org.eclipse.ui.run">  
      <command
            commandId="org.eclipse.fordiac.ide.fb.interpreter.recordExecutionTrace"
            label="Record Execution Trace for Network"
            style="push">
            <visibleWhen checkEnabled="true">
            </visibleWhen>
       </command>
       <command
            commandId="org.eclipse.fordiac.ide.fb.interpreter.createTestFb"
            label="Create FB for Test Specification"
            style="push">
            <visibleWhen checkEnabled="true">
            </visibleWhen>
       </command>
       <command
            commandId="org.eclipse.fordiac.ide.fb.interpreter.createMonitorFB"
            label="Create Composite monitor FB for Test Specification"
            style="push">
            <visibleWhen checkEnabled="true">
            	<with variable="selection">
            		<iterate>
            			<or>
            				<instanceof
                       			value="org.eclipse.fordiac.ide.fbtypeeditor.servicesequence.editparts.SequenceRootEditPart" />
                       	    <instanceof
                       				value="org.eclipse.fordiac.ide.fbtypeeditor.servicesequence.editparts.ServiceSequenceEditPart" />
            				<instanceof
                       				value="org.eclipse.fordiac.ide.model.libraryElement.ServiceSequence" />
            			</or>
            		</iterate>
            	</with>
            </visibleWhen>
       </command>
	</menuContribution>
	<menuContribution
       locationURI="popup:org.eclipse.ui.popup.any?endof=org.eclipse.gef.group.copy">
		<command
       commandId="org.eclipse.fordiac.ide.fb.interpreter.createMonitorFB"
            label="Create Monitor FB for Test Specification"
            style="push">
            <visibleWhen checkEnabled="true">
            	<with variable="selection">
            		<iterate>
            			<or>
            				<instanceof
                       			value="org.eclipse.fordiac.ide.fbtypeeditor.servicesequence.editparts.SequenceRootEditPart" />
                       	    <instanceof
                       				value="org.eclipse.fordiac.ide.fbtypeeditor.servicesequence.editparts.ServiceSequenceEditPart" />
            				<instanceof
                       				value="org.eclipse.fordiac.ide.model.libraryElement.ServiceSequence" />
            			</or>
            		</iterate>
            	</with>
            </visibleWhen>
		</command>
	</menuContribution>
</extension>
   <extension
         point="org.eclipse.emf.compare.rcp.matchEngine">
      <engineFactory
            class="org.eclipse.fordiac.ide.fb.interpreter.compare.FordiacForteInterpreterMatchEngine"
            ranking="150">
      </engineFactory>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.emf.compare.content.type"
            file-extensions="opsem">
      </file-association>
   </extension>2
   <extension
         point="org.eclipse.emf.compare.edit.adapterFactory">
      <factory
            class="org.eclipse.fordiac.ide.fb.interpreter.compare.OpSemRankedAdapterFactory"
            ranking="150"
            supportedTypes="org.eclipse.fordiac.ide.fb.interpreter.OpSem.EventManager"
            uri="http://OperationalSemantics/1.0">
      </factory>
   </extension>
</plugin>
