<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.fordiac.ide.fb.interpreter.mm.FunctionBlockFactory"
            type="fbt">
      </parser>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated OperationalSemantics -->
      <package
            uri="http://OperationalSemantics/1.0"
            class="org.eclipse.fordiac.ide.fb.interpreter.OpSem.OperationalSemanticsPackage"
            genModel="model/OperationalSemantics.genmodel"/>
   </extension>

</plugin>
