<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.CheckProject"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.checkProject">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            library="ant_tasks/ant-ant.jar"
            name="fordiac.importProject"
            class="org.eclipse.fordiac.ide.ant.ant.Import4diacProject">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.CheckSystem"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.checkSystem">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportProjectFBs"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportProjectFBs">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportSingleFB"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportSingleFB">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportFolderFBs"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportFolderFBs">
      </antTask>
   </extension>
      <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportProjectFBsAsXMI"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportProjectFBsAsXMI">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportSingleFBAsXMI"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportSingleFBAsXMI">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportFolderFBsAsXMI"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportFolderFBsAsXMI">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="ant_tasks/ant-ant.jar">
      </extraClasspathEntry>
   </extension>

</plugin>
