<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.CheckTypeLibrary"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.checkTypeLibrary">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            library="ant_tasks/ant-ant.jar"
            name="fordiac.importProject"
            class="org.eclipse.fordiac.ide.ant.ant.Import4diacProject">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.CheckSystem"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.checkSystem">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportProjectFBs"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportProjectFBs">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportSingleFB"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportSingleFB">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportFolderFBs"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportFolderFBs">
      </antTask>
   </extension>
      <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportProjectFBsAsXMI"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportProjectFBsAsXMI">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportSingleFBAsXMI"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportSingleFBAsXMI">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportFolderFBsAsXMI"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportFolderFBsAsXMI">
      </antTask>
   </extension>
      <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportProjectLibElements"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportProjectLibElements">
      </antTask>
   </extension>
      <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportSingleLibElement"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportSingleLibElement">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportFolderLibElements"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportFolderLibElements">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.AddBlockVersionEntry"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.addBlockVersionEntry">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.SetBlockDocumentation"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.setBlockDocumentation">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.SaveBlock"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.saveBlock">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ResaveTypelib"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.resaveTypeLib">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportProjectLibrary"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportProjectLibrary">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ExportProjectLibraries"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.exportProjectLibraries">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.ValidateHierarchy"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.validateHierarchy">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="org.eclipse.fordiac.ide.ant.ant.CheckUnusedDependencies"
            library="ant_tasks/ant-ant.jar"
            name="fordiac.checkUnusedDependencies">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="ant_tasks/ant-ant.jar">
      </extraClasspathEntry>
   </extension>
   
</plugin>
