<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
 			point="org.eclipse.ui.views">
  		<view
			    category="org.eclipse.fordiac.ide.view.category"
			    class="org.eclipse.fordiac.ide.hierarchymanager.view.PlantHierarchyView"
			    icon="platform:/plugin/org.eclipse.ui/icons/full/eview16/filenav_nav.png"
			    id="org.eclipse.fordiac.ide.hierachymanager.view"
			    name="Plant Hierarchy">
  		</view>
	</extension>
   	<extension
 			point="org.eclipse.ui.navigator.viewer">
	    <viewer
            viewerId="org.eclipse.fordiac.ide.hierachymanager.view">
         <options> 
            <property
                  name="org.eclipse.ui.navigator.hideAvailableExtensionsTab"
                  value="true"/>
            <property
                  name="org.eclipse.ui.navigator.hideAvailableCustomizationsDialog"
                  value="true"/> 
            <property
                  name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
                  value="true"/> 
         </options>
      </viewer>
  		<viewerActionBinding
    			viewerId="org.eclipse.fordiac.ide.hierachymanager.view">         
  		</viewerActionBinding>
  		<viewerContentBinding
    			viewerId="org.eclipse.fordiac.ide.hierachymanager.view"> 
			<includes>
				<contentExtension isRoot="true"
	            		pattern="org.eclipse.fordiac.ide.hierachymanager.ui.hierarchycontent" />
           	</includes>
  		</viewerContentBinding>
   	</extension>
   	<extension
			point="org.eclipse.ui.navigator.navigatorContent">
		<navigatorContent
	            activeByDefault="true"
	            id="org.eclipse.fordiac.ide.hierachymanager.ui.hierarchycontent"
	            contentProvider="org.eclipse.fordiac.ide.hierarchymanager.ui.providers.HierarchyContentProvider"
	            labelProvider="org.eclipse.fordiac.ide.hierarchymanager.ui.providers.HierarchyProvider"
	            name="Plant Hierachy Content"
	            priority="highest">
            <possibleChildren>
	              <instanceof value="org.eclipse.emf.ecore.EObject"/>
	        </possibleChildren> 
            <triggerPoints>
                <or>
                    <instanceof value="org.eclipse.emf.ecore.EObject"/>
                    <instanceof value="org.eclipse.core.resources.IProject" />
                </or>
            </triggerPoints>
<!--            <commonSorter
                  class="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.DeviceContentSorter"
                  id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.DeviceContentSorter">
               <parentExpression>
                  <or>
                      <instanceof value="org.eclipse.emf.ecore.EObject"/>
                    <instanceof value="org.eclipse.core.resources.IProject" />
                  </or>
               </parentExpression>
            </commonSorter>-->                    
		</navigatorContent>
   	</extension>

   	<extension point="org.eclipse.ui.perspectiveExtensions">  
		<perspectiveExtension 
				targetID="org.eclipse.fordiac.ide.SystemPerspective">
			<showInPart id ="org.eclipse.fordiac.ide.hierachymanager.view"/>
		</perspectiveExtension>
   	</extension>
</plugin>
