<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="algorithmEditor" name="algorithmEditor" schema="schema/algorithmEditor.exsd"/>
   <extension
         point="org.eclipse.fordiac.ide.typeeditor.typeEditorPage">
      <editorPage
            class="org.eclipse.fordiac.ide.fbtypeeditor.ecc.editors.ECCEditor"
            sortIndex="40">
         <enablement>
            <instanceof
                  value="org.eclipse.fordiac.ide.model.libraryElement.BasicFBType">
            </instanceof>
         </enablement>
      </editorPage>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="property.contributor.fb">
         <propertyTab
               category="ecc"
               id="property.tab.transition"
               label="Transition">
         </propertyTab>
         <propertyTab
               category="ecc"
               id="property.tab.state"
               label="State">
         </propertyTab>
         <propertyTab
               category="ecc"
               id="property.tab.action"
               label="Action">
         </propertyTab>
         <propertyTab
               afterTab="property.tab.action"
               category="ecc"
               id="property.tab.algorithms"
               label="Algorithms">
         </propertyTab>
         <propertyTab
               afterTab="property.tab.algorithms"
               category="ecc"
               id="property.tab.ivars"
               label="Var Internals">
         </propertyTab>
         <propertyTab
               afterTab="property.tab.ivars"
               category="ecc"
               id="property.tab.icvars"
               label="Constants">
         </propertyTab>
         <propertyTab
               afterTab="property.tab.icvars"
               category="ecc"
               id="property.tab.ifbs"
               label="Function Blocks">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="property.contributor.fb">
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.StateSection"
               filter="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.ECStateFilter"
               id="property.section.state"
               tab="property.tab.state">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.ActionSection"
               filter="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.ECActionFilter"
               id="property.section.action"
               tab="property.tab.action">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.AlgorithmsSection"
               filter="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.ECCFilter"
               id="property.section.algorithms"
               tab="property.tab.algorithms">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.TransitionSection"
               filter="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.ECTransitionFilter"
               id="property.section.transition"
               tab="property.tab.transition">            
         </propertySection> 
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            categoryId="org.eclipse.fordiac.ide.themeCategory"
            id="org.eclipse.fordiac.ide.fbtypeeditor.ecc.ECCEditorStateColor"
            label="%FordiacECCPreferencePage_LABEL_ECCStateColor"
            value="184, 182, 206">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.fordiac.ide.themeCategory"
            id="org.eclipse.fordiac.ide.fbtypeeditor.ecc.ECCEditorStateTextColor"
            label="%FordiacECCPreferencePage_LABEL_ECCStateTextColor"
            value="21, 17, 72">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.fordiac.ide.themeCategory"
            id="org.eclipse.fordiac.ide.fbtypeeditor.ecc.ECCEditorAlgorithmColor"
            label="%FordiacECCPreferencePage_LABEL_ECCAlgorithmColor"
            value="235, 242, 179">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.fordiac.ide.themeCategory"
            id="org.eclipse.fordiac.ide.fbtypeeditor.ecc.ECCEditorAlgorithmTextColor"
            label="%FordiacECCPreferencePage_LABEL_ECCAlgorithmTextColor"
            value="91, 101, 11">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.fordiac.ide.themeCategory"
            id="org.eclipse.fordiac.ide.fbtypeeditor.ecc.ECCEditorEventColor"
            label="%FordiacECCPreferencePage_LABEL_ECCEventColor"
            value="245, 181, 183">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.fordiac.ide.themeCategory"
            id="org.eclipse.fordiac.ide.fbtypeeditor.ecc.ECCEditorEventTextColor"
            label="%FordiacECCPreferencePage_LABEL_ECCEventTextColor"
            value="141, 45, 47">
      </colorDefinition>
      <colorDefinition
            categoryId="org.eclipse.fordiac.ide.themeCategory"
            id="org.eclipse.fordiac.ide.fbtypeeditor.ecc.ECCEditorTransitionColor"
            label="%FordiacECCPreferencePage_LABEL_ECCTransitionColor"
            value="68, 64, 121">
      </colorDefinition>
   </extension>
</plugin>
