<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="algorithmEditor" name="algorithmEditor" schema="schema/algorithmEditor.exsd"/>
   <extension
         point="org.eclipse.fordiac.ide.typeeditor.typeEditorPage">
      <editorPage
            class="org.eclipse.fordiac.ide.fbtypeeditor.ecc.editors.ECCEditor"
            sortIndex="40">
         <enablement>
            <instanceof
                  value="org.eclipse.fordiac.ide.model.libraryElement.BasicFBType">
            </instanceof>
         </enablement>
      </editorPage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
            class="org.eclipse.fordiac.ide.fbtypeeditor.ecc.preferences.ECCEditorPreferencePage"
            id="org.eclipse.fordiac.ide.fbtypeeditor.ecc.preferences.ECCEditorPreferencePage"
            name="ECC Editor Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.fordiac.ide.fbtypeeditor.ecc.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="property.contributor.fb">
         <propertyTab
               category="ecc"
               id="property.tab.transition"
               label="Transition">
         </propertyTab>
         <propertyTab
               category="ecc"
               id="property.tab.state"
               label="State">
         </propertyTab>
         <propertyTab
               category="ecc"
               id="property.tab.action"
               label="Action">
         </propertyTab>
         <propertyTab
               afterTab="property.tab.action"
               category="ecc"
               id="property.tab.algorithms"
               label="Algorithms">
         </propertyTab>
         <propertyTab
               afterTab="property.tab.algorithms"
               category="ecc"
               id="property.tab.ivars"
               label="Var Internals">
         </propertyTab>
         <propertyTab
               afterTab="property.tab.ivars"
               category="ecc"
               id="property.tab.icvars"
               label="Constants">
         </propertyTab>
         <propertyTab
               afterTab="property.tab.icvars"
               category="ecc"
               id="property.tab.ifbs"
               label="Function Blocks">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="property.contributor.fb">
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.StateSection"
               filter="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.ECStateFilter"
               id="property.section.state"
               tab="property.tab.state">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.ActionSection"
               filter="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.ECActionFilter"
               id="property.section.action"
               tab="property.tab.action">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.AlgorithmsSection"
               filter="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.ECCFilter"
               id="property.section.algorithms"
               tab="property.tab.algorithms">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.TransitionSection"
               filter="org.eclipse.fordiac.ide.fbtypeeditor.ecc.properties.ECTransitionFilter"
               id="property.section.transition"
               tab="property.tab.transition">            
         </propertySection> 
      </propertySections>
   </extension>
</plugin>
