<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="FordiacNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.fordiac.ide.systemmanagement.nature.FordiacNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.fordiac.ide.export.builder">
      </builder>
   </extension>
   <!-- old nature name so that old projects can still be loaded -->
   <extension
         id="org.fordiac.systemManagement.DistributedNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.fordiac.ide.systemmanagement.nature.FordiacNature">
         </run>
      </runtime>
   </extension>
</plugin>
