<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          id="oclbuilder"
          name="4diac OCL Validation Builder"
          point="org.eclipse.core.resources.builders">
       <builder
             hasNature="true">
          <run
                class="org.eclipse.fordiac.ide.validation.builder.OCLValidationBuilder">
          </run>
       </builder>
    </extension>
    <extension
          point="org.eclipse.core.runtime.preferences">
       <initializer
             class="org.eclipse.fordiac.ide.validation.preferences.PreferenceInitializer">
       </initializer>
    </extension>
    <extension
          point="org.eclipse.ui.propertyPages">
       <page
             category="org.eclipse.fordiac.ide.properties.FordiacPropertyPage"
             class="org.eclipse.fordiac.ide.validation.preferences.OCLValidationPropertyPage"
             id="org.eclipse.fordiac.ide.validation.ocl.settingspage"
             name="OCL Validation">
          <enabledWhen>
             <adapt
                   type="org.eclipse.core.resources.IProject">
                <test
                      property="org.eclipse.core.resources.projectNature"
                      value="org.eclipse.fordiac.ide.systemmanagement.FordiacNature">
                </test>
             </adapt>
          </enabledWhen>
       </page>
    </extension>
    <extension
          point="org.eclipse.ui.editors.annotationTypes">
       <type
             markerType="org.eclipse.fordiac.ide.validation.ValidationMarker"
             name="ValidationMarker"/>
       <type
             markerType="org.eclipse.fordiac.ide.validation.OCLMarker"
             name="OCLMarker"/>
    </extension>
    <extension
          id="ValidationMarker"
          name="Validation Problem"
          point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.core.resources.problemmarker" />
       <persistent value="true"/>
    </extension>
    <extension
          id="OCLMarker"
          name="OCL Validation Problem"
          point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.fordiac.ide.validation.ValidationMarker" />
       <persistent value="true"/>
    </extension>
</plugin>
