<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="stalg"
			id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
			name="STAlgorithm Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.validate">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
			name="STAlgorithm">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.keyword_STAlgorithm"/>
		</page>
		<page
			category="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.coloring"
			name="Syntax Coloring">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.keyword_STAlgorithm"/>
		</page>
		<page
			category="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.templates"
			name="Templates">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.keyword_STAlgorithm"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
			name="STAlgorithm">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.keyword_STAlgorithm"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.keyword_STAlgorithm"
			label="STAlgorithm"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Trigger expensive validation"
			id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.validate"
			name="Validate">
		</command>
		<!-- copy qualified name -->
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command
				commandId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.validate"
				style="push"
				tooltip="Trigger expensive validation">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="stalg"
			id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.contenttype"
			name="STAlgorithm File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="stalg">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="stalg">
		</resourceServiceProvider>
		<resourceServiceProvider
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="fbt">
		</resourceServiceProvider>
		<resourceServiceProvider
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="sys">
		</resourceServiceProvider>
		<resourceServiceProvider
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="sub">
		</resourceServiceProvider>
		<resourceServiceProvider
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="atp">
		</resourceServiceProvider>
		<resourceServiceProvider
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="adp">
		</resourceServiceProvider>
		<resourceServiceProvider
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="FBT">
		</resourceServiceProvider>
		<resourceServiceProvider
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="SYS">
		</resourceServiceProvider>
		<resourceServiceProvider
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="SUB">
		</resourceServiceProvider>
		<resourceServiceProvider
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="ATP">
		</resourceServiceProvider>
		<resourceServiceProvider
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="ADP">
		</resourceServiceProvider>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.validator.preferencePage"
			name="Errors/Warnings">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.keyword_STAlgorithm"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.validator.propertyPage"
			name="Errors/Warnings">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.keyword_STAlgorithm"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.stalgorithm.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.stalgorithm.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.stalgorithm.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
  <handler
        class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.ExtractCallableHandler"
        commandId="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.ExtractCallable">
     <activeWhen>
        <reference
              definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened">
        </reference>
     </activeWhen>
  </handler>
  <handler
        class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.MoveElementHandler"
        commandId="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.MoveElement">
     <activeWhen>
        <reference
              definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened">
        </reference>
     </activeWhen>
  </handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=xtext.ui.SourceMenu">
   <menu
         id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.RefactoringMenu"
         label="Refactor">
      <command
            commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
            label="Rename ..."
            style="push">
         <visibleWhen
               checkEnabled="false">
            <reference
                  definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened">
            </reference>
         </visibleWhen>
      </command>
      <command
            commandId="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.MoveElement"
            label="Move ..."
            style="push">
         <visibleWhen
               checkEnabled="false">
            <reference
                  definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened">
            </reference>
         </visibleWhen>
      </command>
      <command
            commandId="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.ExtractCallable"
            label="Extract Method"
            style="push">
         <visibleWhen
               checkEnabled="false">
            <reference
                  definitionId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.Editor.opened">
            </reference>
         </visibleWhen>
      </command>
   </menu>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.refactoring"
			name="Refactoring">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.keyword_STAlgorithm"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.compare.contentViewers"
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="stalg">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.contenttype"
			contentViewerId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.compare.contentMergeViewers"
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="stalg" label="STAlgorithm Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.contenttype"
			contentMergeViewerId="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.editors.documentProviders"
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="stalg">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="stalg"
			type="text">
		</fileTypes>
	</extension>
	<!-- code mining -->
	<extension point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
		<codeMiningProvider
			class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.jface.text.codemining.ICodeMiningProvider"
			id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.CodeMiningProvider"
			label="STAlgorithm Codemining">
			<enabledWhen>
      <and>
         <with
               variable="viewer">
            <instanceof
                  value="org.eclipse.xtext.ui.editor.XtextSourceViewer">
            </instanceof>
         </with>
        <with
              variable="editor">
           <test
                 property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
                 value="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm">
           </test>
        </with>
         <with
               variable="editorInput">
            <adapt
                  type="org.eclipse.core.resources.IFile">
               <test
                     property="org.eclipse.core.resources.extension"
                     value="fbt">
               </test>
            </adapt>
         </with>
      </and>
			</enabledWhen>
		</codeMiningProvider>
	</extension>
	<!-- marker definitions for org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm -->
	<extension
			id="stalgorithm.check.fast"
			name="4diac IDE Structured Text Algorithm Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.fordiac.ide.structuredtextcore.ui.stcore.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="stalgorithm.check.normal"
			name="4diac IDE Structured Text Algorithm Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.fordiac.ide.structuredtextcore.ui.stcore.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="stalgorithm.check.expensive"
			name="4diac IDE Structured Text Algorithm Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.fordiac.ide.structuredtextcore.ui.stcore.check.expensive"/>
		<persistent value="true"/>
	</extension>
 <extension
       point="org.eclipse.ui.ide.markerSupport">
    <markerTypeCategory
          name="4diac IDE Structured Text Problem">
       <markerTypeReference
             id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.stalgorithm.check.fast">
       </markerTypeReference>
       <markerTypeReference
             id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.stalgorithm.check.normal">
       </markerTypeReference>
       <markerTypeReference
             id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.stalgorithm.check.expensive">
       </markerTypeReference>
    </markerTypeCategory>
 </extension>
 <extension
       point="org.eclipse.ui.editorActions">
		<!-- extension point is generally deprecated but still valid for rulerActions in the editor gutter, according to bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=455985 -->
    <editorContribution
          id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithm.rulerActions"
          targetID="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm">
       <action
             actionID="RulerDoubleClick"
             class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
             id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithm.doubleClickBreakpointAction"
             label="Toggle Breakpoint"
             style="push">
       </action>
    </editorContribution>
 </extension>
 <extension
       point="org.eclipse.ui.popupMenus">
		<!-- extension point is generally deprecated but still valid for rulerActions in the editor gutter, according to bug https://bugs.eclipse.org/bugs/show_bug.cgi?id=455985 -->
    <viewerContribution
          id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithm.RulerPopupActions"
          targetID="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.RulerContext">
       <action
             class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
             id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithm.rulerContextMenu.toggleBreakpointAction"
             label="Toggle Breakpoint"
             menubarPath="debug">
       </action>
       <action
             class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
             id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithm.rulerContextMenu.enableDisableBreakpointAction"
             label="Enable/Disable Breakpoint"
             menubarPath="debug">
       </action>
    </viewerContribution>
 </extension>
 <extension
       point="org.eclipse.xtext.ui.shared.sharedStateContributingModule">
    <module
          class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmSharedModule">
    </module>
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
          class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.fordiac.ide.structuredtextcore.ui.codemining.STCoreCodeMiningPreferencePage"
          id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.codeMining"
          name="Code Minings">
       <keywordReference
             id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.keyword_STAlgorithm">
       </keywordReference>
    </page>
    <page
          category="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
          class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.fordiac.ide.structuredtextcore.ui.contentassist.STCoreContentAssistPreferencePage"
          id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.contentAssist"
          name="Content Assist">
       <keywordReference
             id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.keyword_STAlgorithm">
       </keywordReference>
    </page>
    <page
          category="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
          class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.fordiac.ide.structuredtextcore.ui.cleanup.STCoreSaveActionsPreferencePage"
          id="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.saveActions"
          name="Save Actions">
       <keywordReference
             id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.keyword_STAlgorithm">
       </keywordReference>
    </page>
    <page
          category="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm"
          class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.fordiac.ide.structuredtextcore.ui.editor.STCoreEditorPreferencePage"
          id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.editor"
          name="Editor">
       <keywordReference
             id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore">
       </keywordReference>
    </page>
 </extension>
 <extension
       point="org.eclipse.xtext.builder.participant">
    <participant
          class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.fordiac.ide.structuredtextalgorithm.ui.builder.STAlgorithmInitialValueBuilderParticipant">
    </participant>
 </extension>
 <extension
       point="org.eclipse.ltk.core.refactoring.renameParticipants">
    <renameParticipant
          class="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.STAlgorithmExecutableExtensionFactory:org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.STCoreRenameElementRefactoringParticpant"
          id="org.eclipse.fordiac.ide.structuredtextalgorithm.ui.renameElementParticipant"
          name="Rename ST References">
       <enablement>
          <with
                variable="processorIdentifier">
             <equals
                   value="org.eclipse.fordiac.ide.typemanagement.renameElement">
             </equals>
          </with>
       </enablement>
    </renameParticipant>
 </extension>
</plugin>
