<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.fordiac.ide.export.language.supportFactory">
      <factory
            class="org.eclipse.fordiac.ide.export.forte_ng.st.StructuredTextSupportFactory"
            filter="forte_ng">
         <source
               type="org.eclipse.fordiac.ide.model.libraryElement.STAlgorithm">
         </source>
         <source
               type="org.eclipse.fordiac.ide.model.libraryElement.STMethod">
         </source>
         <source
               type="org.eclipse.fordiac.ide.structuredtextfunctioneditor.stfunction.STFunctionSource">
         </source>
         <source
               type="org.eclipse.fordiac.ide.model.libraryElement.ECTransition">
         </source>
         <source
               type="org.eclipse.fordiac.ide.model.libraryElement.GlobalConstants">
         </source>
         <source
               type="org.eclipse.fordiac.ide.globalconstantseditor.globalConstants.STGlobalConstsSource">
         </source>
         <source
               type="org.eclipse.fordiac.ide.model.libraryElement.VarDeclaration">
         </source>
         <source
               type="org.eclipse.fordiac.ide.model.libraryElement.STFunctionBody">
         </source>
      </factory>
   </extension>   
   <extension 
   		point="org.eclipse.fordiac.ide.export.forte_ng.util.LibraryElementHasherExtension">
   	 <client
   	 		class="org.eclipse.fordiac.ide.export.forte_ng.st.LibraryElementHasher"/>
   </extension>

</plugin>
