<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="org.eclipse.fordiac.ide.export.ui"
            class="org.eclipse.fordiac.ide.export.ui.wizard.FordiacExportWizard"
            icon="fordiacimage://ICON_EXPORT"
            id="org.eclipse.fordiac.ide.export.ui.wizard.FordiacExportWizard"
            name="4diac IDE Type Export">
      </wizard>
      <category
            id="org.eclipse.fordiac.ide.export.ui"
            name="4diac IDE">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
            class="org.eclipse.fordiac.ide.export.ui.preferences.FORTEExportPreferencePage"
            id="org.eclipse.fordiac.ide.export.ui.preferences.FORTEExportPreferences"
            name="FORTE Export Preferences">
      </page>
   </extension>

</plugin>
