<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
            class="org.eclipse.fordiac.ide.gitlab.preferences.GitLabEndpointsPreferencePage"
            id="org.eclipse.fordiac.ide.gitlab.preferences.GitLabPackageDownloaderPage"
            name="GitLab Endpoints">
      </page>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
  <page
      id="org.eclipse.fordiac.ide.gitlab.preferences.gitlabEndpoints"
      name="GitLab Endpoints"
      class="org.eclipse.fordiac.ide.gitlab.preferences.GitLabEndpointsPreferencePage"
      category="org.eclipse.fordiac.ide">
  </page>
</extension>
   
   <extension
         point="org.eclipse.fordiac.ide.library.ArchiveDownloaderExtension">
      <client
            class="org.eclipse.fordiac.ide.gitlab.management.GitLabDownloader">
      </client>
   </extension>
</plugin>
