<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
         point="org.eclipse.ui.commands">
       <command
            categoryId="org.eclipse.fordiac.ide.commands.category"
            id="org.eclipse.fordiac.ide.metrics.commands.calculateCodeMetrics"
            name="Calculate Code Metrics">
      </command>
    </extension>   
    <extension
         point="org.eclipse.ui.handlers">
         <handler
            class="org.eclipse.fordiac.ide.metrics.handlers.CalculateCodeMetrics"
            commandId="org.eclipse.fordiac.ide.metrics.commands.calculateCodeMetrics">
      </handler>
    </extension>  
    <extension
         point="org.eclipse.ui.menus">
        <menuContribution
                locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
            commandId="org.eclipse.fordiac.ide.metrics.commands.calculateCodeMetrics"
            label="Calculate Code Metrics"
            style="push">
             <visibleWhen checkEnabled="false">                
                <with variable="selection" >
                    <count value="1" />
                    <iterate
                          ifEmpty="false">
                        <or>      
                            <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.Application" />
                            <adapt type="org.eclipse.core.resources.IResource">
                                <test property="org.eclipse.core.resources.extension" value="fbt" />               
                            </adapt>
							<adapt type="org.eclipse.core.resources.IResource">
                                <test property="org.eclipse.core.resources.extension" value="sub" />               
                            </adapt>
                        </or>                  
                    </iterate>
                </with>  
             </visibleWhen>
          </command>                       
        </menuContribution>
    </extension> 
       <extension
         point="org.eclipse.ui.menus">
        <menuContribution
                locationURI="menu:org.eclipse.4diac.ide.source.menu?endof=convertGroup">
         <command
            commandId="org.eclipse.fordiac.ide.metrics.commands.calculateCodeMetrics"
            label="Calculate Code Metrics"
            style="push">  
                    <visibleWhen>
                <with
                     variable="activeEditor">
                         <adapt
                           type="org.eclipse.fordiac.ide.model.libraryElement.FBNetwork">
                	  </adapt>                 
               </with>           
         </visibleWhen>
          </command>                       
        </menuContribution>
    </extension>        
           
</plugin>
