<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.eclipse.fordiac.ide.typeimport.ui.importCategory"
            class="org.eclipse.fordiac.ide.systemimport.SystemImport"
            icon="fordiacimage://ICON_System"
            id="org.eclipse.fordiac.ide.systemimport.SystemImport"
            name="System Import">
      </wizard>
      <category
            id="org.eclipse.fordiac.ide.typeimport.ui.importCategory"
            name="4DIAC">
      </category>
   </extension>

</plugin>
