<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <extension-point id="TypeEntryCreator" name="TypeEntryCreator" schema="schema/TypeEntryCreator.exsd"/>
  <extension-point id="TypeLibraryStarter" name="Extension for Type Library Starter" schema="schema/TypeLibraryStarter.exsd"/>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "org.eclipse.fordiac.ide.model" 
       class = "org.eclipse.fordiac.ide.model.libraryElement.LibraryElementPackage"
       genModel = "model/fordiac.genmodel" /> 
  </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fordiac -->
      <package
            uri="org.eclipse.fordiac.ide.model.datatype"
            class="org.eclipse.fordiac.ide.model.data.DataPackage"
            genModel="model/fordiac.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated fordiac -->
      <package
            uri="http://www.eclipse.org/4diac/xml/buildpath.xsd"
            class="org.eclipse.fordiac.ide.model.buildpath.BuildpathPackage"
            genModel="model/fordiac.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated fordiac -->
      <parser
            type="buildpath"
            class="org.eclipse.fordiac.ide.model.buildpath.util.BuildpathResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.fordiac.ide.model.TypeEntryCreator">
      <TypeEntryCreator
            class="org.eclipse.fordiac.ide.model.typelibrary.impl.CreateAdapterTypeEntry">
      </TypeEntryCreator>
   </extension>   
   <extension point="org.eclipse.fordiac.ide.model.TypeEntryCreator">
      <TypeEntryCreator
            class="org.eclipse.fordiac.ide.model.typelibrary.impl.CreateAttributeTypeEntry">
      </TypeEntryCreator>
   </extension> 
   <extension point="org.eclipse.fordiac.ide.model.TypeEntryCreator">
      <TypeEntryCreator
            class="org.eclipse.fordiac.ide.model.typelibrary.impl.CreateDeviceTypeEntry">
      </TypeEntryCreator>
   </extension>   
   <extension point="org.eclipse.fordiac.ide.model.TypeEntryCreator">
      <TypeEntryCreator
            class="org.eclipse.fordiac.ide.model.typelibrary.impl.CreateDataTypeEntry">
      </TypeEntryCreator>
   </extension>   
   <extension point="org.eclipse.fordiac.ide.model.TypeEntryCreator">
      <TypeEntryCreator
            class="org.eclipse.fordiac.ide.model.typelibrary.impl.CreateFBTypeEntry">
      </TypeEntryCreator>
   </extension>   
   <extension point="org.eclipse.fordiac.ide.model.TypeEntryCreator">
      <TypeEntryCreator
            class="org.eclipse.fordiac.ide.model.typelibrary.impl.CreateFunctionFBTypeEntry">
      </TypeEntryCreator>
   </extension>   
   <extension point="org.eclipse.fordiac.ide.model.TypeEntryCreator">
      <TypeEntryCreator
            class="org.eclipse.fordiac.ide.model.typelibrary.impl.CreateResourceTypeEntry">
      </TypeEntryCreator>
   </extension>   
   <extension point="org.eclipse.fordiac.ide.model.TypeEntryCreator">
      <TypeEntryCreator
            class="org.eclipse.fordiac.ide.model.typelibrary.impl.CreateSegmentTypeEntry">
      </TypeEntryCreator>
   </extension>   
   <extension point="org.eclipse.fordiac.ide.model.TypeEntryCreator">
      <TypeEntryCreator
            class="org.eclipse.fordiac.ide.model.typelibrary.impl.CreateSubAppTypeEntry">
      </TypeEntryCreator>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.model.TypeEntryCreator">
      <TypeEntryCreator
            class="org.eclipse.fordiac.ide.model.typelibrary.impl.CreateSystemEntry">
      </TypeEntryCreator>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.model.TypeEntryCreator">
      <TypeEntryCreator
            class="org.eclipse.fordiac.ide.model.typelibrary.impl.CreateGlobalConstantsEntry">
      </TypeEntryCreator>
   </extension>

  <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.fordiac.ide.model.PreferenceInitializer">
      </initializer>
   </extension>
	<extension
			point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="fbt">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="fct">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="sys">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="adp">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="atp">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="sub">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="res">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="dev">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="seg">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="dtp">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="gcf">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="FBT">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="FCT">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="SYS">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="ADP">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="ATP">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="SUB">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="RES">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="DEV">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="SEG">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="DTP">
		</parser>
		<parser
			class="org.eclipse.fordiac.ide.model.resource.FordiacTypeResourceFactory"
			type="GCF">
		</parser>
	</extension>
	<extension
			id="problem"
			name="4diac IDE Problem"
			point="org.eclipse.core.resources.markers">
		<super
           type="org.eclipse.core.resources.problemmarker">
		</super>
		<persistent
			value="true">
		</persistent>
 	</extension>
	<extension
			id="iec61499"
			name="4diac IDE IEC 61499 Problem"
			point="org.eclipse.core.resources.markers">
		<super
			type="org.eclipse.fordiac.ide.model.problem">
		</super>
		<persistent
			value="true">
		</persistent>
	</extension>
 <extension
       id="validation"
       name="4diac IDE Validation Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.fordiac.ide.model.problem">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension>
 <extension
       id="initialValue"
       name="4diac IDE Initial Value Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.fordiac.ide.model.problem">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension>
 <extension
       id="typeDeclaration"
       name="4diac IDE Type Declaration Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.fordiac.ide.model.problem">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension> 
 <extension
       id="import"
       name="4diac IDE Import Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.fordiac.ide.model.problem">
    </super>
    <persistent
          value="true">
    </persistent>
 </extension> 
 <extension
       id="typeLibrary"
       name="4diac IDE Type Library Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.fordiac.ide.model.problem">
    </super>
    <persistent
          value="false">
    </persistent>
 </extension>
 <extension
       id="projectConfiguration"
       name="4diac IDE Project Configuration Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.fordiac.ide.model.problem">
    </super>
    <persistent
          value="false">
    </persistent>
 </extension>  
 <extension
       id="library"
       name="4diac IDE Library Problem"
       point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.fordiac.ide.model.problem">
    </super>
    <persistent
          value="false">
    </persistent>
    <attribute
          name="LIB">
    </attribute>
 </extension>
</plugin>
