<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.fordiac.org/ide/model/structuredtext/StructuredText" 
       class = "org.eclipse.fordiac.ide.model.structuredtext.structuredText.StructuredTextPackage"
       genModel = "model/generated/StructuredText.genmodel" /> 
	
  </extension>



</plugin>
