<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
            class="org.eclipse.fordiac.ide.fortelauncher.preferences.FortePreferencePage"
            id="org.eclipse.fordiac.ide.fortelauncher.preferences.FortePreferencePage"
            name="FORTE Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.fordiac.ide.fortelauncher.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
		<launchConfigurationType
    		name="Local 4diac FORTE"
    		delegate="org.eclipse.core.externaltools.internal.launchConfigurations.ProgramLaunchDelegate"
    		modes="run"               
    		id="org.eclipse.fordiac.ide.runLocalFORTE">        
		</launchConfigurationType>
		<launchConfigurationType
    		name="Build 4diac FORTE"
    		delegate="org.eclipse.core.externaltools.internal.launchConfigurations.ProgramLaunchDelegate"
    		modes="run"               
    		id="org.eclipse.fordiac.ide.buildFORTE">        
		</launchConfigurationType>
		<launchConfigurationType
    		name="Stop 4diac FORTEs"
    		delegate="org.eclipse.fordiac.ide.fortelauncher.StopForteLaunchDelegate"
    		modes="run"               
    		id="org.eclipse.fordiac.ide.stopFORTE">        
		</launchConfigurationType>
	</extension>

	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			type="org.eclipse.fordiac.ide.runLocalFORTE"
			class="org.eclipse.fordiac.ide.fortelauncher.ForteLaunchGroup"
			id="org.eclipse.fordiac.ide.fortelauncher.launchConfigurationTabGroup">
		</launchConfigurationTabGroup>
		<launchConfigurationTabGroup
			type="org.eclipse.fordiac.ide.buildFORTE"
			class="org.eclipse.fordiac.ide.fortelauncher.BuildForteLaunchGroup"
			id="org.eclipse.fordiac.ide.fortelauncher.buildConfigurationTabGroup">
		</launchConfigurationTabGroup>
		<launchConfigurationTabGroup
			type="org.eclipse.fordiac.ide.stopFORTE"
			class="org.eclipse.fordiac.ide.fortelauncher.StopForteLaunchGroup"
			id="org.eclipse.fordiac.ide.fortelauncher.stopForteConfigurationTabGroup">
		</launchConfigurationTabGroup>
	</extension>
	
	<extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.fordiac.ide.runLocalFORTE"
			icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/4diacFORTE.png"
            id="org.eclipse.fordiac.ide.launchConfigurationTypeImage.runLocalFORTE">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.fordiac.ide.buildFORTE"
			icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/Build4diacFORTE.png"
            id="org.eclipse.fordiac.ide.launchConfigurationTypeImage.buildFORTE">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.fordiac.ide.stopFORTE"
			icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/Stop4diacFORTE.png"
            id="org.eclipse.fordiac.ide.launchConfigurationTypeImage.stopFORTE">
      </launchConfigurationTypeImage>
   </extension>

</plugin>
