<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.fordiac.ide.newWizard.category"
            class="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.New4diacProjectWizard"
            finalPerspective="org.eclipse.fordiac.ide.SystemPerspective"
            icon="fordiacimage://ICON_NEW_4DIAC_PROJECT"
            id="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.New4diacProjectWizard"
            name="%wizard.name.0"
            preferredPerspectives="org.eclipse.fordiac.ide.SystemPerspective, org.eclipse.fordiac.ide.typemanagement.perspective"
            project="true">
         <description>
            %wizard.description.0
         </description>
      </wizard>
      <wizard
            category="org.eclipse.fordiac.ide.newWizard.category"
            class="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.NewSystemWizard"
            icon="fordiacimage://ICON_NEW_SYSTEM"
            id="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.NewSystemWizard"
            name="%newsystemwizard.name"
            project="false">
         <description>
            %newsystemwizard.description
         </description>
      </wizard>
      <category
            id="org.eclipse.fordiac.ide.newWizard.category"
            name="%4DIAC_IDE_Category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.fordiac.ide.view.category"
            name="%4DIAC_IDE_Category">
      </category>
      <view
      		category="org.eclipse.fordiac.ide.view.category"
            class="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.SystemExplorer"
            icon="fordiacimage://ICON_SYSTEM_EXPLORER"
            id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer"
            name="%SystemExplorer.name">
      </view>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
	  <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.debug.ui.DebugView">
         </view>
	  </perspectiveExtension> 
    </extension>     
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.fordiac.ide.systemmanagement.ui.editors.AutomationSystemEditor"
            contributorClass="org.eclipse.fordiac.ide.gef.editors.GraphicalMultipageEditorContributor"
            default="true"
            extensions="sys"
            icon="fordiacimage://ICON_SYSTEM_PERSPECTIVE"
            id="org.eclipse.fordiac.ide.editors.SystemEditor"
            matchingStrategy="org.eclipse.fordiac.ide.ui.editors.FordiacEditorMatchingStrategy"
            name="%SystemEditor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler 
            class="org.eclipse.fordiac.ide.systemmanagement.ui.handlers.RefreshHandler"
            commandId="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.refresh">
         <activeWhen>
            <iterate>
		     <instanceof value="org.eclipse.emf.ecore.EObject"> </instanceof>
		    </iterate>
         </activeWhen>
      </handler>
      
      </extension>
      <extension
         point="org.eclipse.ui.commands"> 
      <command
            categoryId="org.eclipse.fordiac.ide.commands.category"
            id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.refresh"
            name="%SystemExplorer_Refresh">
      </command>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?endof=group.reorganize">
         <command
               commandId="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.refresh"
               icon="fordiacimage://ICON_REFRESH"
               tooltip="Refresh tree">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="or">
                  <instanceof value="org.eclipse.emf.ecore.EObject"> </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>            
   </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
         <propertyContributor
               contributorId="org.eclipse.fordiac.ide.application.editors.DiagramEditor">
            <propertyCategory
                  category="systemInfo">
            </propertyCategory>
         </propertyContributor>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
         <propertyTabs
               contributorId="org.eclipse.fordiac.ide.application.editors.DiagramEditor">
            <propertyTab
                  category="systemInfo"
                  id="property.tab.system.appearance"
                  label="Appearance">
            </propertyTab>
         </propertyTabs>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="org.eclipse.fordiac.ide.application.editors.DiagramEditor">
            <propertySection
                  class="org.eclipse.fordiac.ide.gef.properties.AppearancePropertySection"
                  id="org.eclipse.fordiac.ide.systemmanagement.properties.AppearancePropertySection"
                  tab="property.tab.system.appearance">
               <input
                     type="org.eclipse.fordiac.ide.model.libraryElement.Device">
               </input>
               <input
                     type="org.eclipse.fordiac.ide.model.libraryElement.Segment">
               </input>
            </propertySection>
         </propertySections>
      </extension>
      <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.eclipse.fordiac.ide.typemanagement.refactoring.RenameType"
            id="org.eclipse.fordiac.ide.typemanagement.renameType"
            name="Rename Type handler">
         <enablement>
            <and>
               <instanceof  value="org.eclipse.core.resources.IFile">
               </instanceof>               
               <test forcePluginActivation="true" property="org.eclipse.core.resources.extension" value="sys">
               </test>
            </and>
         </enablement>
      </renameParticipant>
   </extension>
      <extension
            point="org.eclipse.ui.ide.projectNatureImages">
         <image
               icon="fordiacimage://OVERLAY_DISTRIBUTED_NATURE"
               id="org.eclipse.fordiac.ide.systemmanagement.FordiacNature.img"
               natureId="org.eclipse.fordiac.ide.systemmanagement.FordiacNature">
         </image>
      </extension>
      <extension
            point="org.eclipse.ui.navigator.viewer">
         <viewerActionBinding
               viewerId="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer">
            <includes>
               <actionExtension
                     pattern="org.eclipse.ui.navigator.resources.*">
               </actionExtension>
               <actionExtension
                     pattern="org.eclipse.fordiac.ide.systemmanagement.OpenActionProvider">
               </actionExtension>   
               <actionExtension
                     pattern="org.eclipse.fordiac.ide.systemmanagement.GoIntoActions">
               </actionExtension>
               <actionExtension
                     pattern="org.eclipse.fordiac.ide.systemmanagement.CloseProjectActionProvider">
               </actionExtension>
            </includes>
            <excludes>
            </excludes>
         </viewerActionBinding>
         <viewerContentBinding
               viewerId="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer">
            <includes>
               <contentExtension isRoot="true"
                    pattern="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.rootcontent">
               	</contentExtension>
               <contentExtension
                     pattern="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.automationsystemcontent">
               </contentExtension>
               <contentExtension
                     pattern="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.sortOnly">
               </contentExtension> 
               <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.startsWithDot"/>
               <contentExtension pattern="org.eclipse.fordiac.ide.systemmanagement.filters.mux"/>
               <contentExtension pattern="org.eclipse.fordiac.ide.systemmanagement.filters.fb"/>
               <contentExtension pattern="org.eclipse.fordiac.ide.systemmanagement.filters.typedSubapp"/>
               <contentExtension pattern="org.eclipse.fordiac.ide.systemmanagement.filters.comment"/>
              <!-- <contentExtension pattern="org.eclipse.fordiac.ide.typemanagement.navigator.filters.showonly61499Types"/> -->
               <contentExtension pattern="org.eclipse.fordiac.ide.typemanagement.fbTypeContent">
               		</contentExtension> 
               <contentExtension pattern="org.eclipse.fordiac.ide.typemanagement.typelib.systemexplorer">
              		</contentExtension> 
      		   <contentExtension
                     pattern="org.eclipse.ui.navigator.resourceContent"/>             
               <contentExtension
                     pattern="org.eclipse.ui.navigator.resources.filters.*">
               </contentExtension>
               <contentExtension
                     pattern="org.eclipse.ui.navigator.resources.workingSets">
               </contentExtension>
               <contentExtension
                     pattern="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.systemExplorerLinkHelper" >
               </contentExtension>
               <contentExtension
                     pattern="org.eclipse.fordiac.ide.typemanagement.navigator.FBContentSorter" >
               </contentExtension>
            </includes>
         </viewerContentBinding>
         <viewer
               viewerId="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer">
         </viewer>
      <dragAssistant
            class="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.SystemExplorerDragAssistant"
            viewerId="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer">
      </dragAssistant>
      </extension>
      <extension
         point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.fordiac.ide.systemmanagement.ui.providers.SystemExplorerRootContentProvider"
            id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.rootcontent"
            labelProvider="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.SystemExplorerRootLabelProvider"
            name="System Content"
            priority="high">
            <possibleChildren>
                 <instanceof value="org.eclipse.core.resources.IProject"/>                 
	        </possibleChildren> 
	        <triggerPoints>
            	<instanceof value="org.eclipse.core.resources.IWorkspaceRoot" />
         	</triggerPoints>
       </navigatorContent>
        <navigatorContent
              activeByDefault="true"
              contentProvider="org.eclipse.fordiac.ide.systemmanagement.ui.providers.AutomationSystemContentProvider"
              id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.automationsystemcontent"
              labelProvider="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.SystemLabelProvider"
              name="Automation System Content"
              priority="high">
           <possibleChildren>
              <or>
                 <!-- this possible child flag is need so that our label provider is styling the icon and text of sys files and the typeLib -->
              	 <instanceof value="org.eclipse.core.resources.IFile" />
              	 <instanceof value="org.eclipse.core.resources.IFolder"/> 
                 <instanceof value="org.eclipse.emf.ecore.EObject" />
                 <instanceof value="org.eclipse.emf.edit.provider.ItemProviderAdapter" />
              </or>
           </possibleChildren>
           <triggerPoints>
              <and>
                 <instanceof value="org.eclipse.core.resources.IFile" />
                 <test
                       forcePluginActivation="true"
                       property="org.eclipse.core.resources.extension"
                       value="sys">
                 </test>
              </and>
           </triggerPoints>
           <commonSorter
                 class="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.SystemContentSorter"
                 id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.SystemContentSorter">
              <parentExpression>
                 <and>
                    <instanceof
                          value="org.eclipse.core.resources.IFile">
                    </instanceof>
                    <test
                          forcePluginActivation="true"
                          property="org.eclipse.core.resources.extension"
                          value="sys">
                    </test>
                 </and>
              </parentExpression>
           </commonSorter>
        </navigatorContent>
        <navigatorContent
              activeByDefault="true"
              id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.sortOnly"
              name="System Sort Override"
              priority="highest"
              sortOnly="true">
           <commonSorter
                 class="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.FordiacProjectSorter"
                 id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.FordiacProjectSorter">
              <parentExpression>
                 <adapt
                       type="org.eclipse.core.resources.IProject">
                    <test
                          property="org.eclipse.core.resources.projectNature"
                          value="org.eclipse.fordiac.ide.systemmanagement.FordiacNature">
                    </test>
                 </adapt>
              </parentExpression>
           </commonSorter>
           <commonSorter
                 class="org.eclipse.fordiac.ide.typemanagement.navigator.KeepOrderContentSorter"
                 id="org.eclipse.fordiac.ide.typemanagement.navigator.FBContentSorter">
              <parentExpression>
                 <or>
                    <instanceof
                          value="org.eclipse.fordiac.ide.model.libraryElement.InterfaceList">
                    </instanceof>
                 </or>
              </parentExpression>
           </commonSorter>
           <commonSorter
                 class="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.DeviceContentSorter"
                 id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.DeviceContentSorter">
              <parentExpression>
                 <or>
                    <instanceof
                          value="org.eclipse.fordiac.ide.model.libraryElement.Device">
                    </instanceof>
                 </or>
              </parentExpression>
           </commonSorter>
           <commonSorter
                 class="org.eclipse.jface.viewers.ViewerSorter"
                 id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.IFolderSorter">
              <parentExpression>
                 <or>
                    <instanceof
                          value="org.eclipse.core.resources.IFolder">
                    </instanceof>
                 </or>
              </parentExpression>
           </commonSorter>
           <commonSorter
                 class="org.eclipse.fordiac.ide.model.edit.FBTypeSorter"
                 id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.FBTypeContentSorter">
              <parentExpression>
                 <and>
                    <instanceof value="org.eclipse.core.resources.IFile" />
                    <or>
	                  <test property="org.eclipse.core.resources.extension" value="adp"/>
	                  <test property="org.eclipse.core.resources.extension" value="fbt"/>
	                  <test property="org.eclipse.core.resources.extension" value="fct"/>
	                  <test property="org.eclipse.core.resources.extension" value="sub"/>
	               </or>
                 </and>
              </parentExpression>
           </commonSorter>
        </navigatorContent>          
      <commonWizard
            type="new"
            wizardId="org.eclipse.fordiac.ide.typemanagement.wizards.NewFBTypeWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.New4diacProjectWizard">
         <enablement></enablement>
      </commonWizard> 
      <commonWizard
            type="new"
            wizardId="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.NewSystemWizard">
         <enablement></enablement>
      </commonWizard> 
      <actionProvider
            class="org.eclipse.fordiac.ide.model.ui.actions.Open4DIACElementActionProvider"
            id="org.eclipse.fordiac.ide.systemmanagement.OpenActionProvider">
            <enablement>
            <or>
               <instanceof value="org.eclipse.emf.ecore.EObject"> </instanceof>               
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.ui.navigator.resources.GoIntoActionProvider"
            id="org.eclipse.fordiac.ide.systemmanagement.GoIntoActions">
        <enablement>
		  <or>
            <instanceof value="org.eclipse.emf.ecore.EObject"> </instanceof>
            <and>
                <instanceof value="org.eclipse.core.resources.IFile" />
                <or>
                    <test forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="sys">
                    </test>                   
                    <test forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="fbt">
                    </test>
                </or>                   
            </and>
          </or>
		</enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="false"
            id="org.eclipse.fordiac.ide.systemmanagement.filters.mux"
            name="Hide STRUCT_MUX &amp; STRUCT_DEMUX">
         <filterExpression>
         	<instanceof value="org.eclipse.fordiac.ide.model.libraryElement.StructManipulator">
            </instanceof>
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            id="org.eclipse.fordiac.ide.systemmanagement.filters.fb"
            name="Hide FB instances">
         <filterExpression>
         	<or>
	         	<and>
	         		<instanceof value="org.eclipse.fordiac.ide.model.libraryElement.FB" />
	         		<not><instanceof value="org.eclipse.fordiac.ide.model.libraryElement.StructManipulator" /></not>
	            </and>
	            <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.ErrorMarkerFBNElement" />
	        </or>    
         </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            class="org.eclipse.fordiac.ide.systemmanagement.ui.filters.TypedSubappFilter"
            id="org.eclipse.fordiac.ide.systemmanagement.filters.typedSubapp"
            name="Hide Subapplication instances">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            id="org.eclipse.fordiac.ide.systemmanagement.filters.comment"
            name="Hide comments">
         <filterExpression>
         	<instanceof value="org.eclipse.fordiac.ide.model.libraryElement.Comment">
            </instanceof>
         </filterExpression>
      </commonFilter>
  </extension>
    <extension point="org.eclipse.ui.navigator.linkHelper">    
       <linkHelper
             class="org.eclipse.fordiac.ide.systemmanagement.ui.linkhelpers.SystemExplorerLinkHelper"
             id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.systemExplorerLinkHelper">
          <selectionEnablement>
             <or>
	            <instanceof value="org.eclipse.core.resources.IFile"/>
                <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.Resource"/>
                <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.SystemConfiguration"/>
                <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.Device"/>
                <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.Segment"/>
                <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.Application"/>
                <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.FBNetworkElement"/>
             </or>
          </selectionEnablement>   
          <editorInputEnablement>
             <instanceof value="org.eclipse.ui.IFileEditorInput"/>
          </editorInputEnablement>
       </linkHelper>
    </extension>
    <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.InstanceTypeDecorator"
            icon="fordiacimage://ICON_FB_TYPE"
            id="org.eclipse.fordiac.ide.systemmanagement.ui.InstanceTypeDecorator"
            label="Instance type decoration"
            lightweight="true"
            state="false">
            <enablement>
                <objectClass name="org.eclipse.fordiac.ide.model.libraryElement.FBNetworkElement" />
            </enablement>
            <description>
               Show type name beside typed fbnetwork elements.
            </description>
      </decorator>
      <decorator
            class="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.InstanceCommentDecorator"
            icon="fordiacimage://ICON_FB_TYPE"
            id="org.eclipse.fordiac.ide.systemmanagement.ui.InstanceCommentDecorator"
            label="Instance comment decoration"
            lightweight="true"
            state="false">
            <enablement>
            	<or>
                	<objectClass name="org.eclipse.fordiac.ide.model.libraryElement.FBNetworkElement" />
                	<objectClass name="org.eclipse.fordiac.ide.model.libraryElement.Application" />
               	</or>
            </enablement>
            <description>
               Show instance comment beside typed fbnetwork elements.
            </description>
      </decorator>
   </extension>

   
</plugin>
