<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.fordiac.ide.newWizard.category"
            class="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.New4diacProjectWizard"
            finalPerspective="org.eclipse.fordiac.ide.SystemPerspective"
            icon="fordiacimage://ICON_NEW_4DIAC_PROJECT"
            id="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.New4diacProjectWizard"
            name="%wizard.name.0"
            preferredPerspectives="org.eclipse.fordiac.ide.SystemPerspective, org.eclipse.fordiac.ide.deployment.ui.perspectives.DeploymentPerspective, org.eclipse.fordiac.ide.monitoring.MonitoringPerspective"
            project="true">
         <description>
            %wizard.description.0
         </description>
      </wizard>
      <wizard
            category="org.eclipse.fordiac.ide.newWizard.category"
            class="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.NewSystemWizard"
            icon="fordiacimage://ICON_NEW_SYSTEM"
            id="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.NewSystemWizard"
            name="%newsystemwizard.name"
            project="false">
         <description>
            %newsystemwizard.description
         </description>
      </wizard>
      <wizard
            category="org.eclipse.fordiac.ide.newWizard.category"
            class="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.NewApplicationWizard"
            icon="fordiacimage://ICON_NEW_APPLICATION"
            id="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.NewApplicationWizard"
            name="%LABEL_NewApplicationWizard"
            project="false">
         <description>
            %wizard.description.1 
         </description>
      </wizard>
      <category
            id="org.eclipse.fordiac.ide.newWizard.category"
            name="%4DIAC_IDE_Category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.fordiac.ide.view.category"
            name="%4DIAC_IDE_Category">
      </category>
      <view
      		category="org.eclipse.fordiac.ide.view.category"
            class="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.SystemExplorer"
            icon="fordiacimage://ICON_SYSTEM_EXPLORER"
            id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer"
            name="%SystemExplorer.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%SystemEditor.name"
            extensions="sys"
            contributorClass="org.eclipse.fordiac.ide.gef.ZoomUndoRedoActionBarContributor"
            default="true"
            class="org.eclipse.fordiac.ide.systemmanagement.ui.editors.SystemEditor"
            icon="fordiacimage://ICON_SYSTEM_PERSPECTIVE"
            id="org.eclipse.fordiac.ide.editors.SystemEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler 
            class="org.eclipse.fordiac.ide.systemmanagement.ui.handlers.RenameApplication"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
         	<with variable="selection">
		    <count value="1" />
		    <iterate operator="and">
		     <adapt type="org.eclipse.fordiac.ide.model.libraryElement.Application" />
		    </iterate>
		   </with>           
         </activeWhen>
      </handler>
      <handler 
            class="org.eclipse.fordiac.ide.systemmanagement.ui.handlers.DeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
         	<with variable="selection">
		    <iterate operator="and" ifEmpty="false">
		     <or>
		     	<adapt type="org.eclipse.fordiac.ide.model.libraryElement.Application" />
		     	<adapt type="org.eclipse.fordiac.ide.model.libraryElement.Resource" />
		     	<adapt type="org.eclipse.fordiac.ide.model.libraryElement.Device" />
		     </or>
		    </iterate>
		   </with>           
         </activeWhen>
      </handler>      
      <handler 
            class="org.eclipse.fordiac.ide.systemmanagement.ui.handlers.RenameSystem"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <with variable="selection">
		    <count value="1" />
		    <iterate operator="and">
		     <adapt type="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem" />
		    </iterate>
		   </with>            
         </activeWhen>
      </handler>
      <handler 
            class="org.eclipse.fordiac.ide.systemmanagement.ui.handlers.DeleteSystem"
            commandId="org.eclipse.ui.edit.delete">
         <activeWhen>
            <with variable="selection">
		    <iterate
            operator="and">
         <adapt
               type="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem">
         </adapt>
      </iterate>
		   </with>            
         </activeWhen>
      </handler>
      <handler 
            class="org.eclipse.fordiac.ide.systemmanagement.ui.handlers.RefreshHandler"
            commandId="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.refresh">
         <activeWhen>
            <iterate>
		     <instanceof value="org.eclipse.emf.ecore.EObject"> </instanceof>
		    </iterate>
         </activeWhen>
      </handler>
      
      </extension>
      <extension
         point="org.eclipse.ui.commands"> 
      <command
            categoryId="org.eclipse.fordiac.ide.commands.category"
            id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.refresh"
            name="%SystemExplorer_Refresh">
      </command>
   </extension>
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?endof=group.edit">
         <command
               commandId="org.eclipse.ui.edit.rename"
               tooltip="Rename selected application">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.fordiac.ide.model.libraryElement.Application">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?endof=group.edit">
         <command
               commandId="org.eclipse.ui.edit.delete"
               tooltip="Delete selected application">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.fordiac.ide.model.libraryElement.Application">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?endof=group.edit">
         <command
               commandId="org.eclipse.ui.edit.rename"
               tooltip="Rename selected automation system">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?endof=group.edit">
         <command
               commandId="org.eclipse.ui.edit.delete"
               tooltip="Delete selected Automation System">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?endof=group.edit">
         <command
               commandId="org.eclipse.ui.edit.delete"
               tooltip="Delete selected Resource">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.fordiac.ide.model.libraryElement.Resource">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?endof=group.edit">
         <command
               commandId="org.eclipse.ui.edit.delete"
               tooltip="Delete selected Device">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="or">
                  <instanceof
                        value="org.eclipse.fordiac.ide.model.libraryElement.Device">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?endof=group.reorganize">
         <command
               commandId="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.refresh"
               icon="fordiacimage://ICON_REFRESH"
               tooltip="Refresh tree">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     operator="or">
                  <instanceof value="org.eclipse.emf.ecore.EObject"> </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>            
   </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
         <propertyContributor
               contributorId="org.eclipse.fordiac.ide.application.editors.DiagramEditor">
            <propertyCategory
                  category="systemInfo">
            </propertyCategory>
         </propertyContributor>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
         <propertyTabs
               contributorId="org.eclipse.fordiac.ide.application.editors.DiagramEditor">
            <propertyTab
                  category="systemInfo"
                  id="property.tab.systeminfo"
                  image="fordiacimage://ICON_SYSTEM"
                  label="System Info">
            </propertyTab>
            <propertyTab
                  category="systemInfo"
                  id="property.tab.system.fbtypeinfo"
                  image="fordiacimage://ICON_FB_TYPE"
                  label="Type Info">
            </propertyTab>
            <propertyTab
                  category="systemInfo"
                  id="property.tab.system.deviceInfo"
                  label="Interface">
            </propertyTab>
            <propertyTab
                  afterTab="property.tab.system.deviceInfo"
                  category="systemInfo"
                  id="property.tab.system.attributeInfo"
                  indented="true"
                  label="Attributes">
            </propertyTab>
            <propertyTab
                  afterTab="property.tab.system.attributeInfo"
                  category="systemInfo"
                  id="property.tab.system.appearance"
                  label="Appearance">
            </propertyTab>
         </propertyTabs>
      </extension>
      <extension
            point="org.eclipse.ui.views.properties.tabbed.propertySections">
         <propertySections
               contributorId="org.eclipse.fordiac.ide.application.editors.DiagramEditor">           
            <propertySection
                  class="org.eclipse.fordiac.ide.systemmanagement.ui.properties.SystemInfoSection"
                  id="property.section.systemInfo"
                  tab="property.tab.systeminfo">
               <input
                     type="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem">
               </input>
            </propertySection>
            <propertySection
                  class="org.eclipse.fordiac.ide.gef.properties.AppearancePropertySection"
                  id="org.eclipse.fordiac.ide.systemmanagement.properties.AppearancePropertySection"
                  tab="property.tab.system.appearance">
               <input
                     type="org.eclipse.fordiac.ide.model.libraryElement.Device">
               </input>
               <input
                     type="org.eclipse.fordiac.ide.model.libraryElement.Segment">
               </input>
            </propertySection>
         </propertySections>
      </extension>
      <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.eclipse.fordiac.ide.systemmanagement.ui.handlers.RenameSystemParticipant"
            id="org.eclipse.fordiac.ide.typemanagement.renameType"
            name="Rename Type handler">
         <enablement>
            <instanceof 
	                     value="org.eclipse.core.resources.IProject">
	               </instanceof>   
         </enablement>
      </renameParticipant>
   </extension>
      <extension
            point="org.eclipse.ui.ide.projectNatureImages">
         <image
               icon="fordiacimage://OVERLAY_DISTRIBUTED_NATURE"
               id="org.eclipse.fordiac.ide.systemmanagement.FordiacNature.img"
               natureId="org.eclipse.fordiac.ide.systemmanagement.FordiacNature">
         </image>
      </extension>
      <extension
            point="org.eclipse.ui.navigator.viewer">
         <viewerActionBinding
               viewerId="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer">
            <includes>
               <actionExtension
                     pattern="org.eclipse.ui.navigator.resources.*">
               </actionExtension>
               <actionExtension
                     pattern="org.eclipse.fordiac.ide.systemmanagement.SystemExplorerNewActionProvider">
               </actionExtension>                     
               <actionExtension
                     pattern="org.eclipse.fordiac.ide.systemmanagement.OpenActionProvider">
               </actionExtension>   
               <actionExtension
                     pattern="org.eclipse.fordiac.ide.systemmanagement.GoIntoActions">
               </actionExtension>
               <actionExtension
                     pattern="org.eclipse.fordiac.ide.systemmanagement.CloseProjectActionProvider">
               </actionExtension>
            </includes>
            <excludes>
            </excludes>
         </viewerActionBinding>
         <viewerContentBinding
               viewerId="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer">
            <includes>
               <contentExtension isRoot="true"
                    pattern="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.systemcontent">
               	</contentExtension> 
               <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.startsWithDot"/>
              <!-- <contentExtension pattern="org.eclipse.fordiac.ide.typemanagement.navigator.filters.showonly61499Types"/> -->
               <contentExtension pattern="org.eclipse.fordiac.ide.typemanagement.fbTypeContent">
               		</contentExtension> 
               <contentExtension pattern="org.eclipse.fordiac.ide.typemanagement.typelib.systemexplorer">
              		</contentExtension> 
      		   <contentExtension
                     pattern="org.eclipse.ui.navigator.resourceContent"/>             
               <contentExtension
                     pattern="org.eclipse.ui.navigator.resources.filters.*">
               </contentExtension>
               <contentExtension
                     pattern="org.eclipse.ui.navigator.resources.linkHelper">
               </contentExtension>
               <contentExtension
                     pattern="org.eclipse.ui.navigator.resources.workingSets">
               </contentExtension>
               <contentExtension
                     pattern="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.applicationLinkHelper" >
               </contentExtension>
               <contentExtension
                     pattern="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.applicationLinkHelper" >
               </contentExtension>
               <contentExtension
                     pattern="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.systemConfigurationLinkHelper" >
               </contentExtension>
               <contentExtension
                     pattern="org.eclipse.fordiac.ide.typemanagement.navigator.FBContentSorter" >
               </contentExtension>      
            </includes>
         </viewerContentBinding>
         <viewer
               viewerId="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer">
         </viewer>
      </extension>
      <extension
         point="org.eclipse.ui.navigator.navigatorContent">
        <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.SystemContentProvider"
            id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.systemcontent"
            labelProvider="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.SystemLabelProvider"
            name="System Content"
            priority="highest">
            <possibleChildren>
	           <or>         
                 <instanceof value="org.eclipse.core.resources.IProject"/>
                  <instanceof value="org.eclipse.core.resources.IResource"/>
	              <instanceof value="org.eclipse.emf.ecore.EObject"/>
	              <instanceof value="org.eclipse.emf.edit.provider.ItemProviderAdapter"/>
	           </or>
	        </possibleChildren> 
            <triggerPoints>
                <or>
                    <instanceof value="org.eclipse.emf.ecore.EObject"/>
                    <instanceof value="org.eclipse.core.resources.IFolder"/>
                    <adapt type="org.eclipse.core.resources.IProject" >
                        <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.fordiac.ide.systemmanagement.FordiacNature"/>
                    </adapt>
                    <instanceof value="org.eclipse.core.resources.IWorkspaceRoot" />
                    <and>
                        <instanceof value="org.eclipse.core.resources.IFile" />
                        <test
                            forcePluginActivation="true"   
                            property="org.eclipse.core.resources.extension"
                            value="sys">
                        </test>                   
                    </and>
                </or>
            </triggerPoints>
            <commonSorter
                class="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.FordiacProjectSorter"
                id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.FordiacProjectSorter">
                <parentExpression>
                    <adapt type="org.eclipse.core.resources.IProject" >
                        <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.fordiac.ide.systemmanagement.FordiacNature"/>
                    </adapt>
                </parentExpression>
            </commonSorter>
            <commonSorter
                  class="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.SystemContentSorter"
                  id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.SystemContentSorter">
               <parentExpression>
                  <and>
                   <instanceof 
                         value="org.eclipse.core.resources.IFile">
                   </instanceof>
                   <test
                         forcePluginActivation="true"   
                         property="org.eclipse.core.resources.extension"
                         value="sys">
                   </test>
               </and>
               </parentExpression>
            </commonSorter>  
            <commonSorter
                  class="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.DeviceContentSorter"
                  id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.DeviceContentSorter">
               <parentExpression>
                  <or>
                     <instanceof
                           value="org.eclipse.fordiac.ide.model.libraryElement.Device">
                     </instanceof>
                  </or>
               </parentExpression>
            </commonSorter>
            <commonSorter
                  class="org.eclipse.fordiac.ide.typemanagement.navigator.KeepOrderContentSorter"
                  id="org.eclipse.fordiac.ide.typemanagement.navigator.FBContentSorter">
               <parentExpression>
                  <or>
                     <instanceof
                           value="org.eclipse.fordiac.ide.model.libraryElement.InterfaceList">
                     </instanceof>
                  </or>
               </parentExpression>
            </commonSorter>          
       </navigatorContent>          
      <commonWizard
            type="new"
            wizardId="org.eclipse.fordiac.ide.typemanagement.wizards.NewFBTypeWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.New4diacProjectWizard">
         <enablement></enablement>
      </commonWizard> 
      <commonWizard
            type="new"
            wizardId="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.NewSystemWizard">
         <enablement></enablement>
      </commonWizard> 
      <commonWizard
            type="new"
            wizardId="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.NewApplicationWizard">
         <enablement>
            <adapt type="org.eclipse.core.resources.IFile" >
                <test property="org.eclipse.core.resources.extension" value="sys"/>
            </adapt>
         </enablement>
      </commonWizard>
      <actionProvider
            class="org.eclipse.fordiac.ide.systemmanagement.ui.actions.SystemExplorerNewActionProvider"
            id="org.eclipse.fordiac.ide.systemmanagement.SystemExplorerNewActionProvider">
            <enablement>
            <or>
               <instanceof value="org.eclipse.emf.ecore.EObject"> </instanceof>
               
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.fordiac.ide.systemmanagement.ui.actions.Open4DIACElementActionProvider"
            id="org.eclipse.fordiac.ide.systemmanagement.OpenActionProvider">
            <enablement>
            <or>
               <instanceof value="org.eclipse.emf.ecore.EObject"> </instanceof>               
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.ui.navigator.resources.GoIntoActionProvider"
            id="org.eclipse.fordiac.ide.systemmanagement.GoIntoActions">
        <enablement>
		  <or>
            <instanceof value="org.eclipse.emf.ecore.EObject"> </instanceof>
            <and>
                <instanceof value="org.eclipse.core.resources.IFile" />
                <or>
                    <test forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="sys">
                    </test>                   
                    <test forcePluginActivation="true"
                        property="org.eclipse.core.resources.extension"
                        value="fbt">
                    </test>
                </or>                   
            </and>
          </or>
		</enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.fordiac.ide.systemmanagement.ui.actions.CloseSystemActionProvider"
            id="org.eclipse.fordiac.ide.systemmanagement.CloseProjectActionProvider">
            <enablement>
            <or>
               <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.AutomationSystem"> </instanceof>               
            </or>
         </enablement>
      </actionProvider>
  </extension>
  <extension
          point="org.eclipse.ui.navigator.linkHelper">
       <linkHelper
             class="org.eclipse.fordiac.ide.systemmanagement.ui.linkhelpers.ApplicationSubAppEditorLinkHelper"
             id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.applicationLinkHelper">
          <selectionEnablement>
             <or>
                <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.Application"/>
                <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.FB"/>
                <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.SubApp"/>
             </or>
          </selectionEnablement>
          <editorInputEnablement>
             <or>
             	<instanceof value="org.eclipse.fordiac.ide.application.editors.ApplicationEditorInput"/>
             	<instanceof value="org.eclipse.fordiac.ide.application.editors.SubApplicationEditorInput"/>
             </or>
          </editorInputEnablement>
       </linkHelper>
  </extension>
  <extension point="org.eclipse.ui.navigator.linkHelper">    
       <linkHelper
             class="org.eclipse.fordiac.ide.systemmanagement.ui.linkhelpers.ResourceEditorLinkHelper"
             id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.applicationLinkHelper">
          <selectionEnablement>
             <or>
                <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.Resource"/>
             </or>
          </selectionEnablement>
          <editorInputEnablement>
             <instanceof value="org.eclipse.fordiac.ide.resourceediting.editors.ResourceEditorInput"/>
          </editorInputEnablement>
       </linkHelper>
    </extension>
    <extension point="org.eclipse.ui.navigator.linkHelper">    
       <linkHelper
             class="org.eclipse.fordiac.ide.systemmanagement.ui.linkhelpers.SystemConfigurationEditorLinkHelper"
             id="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.systemConfigurationLinkHelper">
          <selectionEnablement>
             <or>
                <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.SystemConfiguration"/>
                <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.Device"/>
                <instanceof value="org.eclipse.fordiac.ide.model.libraryElement.Segment"/>
             </or>
          </selectionEnablement>
          <editorInputEnablement>
             <instanceof value="org.eclipse.fordiac.ide.systemconfiguration.editor.SystemConfigurationEditorInput"/>
          </editorInputEnablement>
       </linkHelper>
    </extension>
</plugin>
