<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="RuntimeLauncher" name="org.eclipse.fordiac.ide.runtime.launcher" schema="schema/RuntimeLauncher.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.fordiac.ide.view.category"
            class="org.eclipse.fordiac.ide.runtime.views.RuntimeLauncherView"
            icon="fordiacimage://ICON_RUNTIME_LAUNCHER"
            id="org.eclipse.fordiac.ide.runtime.views.RuntimeLauncherView"
            name="Runtime Launcher">
      </view>
   </extension>

</plugin>
