<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.eclipse.fordiac.ide.systemconfiguration.communication" name="Available communication configurations for segments" schema="schema/org.eclipse.fordiac.ide.systemconfiguration.communication.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.fordiac.ide.systemconfiguration.editor.SystemConfigurationEditor"
            contributorClass="org.eclipse.fordiac.ide.gef.ZoomUndoRedoActionBarContributor"
            icon="fordiacimage://ICON_SYSTEM_CONFIGURATION"
            id="org.eclipse.fordiac.ide.systemconfiguration.editor.SystemConfigurationEditor"
            name="System Configuration">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.fordiac.ide.application.editors.DiagramEditor">
         <propertyTab
               category="Device"
               id="org.eclipse.fordiac.ide.application.propertyDeviceInterfaceTab"
               label="Instance">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.propertyDeviceInterfaceTab"
               category="Device"
               id="org.eclipse.fordiac.ide.device.propertyAttributeTab"
               indented="true"
               label="Attributes">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.device.propertyAttributeTab"
               category="Device"
               id="org.eclipse.fordiac.ide.device.propertyAppearanceTab"
               label="Appearance">
         </propertyTab>
         <propertyTab
               category="Device"
               id="org.eclipse.fordiac.ide.device.propertyInterfaceElementTab"
               label="Interface Element">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.fordiac.ide.application.editors.DiagramEditor">
         <propertySection
               class="org.eclipse.fordiac.ide.systemconfiguration.properties.DeviceSection"
               id="org.eclipse.fordiac.ide.systemconfiguration.properties.InterfaceSection"
               tab="org.eclipse.fordiac.ide.application.propertyDeviceInterfaceTab">
            <input
                  type="org.eclipse.fordiac.ide.systemconfiguration.editparts.DeviceEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.model.libraryElement.Device">
             </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.systemconfiguration.properties.SegmentSection"
               id="org.eclipse.fordiac.ide.systemconfiguration.properties.SegmentInterfaceSection"
               tab="org.eclipse.fordiac.ide.application.propertyDeviceInterfaceTab">
            <input
                  type="org.eclipse.fordiac.ide.systemconfiguration.editparts.SegmentEditPart">
            </input>
            <input
                     type="org.eclipse.fordiac.ide.model.libraryElement.Segment">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.gef.properties.AppearancePropertySection"
               id="org.eclipse.fordiac.ide.gef.properties.AppearancePropertySection"
               tab="org.eclipse.fordiac.ide.device.propertyAppearanceTab">
            <input
                  type="org.eclipse.fordiac.ide.systemconfiguration.editparts.DeviceEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.systemconfiguration.editparts.SegmentEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.gef.properties.InterfaceElementSection"
               id="org.eclipse.fordiac.ide.systemconfiguration.properties.InterfaceElementSection"
               tab="org.eclipse.fordiac.ide.device.propertyInterfaceElementTab">
            <input
                  type="org.eclipse.fordiac.ide.systemconfiguration.editparts.DeviceInterfaceEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.systemconfiguration.properties.ResourceSection"
               id="org.eclipse.fordiac.ide.systemconfiguration.properties.ResourceInterfaceSection"
               tab="org.eclipse.fordiac.ide.application.propertyResourceInterfaceTab">
            <input
                  type="org.eclipse.fordiac.ide.systemconfiguration.editparts.ResourceEditPart">
            </input>
            <input
                     type="org.eclipse.fordiac.ide.model.libraryElement.Resource">
               </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.model.ui.openListener">
      <openListener
            class="org.eclipse.fordiac.ide.systemconfiguration.actions.OpenSystemConfEditorAction"
            icon="fordiacimage://ICON_SYSTEM_CONFIGURATION"
            id="org.eclipse.fordiac.ide.systemconfiguration.actions.OpenSystemConfEditorAction"
            label="Systemconfiguration">
      </openListener>
   </extension>   
</plugin>
