<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.ui.commands">
    <command
        id="org.eclipse.fordiac.ide.elk.layout"
        name="Layout with ELK">
    </command>
</extension>
<extension point="org.eclipse.ui.handlers">
    <handler
        class="org.eclipse.fordiac.ide.elk.handlers.LayoutHandler"
        commandId="org.eclipse.fordiac.ide.elk.layout">
    </handler>
</extension>
<extension point="org.eclipse.ui.menus">
   <menuContribution
         allPopups="false"
         locationURI="popup:org.eclipse.ui.popup.any?after=additions">  
      <separator name="layouting stuff" visible="true"/>
      <command
            commandId="org.eclipse.fordiac.ide.elk.layout"
            icon=""
            label="Layout the diagrams"
            style="push">
               </command>
	</menuContribution> 
   </extension>
</plugin>
