<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.fordiac.ide.commands.category"
            id="org.eclipse.fordiac.ide.onlineedit.onlineCreateConnection"
            name="Online Create Connection">
      </command>
      <command
            categoryId="org.eclipse.fordiac.ide.commands.category"
            id="org.eclipse.fordiac.ide.onlineedit.onlineCreateFB"
            name="Online Create FB">
      </command>
      <command
            categoryId="org.eclipse.fordiac.ide.commands.category"
            id="org.eclipse.fordiac.ide.onlineedit.onlineStartFB"
            name="Online Start FB">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.fordiac.ide.onlineedit.handlers.OnlineCreateConnectionHandler"
            commandId="org.eclipse.fordiac.ide.onlineedit.onlineCreateConnection">
         <activeWhen>
            <with
                  variable="selection">
               <iterate
                     operator="and"  ifEmpty="false">
                  <instanceof
                        value="org.eclipse.fordiac.ide.application.editparts.ConnectionEditPart">
                  </instanceof>
               </iterate>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.eclipse.fordiac.ide.onlineedit.handlers.OnlineCreateFBHandler"
            commandId="org.eclipse.fordiac.ide.onlineedit.onlineCreateFB">
            <activeWhen>
               <reference definitionId="org.eclipse.fordiac.ide.onlineedit.FBDefinition" />
            </activeWhen>
       </handler>
      <handler
            class="org.eclipse.fordiac.ide.onlineedit.handlers.OnlineStartFBHandler"
            commandId="org.eclipse.fordiac.ide.onlineedit.onlineStartFB">
            <activeWhen>
               <reference definitionId="org.eclipse.fordiac.ide.onlineedit.FBDefinition" />
            </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.fordiac.ide.onlineedit.onlineCreateConnection"
               label="Online Create Connection"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate operator="and"  ifEmpty="false">
                     <and>
	                 	<instanceof value="org.eclipse.fordiac.ide.application.editparts.ConnectionEditPart" />
	                    <not> 
	                     	<instanceof value="org.eclipse.fordiac.ide.fbtypeeditor.network.viewer.ConnectionEditPartRO" />
	                    </not>
	                </and>
                     
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.fordiac.ide.onlineedit.onlineCreateFB"
               label="Online Create FB"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference definitionId="org.eclipse.fordiac.ide.onlineedit.FBDefinition" />
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.fordiac.ide.onlineedit.onlineStartFB"
               label="Online Start FB">
            <visibleWhen
                  checkEnabled="false">
               <reference definitionId="org.eclipse.fordiac.ide.onlineedit.FBDefinition" />
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.run?after=deviceInteractionsEnd">
		<separator
		      name="onlineEdit"
		      visible="true">
		</separator>
		<command
		   commandId="org.eclipse.fordiac.ide.onlineedit.onlineCreateConnection"
		   label="Online Create Connection"
		   style="push">
		</command>
		<command
			commandId="org.eclipse.fordiac.ide.onlineedit.onlineCreateFB"
		    label="Online Create FB"
		    style="push">
		</command>
		<command
			commandId="org.eclipse.fordiac.ide.onlineedit.onlineStartFB"
		    label="Online Start FB">
		</command>
      </menuContribution>
   </extension>
<extension
      point="org.eclipse.core.expressions.definitions">
   <definition
         id="org.eclipse.fordiac.ide.onlineedit.FBDefinition">
       <with
               variable="selection" >
               <iterate ifEmpty="false">
                  <or>
                    <instanceof
                          value="org.eclipse.fordiac.ide.model.libraryElement.FB">
                    </instanceof>
                    <and>
	                    <instanceof
	                          value="org.eclipse.fordiac.ide.application.editparts.FBEditPart">
	                    </instanceof>
	                    <not>
	                    	<or>
	                    		<instanceof value="org.eclipse.fordiac.ide.fbtypeeditor.network.viewer.FBEditPartRO"/>
	                    		<instanceof value="org.eclipse.fordiac.ide.fbtypeeditor.network.editparts.AdapterFBEditPart"/>
	                    	</or>	
	                    </not>
	                </and>    
                  </or>
               </iterate>
         </with>  
   </definition>
</extension>
</plugin>
