<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
   		point="org.eclipse.core.contenttype.contentTypes">
	  <content-type
         	base-type="org.eclipse.4diac.ide.iec61499Content"
         	file-extensions="sub,SUB"
         	id="org.eclipse.4diac.ide.subAppTypeContent"
         	name="%IEC61499SubAppTypeFile" />
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%SubapplicationTypeEditor.name"
            extensions="sub"
            default="true"
            icon="fordiacimage://ICON_SUB_APP_TYPE"
            contributorClass="org.eclipse.fordiac.ide.gef.editors.GraphicalMultipageEditorContributor"
            class="org.eclipse.fordiac.ide.subapptypeeditor.SubAppTypeEditor"
            id="org.eclipse.fordiac.ide.subapptypeeditor.SubAppTypeEditor"
            matchingStrategy="org.eclipse.fordiac.ide.ui.editors.FordiacEditorMatchingStrategy"/>
      <editorContentTypeBinding
            contentTypeId="org.eclipse.4diac.ide.subAppTypeContent" 
            editorId="org.eclipse.fordiac.ide.subapptypeeditor.SubAppTypeEditor"/>
	</extension>
	<extension
         point="org.eclipse.fordiac.ide.typeeditor.typeEditorPage">
      	<editorPage
            class="org.eclipse.fordiac.ide.subapptypeeditor.editors.SubAppInterfaceEditor"
            sortIndex="20">
          <enablement>
             <instanceof
                   value="org.eclipse.fordiac.ide.model.libraryElement.SubAppType">
             </instanceof>
          </enablement>
      	</editorPage>
      	<editorPage
            class="org.eclipse.fordiac.ide.subapptypeeditor.editors.SubAppNetworkBreadCrumbEditor"
            sortIndex="30">
          <enablement>
             <instanceof
                   value="org.eclipse.fordiac.ide.model.libraryElement.SubAppType">
             </instanceof>
          </enablement>
    	</editorPage>
	</extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="property.contributor.fb">
          <propertyCategory
               category="Interface">
         </propertyCategory>
         <propertyCategory
               category="FB">
         </propertyCategory>
         <propertyCategory
               category="Connection">
         </propertyCategory>        
         <propertyCategory
               category="Device">
         </propertyCategory>
         <propertyCategory
               category="Resource">
         </propertyCategory>
         <propertyCategory
               category="Application">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="property.contributor.fb">
         <propertyTab
               category="FB"
               id="org.eclipse.fordiac.ide.application.propertyInterfaceTab"
               label="Instance">
         </propertyTab>
         <propertyTab
               category="FB-Network"
               id="org.eclipse.fordiac.ide.application.propertyInterfaceTab"
               label="Instance">
         </propertyTab>
         <propertyTab
               category="Resource"
               id="org.eclipse.fordiac.ide.application.propertyResourceInterfaceTab"
               label="Instance">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.propertyInterfaceTab"
               category="FB"
               image="fordiacimage://ICON_ADAPTER_LIST"
               id="org.eclipse.fordiac.ide.application.property.tab.EditEvents"
               indented="true"
               label="Edit Events">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.property.tab.EditEvents"
               category="FB"
               image="fordiacimage://ICON_DATA"
               id="org.eclipse.fordiac.ide.application.property.tab.EditData"
               indented="true"
               label="Edit Data">
         </propertyTab>
         <propertyTab afterTab="org.eclipse.fordiac.ide.application.property.tab.EditData"
               category="FB"
               id="org.eclipse.fordiac.ide.application.property.tab.EditVarInOut"
               indented="true"
               label="Edit Var In/Out">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.property.tab.EditVarInOut"
               category="FB"
               image="fordiacimage://ICON_ADAPTER_LIST"
               id="org.eclipse.fordiac.ide.application.property.tab.EditAdapters"
               indented="true"
               label="Edit Adapters">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.property.tab.EditAdapters"
               category="FB"
               id="org.eclipse.fordiac.ide.application.propertyFBTypeInfoTab"
               image="fordiacimage://ICON_FB_TYPE"
               label="Type Info">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.propertyFBTypeInfoTab"
               category="FB"
               id="org.eclipse.fordiac.ide.application.property.tab.ShowEvent"
               image="fordiacimage://ICON_EVENT"
               label="Events"
               indented="true">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.property.tab.ShowEvent"
               category="FB"
               id="org.eclipse.fordiac.ide.application.property.tab.ShowData"
               image="fordiacimage://ICON_DATA"
               label="Data"
               indented="true">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.propertyFBTypeInfoTab"
               category="FB"
               id="org.eclipse.fordiac.ide.application.property.tab.ShowAdapter"
               image="fordiacimage://ICON_ADAPTER_LIST"
               label="Adapter"
               indented="true">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.propertyInterfaceTab"
               category="FB"
               id="org.eclipse.fordiac.ide.application.propertyAppearanceTab"
               label="Appearance">
         </propertyTab>
         <propertyTab
               category="Connection"
               id="org.eclipse.fordiac.ide.application.propertyConnectionTab"
               label="Connection">
         </propertyTab>
         <propertyTab
               category="Connection"
               id="org.eclipse.fordiac.ide.application.CreateConnection"
               label="Create Connection">
         </propertyTab>
         <propertyTab
               category="Interface"
               id="org.eclipse.fordiac.ide.application.propertyInterfaceElementTab"
               label="Pin">
         </propertyTab>
         <propertyTab
               category="Application"
               id="org.eclipse.fordiac.ide.application.propertyAttributeTab"
               indented="false"
               label="Attributes">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="property.contributor.fb">
          <propertySection
              class="org.eclipse.fordiac.ide.application.properties.SubAppPropertySection"
              filter="org.eclipse.fordiac.ide.application.properties.SubappPropertySectionFilter"
              id="org.eclipse.fordiac.ide.application.properties.SubappInstanceSection"
              tab="org.eclipse.fordiac.ide.fbnet.propertyInterfaceTab">
         </propertySection>   
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.InterfaceElementSection"
               filter="org.eclipse.fordiac.ide.application.properties.TypedInterfacePinFilter"
               id="org.eclipse.fordiac.ide.application.properties.InterfaceElementSection"
               tab="org.eclipse.fordiac.ide.application.propertyInterfaceElementTab">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.subapptypeeditor.properties.EditTypedSubappInterfaceSection"
               filter="org.eclipse.fordiac.ide.subapptypeeditor.properties.FBSubappTypePropertiesFilter"
               id="org.eclipse.fordiac.ide.subapptypeeditor.properties.section.EditDataTypedSubapp"
               tab="org.eclipse.fordiac.ide.fbtypeeditor.property.tab.EditData">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.ShowInterfaceDataSection"
               id="org.eclipse.fordiac.ide.application.properties.section.ShowData"
               filter="org.eclipse.fordiac.ide.application.properties.TypedFBNetworkElementFilter"
               tab="org.eclipse.fordiac.ide.application.property.tab.ShowData">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.ShowInterfaceEventSection"
               id="org.eclipse.fordiac.ide.application.properties.section.ShowEvent"
               filter="org.eclipse.fordiac.ide.application.properties.TypedFBNetworkElementFilter"
               tab="org.eclipse.fordiac.ide.application.property.tab.ShowEvent">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.ShowInterfaceAdapterSection"
               id="org.eclipse.fordiac.ide.application.properties.section.ShowAdapter"
               filter="org.eclipse.fordiac.ide.application.properties.TypedFBNetworkElementFilter"
               tab="org.eclipse.fordiac.ide.application.property.tab.ShowAdapter">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.EditUntypedSubappInterfaceEventSection"
               id="org.eclipse.fordiac.ide.application.properties.section.EditEvents"
               filter="org.eclipse.fordiac.ide.application.properties.SubappInterfaceEditingFilter"
               tab="org.eclipse.fordiac.ide.application.property.tab.EditEvents">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.EditUntypedSubappInterfaceDataSection"
               id="org.eclipse.fordiac.ide.application.properties.section.EditData"
               filter="org.eclipse.fordiac.ide.application.properties.SubappInterfaceEditingFilter"
               tab="org.eclipse.fordiac.ide.application.property.tab.EditData">
         </propertySection>
         <propertySection class="org.eclipse.fordiac.ide.application.properties.EditUntypedSubappVarInOutSection"
               id="org.eclipse.fordiac.ide.application.properties.section.EditVarInOut"
               filter="org.eclipse.fordiac.ide.application.properties.SubappInterfaceEditingFilter"
               tab="org.eclipse.fordiac.ide.application.property.tab.EditVarInOut">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.EditInterfaceAdapterSection"
               id="org.eclipse.fordiac.ide.application.properties.section.EditAdapters"
               filter="org.eclipse.fordiac.ide.application.properties.SubappInterfaceEditingFilter"
               tab="org.eclipse.fordiac.ide.application.property.tab.EditAdapters">
         </propertySection>
         <propertySection class="org.eclipse.fordiac.ide.application.properties.PinEventInfoSection"
               id="org.eclipse.fordiac.ide.application.pins.PinEventSection"
               tab="org.eclipse.fordiac.ide.application.propertyInterfaceElementTab"
               filter="org.eclipse.fordiac.ide.gef.filters.PinEventInfoFilter">
      	</propertySection>
		<propertySection class="org.eclipse.fordiac.ide.application.properties.PinDataInfoSection"
               id="org.eclipse.fordiac.ide.application.pins.PinDataSection"
               tab="org.eclipse.fordiac.ide.application.propertyInterfaceElementTab"
               filter="org.eclipse.fordiac.ide.gef.filters.PinDataInfoFilter">
     	</propertySection>
      	<propertySection class="org.eclipse.fordiac.ide.application.properties.PinAdapterInfoSection"
               id="org.eclipse.fordiac.ide.application.pins.PinAdapterSection"
               tab="org.eclipse.fordiac.ide.application.propertyInterfaceElementTab"
               filter="org.eclipse.fordiac.ide.gef.filters.PinAdapterInfoFilter">
      	</propertySection>
      </propertySections>
   </extension>
   
</plugin>
