<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         point="org.eclipse.ui.editors">
<editor
            class="org.eclipse.fordiac.ide.fbtypeeditor.network.viewer.CompositeInstanceViewer"
            contributorClass="org.eclipse.fordiac.ide.gef.ZoomUndoRedoActionBarContributor"
            default="true"
            icon="fordiacimage://ICON_COMPOSITE_FB"
            id="org.eclipse.fordiac.ide.fbtypeeditor.network.viewer.CompositeInstanceViewer"
            name="CompositeInstanceViewer">
      </editor>
</extension>
   <extension
         point="org.eclipse.fordiac.ide.fbtypeeditor.fBTEditorTabs">
      <editor
            class="org.eclipse.fordiac.ide.fbtypeeditor.network.CompositeNetworkEditor"
            sortIndex="65"
            type="composite">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="property.contributor.fb">
         <propertyCategory
               category="FB-Network">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="property.contributor.fb">
         <propertyTab
               category="FB-Network"
               id="org.eclipse.fordiac.ide.fbnet.propertyInterfaceTab"
               label="Interface">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.fbnet.propertyInterfaceTab"
               category="FB-Network"
               id="org.eclipse.fordiac.ide.fbnet.propertyFBTypeInfoTab"
               image="fordiacimage://ICON_FB_TYPE"
               label="Type Info">
         </propertyTab>
         <propertyTab
               category="FB-Network"
               id="org.eclipse.fordiac.ide.fbnet.propertyInterfaceElementTab"
               label="Pin">
         </propertyTab>
         <propertyTab
               category="FB-Network"
               id="org.eclipse.fordiac.ide.fbnet.propertyConnectionTab"
               label="Connection">
         </propertyTab>
         <propertyTab
               category="FB-Network"
               id="org.eclipse.fordiac.ide.fbnet.CreateConnection"
               label="Create Connection">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="property.contributor.fb">
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.InterfaceSection"
               id="org.eclipse.fordiac.ide.fbnet.properties.InterfaceSection"
               tab="org.eclipse.fordiac.ide.fbnet.propertyInterfaceTab">
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.FBEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.gef.properties.ConnectionSection"
               id="org.eclipse.fordiac.ide.fbnet.properties.ConnectionSection"
               tab="org.eclipse.fordiac.ide.fbnet.propertyConnectionTab">
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.ConnectionEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.gef.properties.InterfaceElementSection"
               id="org.eclipse.fordiac.ide.fbnet.properties.InterfaceElementSection"
               tab="org.eclipse.fordiac.ide.fbnet.propertyInterfaceElementTab">
            <input
                  type="org.eclipse.fordiac.ide.gef.editparts.InterfaceEditPart">
            </input>
         </propertySection>
          <propertySection
               class="org.eclipse.fordiac.ide.application.properties.FBTypeInfoSection"
               id="org.eclipse.fordiac.ide.fbnet.properties.FBTypeInfoSection"
               tab="org.eclipse.fordiac.ide.fbnet.propertyFBTypeInfoTab">
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.FBEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.CreateConnectionSection"
               enablesFor="2"
               id="org.eclipse.fordiac.ide.fbnet.properties.ConnectionSection"
               tab="org.eclipse.fordiac.ide.fbnet.propertyConnectionTab">
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.InterfaceEditPartForFBNetwork">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.network.editparts.CompositeInternalInterfaceEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
	<extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.fordiac.ide.compositefbpaletteviewer">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.fordiac.ide.compositefbpaletteviewer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.fordiac.ide.fbPaletteContent"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.startsWithDot"/>
            <contentExtension pattern="org.eclipse.fordiac.ide.compositefbpaletteviewer.filters.showonlyFBTypes"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper" />
         </includes>
      </viewerContentBinding>
      <dragAssistant
            class="org.eclipse.fordiac.ide.typemanagement.FBTypeDragAssistant"
            viewerId="org.eclipse.fordiac.ide.compositefbpaletteviewer">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            id="org.eclipse.fordiac.ide.compositefbpaletteviewer.filters.showonlyFBTypes"
            name="Show only IEC 61499 FB Types"
            visibleInUI="true">
         <filterExpression>
                  <or>
                     <not>
                        <or>
                           <instanceof value="org.eclipse.emf.edit.provider.ItemProviderAdapter"/>
                           <instanceof value="org.eclipse.emf.ecore.EObject"/>
                           <instanceof
                                 value="org.eclipse.core.resources.IFolder">
                           </instanceof>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="fbt">
                              </test>
                           </and>                           
                        </or>
                     </not>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="Tool Library">
                        </test>
                     </adapt>
                  </or>
        </filterExpression>
      </commonFilter>
  </extension>
</plugin>
