<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         point="org.eclipse.ui.editors">
<editor
            class="org.eclipse.fordiac.ide.fbtypeeditor.network.viewer.CompositeInstanceViewer"
            contributorClass="org.eclipse.fordiac.ide.gef.ZoomUndoRedoActionBarContributor"
            default="true"
            icon="fordiacimage://ICON_COMPOSITE_FB"
            id="org.eclipse.fordiac.ide.fbtypeeditor.network.viewer.CompositeInstanceViewer"
            name="CompositeInstanceViewer">
      </editor>
</extension>
   <extension
         point="org.eclipse.fordiac.ide.model.ui.openListener">
      <openListener
            class="org.eclipse.fordiac.ide.fbtypeeditor.network.actions.OpenCompositeInstanceViewerOpenListener"
            icon="fordiacimage://ICON_COMPOSITE_FB"
            id="org.eclipse.fordiac.ide.fbtypeeditor.network.actions.OpenCompositeInstanceViewerOpenListener"
            label="Open CFB Instance Viewer">
      </openListener>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.typeeditor.typeEditorPage">
      <editorPage
            class="org.eclipse.fordiac.ide.fbtypeeditor.network.CompositeNetworkEditor"
            sortIndex="65">
         <enablement>
            <instanceof
                  value="org.eclipse.fordiac.ide.model.libraryElement.CompositeFBType">
            </instanceof>
            <not>
               <instanceof
                     value="org.eclipse.fordiac.ide.model.libraryElement.SubAppType">
               </instanceof>
            </not>
         </enablement>
      </editorPage>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="property.contributor.fb">
         <propertyCategory
               category="Config">
         </propertyCategory>
         <propertyCategory
               category="FB-Network">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="property.contributor.fb">
         <propertyTab
               category="Config"
               id="org.eclipse.fordiac.ide.application.propertyStructManipulatorTab"
               label="Struct Handling">
         </propertyTab>
         <propertyTab
               category="Config"
               id="org.eclipse.fordiac.ide.application.propertyDemultiplexerTab"
               label="Struct Handling">
         </propertyTab>
         <propertyTab
            category="Config"
            id="org.eclipse.fordiac.ide.application.propertyConfigurableFBTab"
            label="Config">
     	 </propertyTab>
         <propertyTab
               category="FB-Network"
               id="org.eclipse.fordiac.ide.fbnet.propertyInterfaceTab"
               label="Instance">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.fbnet.propertyInterfaceTab"
               category="FB-Network"
               id="org.eclipse.fordiac.ide.fbnet.propertyFBTypeInfoTab"
               image="fordiacimage://ICON_FB_TYPE"
               label="Type Info">
         </propertyTab>
         
         <propertyTab
               category="FB-Network"
               id="org.eclipse.fordiac.ide.fbnet.propertyInterfaceElementTab"
               label="Pin">
         </propertyTab>
         <propertyTab
               category="FB-Network"
               id="org.eclipse.fordiac.ide.fbnet.propertyConnectionTab"
               label="Connection">
         </propertyTab>
         <propertyTab
               category="FB-Network"
               id="org.eclipse.fordiac.ide.fbnet.CreateConnection"
               label="Create Connection">
         </propertyTab>
         <propertyTab
               category="Interface"
               id="org.eclipse.fordiac.ide.application.propertyStructInterfaceElementTab"
               indented="false"
               label="Struct Element">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.propertyInterfaceTab"
               category="FB-Network"
               id="org.eclipse.fordiac.ide.application.property.tab.EditEvents"
               image="fordiacimage://ICON_EVENT"
               indented="true"
               label="Edit Events">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.property.tab.EditEvents"
               category="FB-Network"
               image="fordiacimage://ICON_DATA"
               id="org.eclipse.fordiac.ide.application.property.tab.EditData"
               indented="true"
               label="Edit Data">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.property.tab.EditData"
               category="FB-Network"
               image="fordiacimage://ICON_ADAPTER_LIST"
               id="org.eclipse.fordiac.ide.application.property.tab.EditAdapters"
               indented="true"
               label="Edit Adapters">
          </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="property.contributor.fb">
        <propertySection
              class="org.eclipse.fordiac.ide.application.properties.ConfigurableMoveFBSection"
              filter="org.eclipse.fordiac.ide.application.properties.ConfigurableMoveFBFilter"
              id="org.eclipse.fordiac.ide.application.properties.ConfigurableFBSection"
              tab="org.eclipse.fordiac.ide.application.propertyConfigurableFBTab">
        </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.InstancePropertySection"
               filter="org.eclipse.fordiac.ide.application.properties.InstanceSectionFilter"
               id="org.eclipse.fordiac.ide.fbnet.properties.InterfaceSection"
               tab="org.eclipse.fordiac.ide.fbnet.propertyInterfaceTab">
         </propertySection>
               <propertySection
            class="org.eclipse.fordiac.ide.application.properties.CommentPropertySection"
            filter="org.eclipse.fordiac.ide.application.properties.CommentSectionFilter"
            id="org.eclipse.fordiac.ide.application.properties.CommentPropertySection"
            tab="org.eclipse.fordiac.ide.application.propertyInterfaceTab">
      </propertySection>
         <propertySection
            class="org.eclipse.fordiac.ide.application.properties.GroupPropertySection"
            filter="org.eclipse.fordiac.ide.application.properties.GroupSectionFilter"
            id="org.eclipse.fordiac.ide.fbnet.properties.GroupPropertySection"
            tab="org.eclipse.fordiac.ide.fbnet.propertyInterfaceTab">
      	 </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.gef.properties.ConnectionSection"
               enablesFor="1"
               filter="org.eclipse.fordiac.ide.application.properties.ConnectionFilter"
            	id="org.eclipse.fordiac.ide.fbnet.properties.ConnectionSection"
               tab="org.eclipse.fordiac.ide.fbnet.propertyConnectionTab">
         </propertySection>
         <propertySection
               enablesFor="1"
               class="org.eclipse.fordiac.ide.application.properties.FBTypeInfoSection"
               id="org.eclipse.fordiac.ide.application.properties.FBTypeInfoSection"
               tab="org.eclipse.fordiac.ide.fbnet.propertyFBTypeInfoTab"
	           filter="org.eclipse.fordiac.ide.application.properties.TypedFBNetworkElementFilter">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.CreateConnectionSection"
               enablesFor="2"
               filter="org.eclipse.fordiac.ide.application.properties.CreateConnectionFilter"
               id="org.eclipse.fordiac.ide.fbnet.properties.ConnectionSection"
               tab="org.eclipse.fordiac.ide.fbnet.propertyConnectionTab">
         </propertySection>
          <propertySection
         	class="org.eclipse.fordiac.ide.application.properties.DemultiplexerSection"
         	id="org.eclipse.fordiac.ide.application.properties.DemultiplexerSection"
         	tab="org.eclipse.fordiac.ide.application.propertyDemultiplexerTab"
         	filter="org.eclipse.fordiac.ide.application.properties.DemultiplexerFilter">
         </propertySection>
         <propertySection
         	class="org.eclipse.fordiac.ide.application.properties.MultiplexerSection"
         	id="org.eclipse.fordiac.ide.application.properties.MultiplexerSection"
         	tab="org.eclipse.fordiac.ide.application.propertyStructManipulatorTab"
         	filter="org.eclipse.fordiac.ide.application.properties.MultiplexerFilter">
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.InterfaceElementSection"
               filter="org.eclipse.fordiac.ide.application.properties.StructInterfacePinFilter"                       
               id="org.eclipse.fordiac.ide.application.properties.StructInterfaceElementSection"
               tab="org.eclipse.fordiac.ide.application.propertyStructInterfaceElementTab">
         </propertySection>
      </propertySections>
   </extension>
	<extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.fordiac.ide.compositefbpaletteviewer">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.fordiac.ide.compositefbpaletteviewer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.fordiac.ide.fbPaletteContent"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.startsWithDot"/>
            <contentExtension pattern="org.eclipse.fordiac.ide.compositefbpaletteviewer.filters.showonlyFBTypes"/>
         </includes>
      </viewerContentBinding>
      <dragAssistant
            class="org.eclipse.fordiac.ide.typemanagement.FBTypeDragAssistant"
            viewerId="org.eclipse.fordiac.ide.compositefbpaletteviewer">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            id="org.eclipse.fordiac.ide.compositefbpaletteviewer.filters.showonlyFBTypes"
            name="Show only IEC 61499 FB Types"
            visibleInUI="true">
         <filterExpression>
                  <or>
                     <not>
                        <or>
                           <instanceof value="org.eclipse.emf.edit.provider.ItemProviderAdapter"/>
                           <instanceof value="org.eclipse.emf.ecore.EObject"/>
                           <instanceof
                                 value="org.eclipse.core.resources.IFolder">
                           </instanceof>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="fbt">
                              </test>
                           </and>                           
                        </or>
                     </not>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="Tool Library">
                        </test>
                     </adapt>
                  </or>
        </filterExpression>
      </commonFilter>
  </extension>
</plugin>
