<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="fBTEditorTabs" name="Function Block Type Editor Tabs" schema="schema/fBTEditorTabs.exsd"/>
   <extension-point id="fBTEditorValidation" name="Function Block Type Editor Validation" schema="schema/fBTEditorValidation.exsd"/>
   
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.fordiac.ide.fbtypeeditor.editors.FBTypeEditor"
            contributorClass="org.eclipse.fordiac.ide.fbtypeeditor.editors.FBTypeEditorContributor"
            extensions="fbt, adp"
            icon="fordiacimage://ICON_FB_TYPE"
            id="org.eclipse.fordiac.ide.fbtypeeditor.editors.FBTypeEditor"
            name="FB Type Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.fbtypeeditor.fBTEditorTabs">
      <editor
            class="org.eclipse.fordiac.ide.fbtypeeditor.editors.FBInterfaceEditor"
            sortIndex="20"
            type="ForAllFBTypes">
      </editor>
   </extension>
   
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="property.contributor.fb">
         <propertyCategory
               category="fb">
         </propertyCategory>
         <propertyCategory
               category="interface">
         </propertyCategory>
         <propertyCategory
               category="ecc">
         </propertyCategory>
         <propertyCategory
               category="serviceSequence">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="property.contributor.fb">
         <propertyTab
               category="fb"
               id="property.tab.fbtypeinfo"
               image="fordiacimage://ICON_FB_TYPE"
               label="Type Info">
         </propertyTab>
         <propertyTab
               category="interface"
               id="property.tab.adapter"
               image="fordiacimage://ICON_ADAPTER"
               label="Adapter">
         </propertyTab>
         <propertyTab
               category="interface"
               id="property.tab.event"
               image="fordiacimage://ICON_EVENT"
               label="Event">
         </propertyTab>
         <propertyTab
               category="interface"
               id="property.tab.data"
               image="fordiacimage://ICON_DATA"
               label="Data">
         </propertyTab>
         <propertyTab
               afterTab="property.tab.fbtypeinfo"
               category="fb"
               id="org.eclipse.fordiac.ide.fbtypeeditor.property.tab.EditEvents"
               image="fordiacimage://ICON_EVENT"
               indented="true"
               label="Edit Events">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.fbtypeeditor.property.tab.EditData"
               category="fb"
               id="org.eclipse.fordiac.ide.fbtypeeditor.property.tab.EditAdapters"
               image="fordiacimage://ICON_ADAPTER"
               indented="true"
               label="Edit Adapters">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.fbtypeeditor.property.tab.EditEvents"
               category="fb"
               id="org.eclipse.fordiac.ide.fbtypeeditor.property.tab.EditData"
               image="fordiacimage://ICON_DATA"
               indented="true"
               label="Edit Data">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="property.contributor.fb">
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.properties.FBTypeInfoSection"
               id="property.section.model.fBTypeInfo"
               tab="property.tab.fbtypeinfo">
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.FBTypeEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.FBTypeRootEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.model.libraryElement.provider.PropertiesItemProvider">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.properties.AdapterInterfaceElementSection"
               filter="org.eclipse.fordiac.ide.fbtypeeditor.properties.AdapterInterfaceFilter"
               id="property.section.interface.adapter"
               tab="property.tab.adapter">
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.AbstractInterfaceElementEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.TypeEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.CommentEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.properties.DataInterfaceElementSection"
               filter="org.eclipse.fordiac.ide.fbtypeeditor.properties.DataInterfaceFilter"
               id="property.section.interface.data"
               tab="property.tab.data">
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.AbstractInterfaceElementEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.TypeEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.CommentEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.properties.EventInterfaceElementSection"
               filter="org.eclipse.fordiac.ide.fbtypeeditor.properties.EventInterfaceFilter"
               id="property.section.interface.even"
               tab="property.tab.event">
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.AbstractInterfaceElementEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.TypeEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.CommentEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.properties.EditInterfaceAdapterSection"
               id="org.eclipse.fordiac.ide.fbtypeeditor.properties.section.EditAdapters"
               tab="org.eclipse.fordiac.ide.fbtypeeditor.property.tab.EditAdapters">
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.FBTypeEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.FBTypeRootEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.properties.EditInterfaceEventSection"
               id="org.eclipse.fordiac.ide.fbtypeeditor.properties.section.EditEvents"
               tab="org.eclipse.fordiac.ide.fbtypeeditor.property.tab.EditEvents">
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.FBTypeEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.FBTypeRootEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.fbtypeeditor.properties.EditInterfaceDataSection"
               id="org.eclipse.fordiac.ide.fbtypeeditor.properties.section.EditData"
               tab="org.eclipse.fordiac.ide.fbtypeeditor.property.tab.EditData">
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.FBTypeEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.fbtypeeditor.editparts.FBTypeRootEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   
</plugin>
