<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ArchiveDownloaderExtension" name="Extension point for Archive Downloader" schema="schema/ArchiveDownloaderExtension.exsd"/>
   <extension
         id="builder"
         name="4diac Library Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.fordiac.ide.library.builder.LibraryBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.fordiac.ide.library.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
            class="org.eclipse.fordiac.ide.library.preferences.LibraryPreferencePage"
            id="org.eclipse.fordiac.ide.library.preferences.LibraryPreferences"
            name="Library">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.eclipse.fordiac.ide.properties.FordiacPropertyPage"
            class="org.eclipse.fordiac.ide.library.preferences.LibraryPreferencePage"
            id="org.eclipse.fordiac.ide.library.properties.LibraryPreferences"
            name="Library">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.fordiac.ide.systemmanagement.FordiacNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
</plugin>
