<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ArchiveDownloaderExtension" name="Extension point for Archive Downloader" schema="schema/ArchiveDownloaderExtension.exsd"/>
   <extension
         id="builder"
         name="4diac Library Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.fordiac.ide.library.builder.LibraryBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.fordiac.ide.library.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="org.eclipse.fordiac.ide.library.refactoring.DeleteLibraryRefactoringParticipant"
            id="org.eclipse.fordiac.ide.library.deleteLibrary"
            name="Delete Library Folder Handler">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </and>
         </enablement>
      </deleteParticipant>
   </extension>
</plugin>
