<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.fordiac.ide.debug.ui.simple.SimpleFBLaunchShortcut"
            icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/fb_simple.png"
            id="org.eclipse.fordiac.ide.debug.ui.simpleFBShortcut"
            label="Evaluate Simple FB"
            modes="run, debug">
         <contextualLaunch>
            <contextLabel
                  label="Run Simple FB"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="Debug Simple FB"
                  mode="debug">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.fordiac.ide.typemanagement.fbType"
                              value="SimpleFBType">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="org.eclipse.fordiac.ide.debug.ui.basic.BasicFBLaunchShortcut"
            icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/fb_basic.png"
            id="org.eclipse.fordiac.ide.debug.ui.basicFBShortcut"
            label="Evaluate Basic FB"
            modes="run, debug">
         <contextualLaunch>
            <contextLabel
                  label="Run Basic FB"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="Debug Basic FB"
                  mode="debug">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.fordiac.ide.typemanagement.fbType"
                              value="BasicFBType">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="org.eclipse.fordiac.ide.debug.ui.function.FunctionFBLaunchShortcut"
            icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/function.png"
            id="org.eclipse.fordiac.ide.debug.ui.functionFBShortcut"
            label="Evaluate Function FB"
            modes="run, debug">
         <contextualLaunch>
            <contextLabel
                  label="Run Function FB"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="Debug Function FB"
                  mode="debug">
            </contextLabel>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.fordiac.ide.typemanagement.fbType"
                              value="FunctionFBType">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.fordiac.ide.debug.ui.simple.SimpleFBLaunchConfigurationTabGroup"
            id="org.eclipse.fordiac.ide.debug.ui.simpleFBLaunchConfigurationTabGroup"
            type="org.eclipse.fordiac.ide.debug.simpleFBLaunch">
         <launchMode
               mode="run">
         </launchMode>
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.eclipse.fordiac.ide.debug.ui.basic.BasicFBLaunchConfigurationTabGroup"
            id="org.eclipse.fordiac.ide.debug.ui.basicFBLaunchConfigurationTabGroup"
            type="org.eclipse.fordiac.ide.debug.basicFBLaunch">
         <launchMode
               mode="run">
         </launchMode>
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.eclipse.fordiac.ide.debug.ui.function.FunctionFBLaunchConfigurationTabGroup"
            id="org.eclipse.fordiac.ide.debug.ui.functionFBLaunchConfigurationTabGroup"
            type="org.eclipse.fordiac.ide.debug.functionFBLaunch">
         <launchMode
               mode="run">
         </launchMode>
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.fordiac.ide.debug.simpleFBLaunch"
            icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/fb_simple.png"
            id="org.eclipse.fordiac.ide.debug.ui.launchConfigurationTypeImage.simpleFBLaunch">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.fordiac.ide.debug.basicFBLaunch"
            icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/fb_basic.png"
            id="org.eclipse.fordiac.ide.debug.ui.launchConfigurationTypeImage.basicFBLaunch">
      </launchConfigurationTypeImage>
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.fordiac.ide.debug.functionFBLaunch"
            icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/function.png"
            id="org.eclipse.fordiac.ide.debug.ui.launchConfigurationTypeImage.functionFBLaunch">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.fordiac.ide.debug.ui.EvaluatorDebugModelPresentation"
            id="org.eclipse.fordiac.ide.debug.model">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            class=""
            adaptableType="org.eclipse.core.resources.IResource">
         <adapter
               type="org.eclipse.debug.ui.actions.ILaunchable">
         </adapter>
      </factory>
   </extension>
	<extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.fordiac.ide.debug.ui.view.FBDebugView"
            icon="fordiacimage://ICON_FB"
            id="org.eclipse.fordiac.ide.debug.ui.view.FBDebugView"
            name="FB Debug"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <view
               id="org.eclipse.fordiac.ide.debug.ui.view.FBDebugView"
               minimized="false"
               ratio="0.75f"
               relationship="bottom"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
