<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.debug.ui.launchShortcuts">
		<shortcut
			class="org.eclipse.fordiac.ide.debug.ui.fb.FBLaunchShortcut"
			icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/fb_type_run.png"
			id="org.eclipse.fordiac.ide.debug.ui.fbLaunchShortcut"
			label="Evaluate FB Type"
			modes="run, debug">
			<contextualLaunch>
				<contextLabel
					label="Run FB Type"
					mode="run">
				</contextLabel>
				<contextLabel
					label="Debug FB Type"
					mode="debug">
				</contextLabel>
				<enablement>
					<with
						variable="selection">
						<count
							value="1">
						</count>
						<iterate>
							<adapt
								type="org.eclipse.core.resources.IResource">
								<or>
									<test
										property="org.eclipse.fordiac.ide.typemanagement.fbType"
										value="SimpleFBType">
									</test>
									<test
										property="org.eclipse.fordiac.ide.typemanagement.fbType"
										value="BasicFBType">
									</test>
									<test
										property="org.eclipse.fordiac.ide.typemanagement.fbType"
										value="FunctionFBType">
									</test>
								</or>
							</adapt>
						</iterate>
					</with>
				</enablement>
			</contextualLaunch>
		</shortcut>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTabGroups">
		<launchConfigurationTabGroup
			class="org.eclipse.fordiac.ide.debug.ui.fb.FBLaunchConfigurationTabGroup"
			id="org.eclipse.fordiac.ide.debug.ui.fbLaunchConfigurationTabGroup"
			type="org.eclipse.fordiac.ide.debug.fbLaunch">
			<launchMode
				mode="run">
			</launchMode>
			<launchMode
				mode="debug"
				perspective="org.eclipse.debug.ui.DebugPerspective">
			</launchMode>
		</launchConfigurationTabGroup>
	</extension>
	<extension
		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
		<launchConfigurationTypeImage
			configTypeID="org.eclipse.fordiac.ide.debug.fbLaunch"
			icon="platform:/plugin/org.eclipse.fordiac.ide.images/images/fb_type_run.png"
			id="org.eclipse.fordiac.ide.debug.ui.launchConfigurationTypeImageFB">
		</launchConfigurationTypeImage>
	</extension>
	<extension
		point="org.eclipse.debug.ui.debugModelPresentations">
		<debugModelPresentation
			class="org.eclipse.fordiac.ide.debug.ui.EvaluatorDebugModelPresentation"
			id="org.eclipse.fordiac.ide.debug.model">
		</debugModelPresentation>
	</extension>
	<extension
		point="org.eclipse.core.runtime.adapters">
		<factory
			class=""
			adaptableType="org.eclipse.core.resources.IResource">
			<adapter
				type="org.eclipse.debug.ui.actions.ILaunchable">
			</adapter>
		</factory>
		<factory
			adaptableType="org.eclipse.fordiac.ide.debug.EvaluatorDebugStackFrame"
			class="org.eclipse.fordiac.ide.debug.ui.actions.EvaluatorDebugViewActionProviderFactory">
			<adapter
				type="org.eclipse.debug.internal.ui.viewers.model.provisional.IViewActionProvider">
			</adapter>
		</factory>
	</extension>
	<extension
		point="org.eclipse.ui.views">
		<view
			class="org.eclipse.fordiac.ide.debug.ui.view.FBDebugView"
			icon="fordiacimage://ICON_FB"
			id="org.eclipse.fordiac.ide.debug.ui.view.FBDebugView"
			name="FB Debug"
			restorable="true">
		</view>
	</extension>
	<extension
		point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
			<view
				id="org.eclipse.fordiac.ide.debug.ui.view.FBDebugView"
				minimized="false"
				ratio="0.75f"
				relationship="bottom"
				relative="org.eclipse.ui.navigator.ProjectExplorer">
			</view>
		</perspectiveExtension>
		<perspectiveExtension
			targetID="org.eclipse.fordiac.ide.typemanagement.perspective">
			<actionSet
				id="org.eclipse.debug.ui.launchActionSet">
			</actionSet>
			<actionSet
				id="org.eclipse.debug.ui.debugActionSet">
			</actionSet>
		</perspectiveExtension>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
			class="org.eclipse.fordiac.ide.debug.ui.preferences.FordiacDebugPreferencePage"
			id="org.eclipse.fordiac.ide.debug.ui.preferences.FordiacDebugPreferencePage"
			name="Debug">
		</page>
	</extension>
	<extension
		point="org.eclipse.core.runtime.adapters">
		<factory
			adaptableType="org.eclipse.fordiac.ide.debug.EvaluatorDebugVariable"
			class="org.eclipse.fordiac.ide.debug.ui.EvaluatorWatchExpressionFactory">
			<adapter
				type="org.eclipse.debug.ui.actions.IWatchExpressionFactoryAdapter">
			</adapter>
		</factory>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			categoryId="org.eclipse.fordiac.ide.commands.category"
			id="org.eclipse.fordiac.ide.debug.ui.changeValue"
			name="Change Value">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.fordiac.ide.debug.ui.handler.ToggleBoolVariableHandler"
			commandId="org.eclipse.fordiac.ide.application.commands.toggleBoolValue">
			<activeWhen>
				<with
					variable="selection">
					<iterate
						ifEmpty="false"
						operator="and">
						<instanceof
							value="org.eclipse.fordiac.ide.debug.EvaluatorDebugVariable">
						</instanceof>
					</iterate>
				</with>
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.debug.ui.handler.ChangeValueHandler"
			commandId="org.eclipse.fordiac.ide.debug.ui.changeValue">
			<activeWhen>
				<and>
					<with
						variable="activePartId">
						<equals
							value="org.eclipse.debug.ui.VariableView">
						</equals>
					</with>
					<with
						variable="selection">
						<count
							value="1">
						</count>
						<iterate
							ifEmpty="false"
							operator="and">
							<instanceof
								value="org.eclipse.fordiac.ide.debug.EvaluatorDebugVariable">
							</instanceof>
						</iterate>
					</with>
				</and>
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.debug.ui.handler.ChangeValuesHandler"
			commandId="org.eclipse.fordiac.ide.debug.ui.changeValue">
			<activeWhen>
				<with
					variable="selection">
					<count
						value="(1-">
					</count>
					<iterate
						ifEmpty="false"
						operator="and">
						<instanceof
							value="org.eclipse.fordiac.ide.debug.EvaluatorDebugVariable">
						</instanceof>
					</iterate>
				</with>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.bindings">
		<key
			commandId="org.eclipse.fordiac.ide.debug.ui.changeValue"
			contextId="org.eclipse.debug.ui.debugging"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			sequence="M1+ENTER">
		</key>
	</extension>
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			allPopups="false"
			locationURI="popup:org.eclipse.debug.ui.VariableView?after=variableGroup">
			<command
				commandId="org.eclipse.fordiac.ide.debug.ui.changeValue"
				icon="platform:/plugin/org.eclipse.debug.ui/icons/full/elcl16/changevariablevalue_co.png"
				label="Change Values..."
				tooltip="Change variable values">
				<visibleWhen
					checkEnabled="false">
					<with
						variable="selection">
						<count
							value="(1-">
						</count>
						<iterate
							ifEmpty="false"
							operator="and">
							<instanceof
								value="org.eclipse.fordiac.ide.debug.EvaluatorDebugVariable">
							</instanceof>
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.debug.ui.variableValueEditors">
		<variableValueEditor
			class="org.eclipse.fordiac.ide.debug.ui.editor.EvaluatorVariableValueEditor"
			modelId="org.eclipse.fordiac.ide.debug.model">
		</variableValueEditor>
	</extension>
</plugin>
