<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.fordiac.ide.typemanagement.TypeManagementPerspective"
            fixed="false"
            icon="fordiacimage://ICON_TYPE_NAVIGATOR"
            id="org.eclipse.fordiac.ide.typemanagement.perspective"
            name="Type Management">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.fordiac.ide.SystemPerspective">
         <perspectiveShortcut
               id="org.eclipse.fordiac.ide.typemanagement.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="org.eclipse.fordiac.ide.typemanagement.perspective">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.fordiac.ide.view.category"
            class="org.eclipse.fordiac.ide.typemanagement.navigator.TypeNavigator"
            icon="fordiacimage://ICON_TYPE_NAVIGATOR"
            id="org.eclipse.fordiac.ide.typemanagement.navigator.view"
            name="Type Navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="dev"
            icon="fordiacimage://ICON_DEVICE"
            id="org.eclipse.fordiac.ide.fbtypeeditor.editors.DeviceTypeEditor"
            name="Device Type Editor">
      </editor>
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="res"
            icon="fordiacimage://ICON_RESOURCE"
            id="org.eclipse.fordiac.ide.fbtypeeditor.editors.ResourceTypeEditor"
            name="Resource Type Editor">
      </editor>
      <editor
            class="org.eclipse.ui.editors.text.TextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            extensions="seg"
            icon="fordiacimage://ICON_SEGMENT"
            id="org.eclipse.fordiac.ide.fbtypeeditor.editors.SegmentTypeEditor"
            name="Segment Type Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.fordiac.ide.newWizard.category"
            class="org.eclipse.fordiac.ide.typemanagement.wizards.NewTypeWizard"
            icon="fordiacimage://ICON_NEW_FUNCTIONBLOCK"
            id="org.eclipse.fordiac.ide.typemanagement.wizards.NewFBTypeWizard"
            name="Type...">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.fordiac.ide.typemanagement.navigator.view">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.fordiac.ide.typemanagement.navigator.view">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent"/>
                  <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.startsWithDot"/>
                  <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.closedProject"/>
                  <contentExtension pattern="org.eclipse.fordiac.ide.typemanagement.navigator.filters.showonly61499Types"/>
                  <contentExtension pattern="org.eclipse.fordiac.ide.typemanagement.navigator.filters.*"/>
                  <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.workingSet"/>
                  <contentExtension
                        isRoot="true"
                        pattern="org.eclipse.fordiac.ide.typemanagement.toolLibraryContent">
                  </contentExtension>
                  <contentExtension
                        pattern="org.eclipse.fordiac.ide.typemanagement.fbTypeContent">
                  </contentExtension>
                  <contentExtension
                  pattern="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer.fbNetworkLinkHelper" />
                  
         </includes>
      </viewerContentBinding>
      <viewerActionBinding 
            viewerId="org.eclipse.fordiac.ide.typemanagement.navigator.view">
          <includes>
       	     <actionExtension pattern="org.eclipse.ui.navigator.resources.*" />		       	      
          </includes>
       </viewerActionBinding>
      <dragAssistant
            class="org.eclipse.fordiac.ide.typemanagement.FBTypeDragAssistant"
            viewerId="org.eclipse.fordiac.ide.typemanagement.navigator.view">
      </dragAssistant>
   </extension>
   <extension point="org.eclipse.ui.commands">
    	<command
        	id="org.eclipse.fordiac.ide.typemanagement.openType"
        	name="Open Type">
    	</command>
     <command
           id="org.eclipse.fordiac.ide.typemanagement.renameElement"
           name="Rename Element">
     </command>
     <command
           id="org.eclipse.fordiac.ide.typemanagement.connectionstostruct"
           name="Connections To Struct">
     </command>
     <command
           id="org.eclipse.fordiac.ide.typemanagement.repairbrokenconnection"
           name="Repair broken connection">
     </command> 
	</extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.fordiac.ide.typemanagement.openType"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+T">
      </key>
   </extension>
   <extension point="org.eclipse.ui.handlers">
    	<handler
        	class="org.eclipse.fordiac.ide.typemanagement.handlers.OpenTypeHandler"
        	commandId="org.eclipse.fordiac.ide.typemanagement.openType">
    	</handler>
     <handler
           class="org.eclipse.fordiac.ide.typemanagement.refactoring.rename.RenameElementRefactoringHandler"
           commandId="org.eclipse.fordiac.ide.typemanagement.renameElement">
        <enabledWhen>
           <with
                 variable="selection">
              <count
                    value="1">
              </count>
              <iterate>
                 <test
                       property="org.eclipse.fordiac.ide.typemanagement.renameSupported">
                 </test>
              </iterate>
           </with></enabledWhen>
     </handler>
     <handler
           class="org.eclipse.fordiac.ide.typemanagement.refactoring.handler.ConnectionsToStructHandler"
           commandId="org.eclipse.fordiac.ide.typemanagement.connectionstostruct">
           <enabledWhen>
           <with
                 variable="selection">
                 <test
                       property="org.eclipse.fordiac.ide.typemanagement.ConnectionsToStructSupported">
                 </test>
           </with></enabledWhen>
     </handler>
     <handler
           class="org.eclipse.fordiac.ide.typemanagement.refactoring.handler.RepairBrokenConnectionHandler"
           commandId="org.eclipse.fordiac.ide.typemanagement.repairbrokenconnection">
     </handler>

	</extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            id="org.eclipse.fordiac.ide.typemanagement.navigator.filters.showonly61499Types"
            name="Show only IEC 61499 Types"
            visibleInUI="true">
         <filterExpression>
                  <or>
                     <not>
                        <or>
                           <instanceof value="org.eclipse.emf.edit.provider.ItemProviderAdapter"/>
                           <instanceof value="org.eclipse.emf.ecore.EObject"/>
                           <instanceof value="org.eclipse.fordiac.ide.typemanagement.navigator.TypeLibRootElement"/>
                           <instanceof
                                 value="org.eclipse.core.resources.IFolder">
                           </instanceof>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="dtp">
                              </test>
                           </and>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="fbt">
                              </test>
                           </and>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="fct">
                              </test>
                           </and>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="adp">
                              </test>
                           </and>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="seg">
                              </test>
                           </and>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="res">
                              </test>
                           </and>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="dev">
                              </test>
                           </and>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <test
                                    property="org.eclipse.core.resources.extension"
                                    value="sub">
                              </test>
                           </and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                        </or>
                     </not>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="Tool Library">
                        </test>
                     </adapt>
                  </or>
        </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            id="org.eclipse.fordiac.ide.typemanagement.navigator.filters.hideAdapters"
            name="Adapters"
            visibleInUI="true">
         <filterExpression>                  
           <and>
              <instanceof
                    value="org.eclipse.core.resources.IFile">
              </instanceof>
              <test
                    property="org.eclipse.core.resources.extension"
                    value="adp">
              </test>
           </and>                           
        </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            id="org.eclipse.fordiac.ide.typemanagement.navigator.filters.hideDevices"
            name="Devices"
            visibleInUI="true">
         <filterExpression>                  
           <and>
              <instanceof
                    value="org.eclipse.core.resources.IFile">
              </instanceof>
              <test
                    property="org.eclipse.core.resources.extension"
                    value="dev">
              </test>
           </and>                           
        </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            id="org.eclipse.fordiac.ide.typemanagement.navigator.filters.hideResources"
            name="Resources"
            visibleInUI="true">
         <filterExpression>                  
           <and>
              <instanceof
                    value="org.eclipse.core.resources.IFile">
              </instanceof>
              <test
                    property="org.eclipse.core.resources.extension"
                    value="res">
              </test>
           </and>                           
        </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            id="org.eclipse.fordiac.ide.typemanagement.navigator.filters.hideFBs"
            name="Function Blocks"
            visibleInUI="true">
         <filterExpression>                  
           <and>
              <instanceof
                    value="org.eclipse.core.resources.IFile">
              </instanceof>
              <test
                    property="org.eclipse.core.resources.extension"
                    value="fbt">
              </test>
           </and>                           
        </filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="false"
            id="org.eclipse.fordiac.ide.typemanagement.navigator.filters.hideSegments"
            name="Segments"
            visibleInUI="true">
         <filterExpression>                  
           <and>
              <instanceof
                    value="org.eclipse.core.resources.IFile">
              </instanceof>
              <test
                    property="org.eclipse.core.resources.extension"
                    value="seg">
              </test>
           </and>                           
        </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.fordiac.ide.typemanagement.navigator.FBTypeContentProvider"
            id="org.eclipse.fordiac.ide.typemanagement.fbTypeContent"
            labelProvider="org.eclipse.fordiac.ide.typemanagement.navigator.FBTypeLabelProvider"
            name="FB Type Content">
            <possibleChildren>
	           <or>     
	              <!-- this possible child flag is need so that our lable provider is styling the icon and text of FB type files -->    
	              <instanceof value="org.eclipse.core.resources.IFile" /> 
	              <instanceof value="org.eclipse.emf.ecore.EObject"/>
	              <instanceof value="org.eclipse.emf.edit.provider.ItemProviderAdapter"/>
	           </or>
	        </possibleChildren> 
            <triggerPoints>
               <and>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <or>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="fbt">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="fct">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="adp">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="res">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="dev">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="seg">
                     </test>
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.extension"
                           value="sub">
                     </test>
                  </or>
               </and>
            </triggerPoints>
            <commonSorter
                  class="org.eclipse.fordiac.ide.typemanagement.navigator.KeepOrderContentSorter"
                  id="org.eclipse.fordiac.ide.typemanagement.navigator.FBContentSorter">
               <parentExpression>
                  <or>
                     <instanceof
                           value="org.eclipse.fordiac.ide.model.libraryElement.FBType">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.fordiac.ide.model.libraryElement.InterfaceList">
                     </instanceof>
                  </or>
               </parentExpression>
            </commonSorter>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.fordiac.ide.typemanagement.navigator.ToolLibraryContentProvider"
            id="org.eclipse.fordiac.ide.typemanagement.toolLibraryContent"
            labelProvider="org.eclipse.fordiac.ide.typemanagement.navigator.ToolLibraryLabelProvider"
            name="Toollibrary">
            <possibleChildren>
           <or>         
              <instanceof 
                    value="org.eclipse.core.resources.IWorkspaceRoot" /> 
              <instanceof
                    value="org.eclipse.core.resources.IProject" /> 
              <instanceof 
                     value="org.eclipse.core.resources.IResource" /> 
              <instanceof  
                     value="org.eclipse.core.resources.IFolder" />
              <instanceof 
                     value="org.eclipse.core.resources.IFile" /> 
         </or>
     </possibleChildren>
            <triggerPoints>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.name"
                     value="Tool Library">
               </test>
            </and></triggerPoints>
      </navigatorContent>
      <commonWizard
            type="new"
            wizardId="org.eclipse.fordiac.ide.typemanagement.wizards.NewFBTypeWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.eclipse.fordiac.ide.systemmanagement.ui.wizard.New4diacProjectWizard">
         <enablement></enablement>
      </commonWizard>      
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.eclipse.fordiac.ide.typemanagement.refactoring.rename.RenameTypeRefactoringParticipant"
            id="org.eclipse.fordiac.ide.typemanagement.renameType"
            name="Rename Type handler">
         <enablement>
         	<and>
               <instanceof 
                     value="org.eclipse.core.resources.IFile">
               </instanceof>               
               <or>
               <test
               		 forcePluginActivation="true"	
                     property="org.eclipse.core.resources.extension"
                     value="fbt">
               </test>
               <test
               		 forcePluginActivation="true"	
                     property="org.eclipse.core.resources.extension"
                     value="fct">
               </test>
                      <test
               		 forcePluginActivation="true"	
                     property="org.eclipse.core.resources.extension"
                     value="dtp">
               </test>
               <test
               		 forcePluginActivation="true"	
                     property="org.eclipse.core.resources.extension"
                     value="adp">
               </test>
               <test
               		 forcePluginActivation="true"	
                     property="org.eclipse.core.resources.extension"
                     value="res">
               </test>
               <test
               		 forcePluginActivation="true"	
                     property="org.eclipse.core.resources.extension"
                     value="dev">
               </test>
               <test
               		 forcePluginActivation="true"	
                     property="org.eclipse.core.resources.extension"
                     value="seg">
               </test>
               <test
               		 forcePluginActivation="true"	
                     property="org.eclipse.core.resources.extension"
                     value="sub">
               </test>
               </or>
             </and>
         </enablement>
      </renameParticipant>
      <renameParticipant
            class="org.eclipse.fordiac.ide.typemanagement.refactoring.rename.RenameElementRefactoringParticipant"
            id="org.eclipse.fordiac.ide.typemanagement.renameElement"
            name="Rename Model Element">
         <enablement>
            <with
                  variable="processorIdentifier">
               <or>
                  <equals
                        value="org.eclipse.fordiac.ide.structuredtextalgorithm.STAlgorithm.renameProcessor2">
                  </equals>
                  <equals
                        value="org.eclipse.fordiac.ide.model.datatype.dtp.renameProcessor2">
                  </equals>
               </or>
            </with>
         </enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.deleteParticipants">
      <deleteParticipant
            class="org.eclipse.fordiac.ide.typemanagement.refactoring.delete.DeleteTypeRefactoringParticipant"
            id="org.eclipse.fordiac.ide.typemanagement.deleteFBType"
            name="Delete FB Type Handler">
     	<enablement>
     		<and>
     			<instanceof 
                 	value="org.eclipse.core.resources.IFile">
               	</instanceof>
               	<or>
           			<test
       		 			forcePluginActivation="true"	
                    	property="org.eclipse.core.resources.extension"
                     	value="fbt">
           			</test>
           			<test
       		 			forcePluginActivation="true"	
                    	property="org.eclipse.core.resources.extension"
                     	value="sub">
           			</test>
               		<test
               		 	forcePluginActivation="true"	
                    	property="org.eclipse.core.resources.extension"
                     	value="fct">
               		</test>
               		<test
               		 	forcePluginActivation="true"	
                     	property="org.eclipse.core.resources.extension"
                     	value="dtp">
               		</test>
               		<test
               		 	forcePluginActivation="true"	
                     	property="org.eclipse.core.resources.extension"
                     	value="sub">
               		</test>
           		</or>
        	</and>   
     	</enablement> 
      </deleteParticipant>
   </extension>
    <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer">
      </viewer>
      <dragAssistant
            class="org.eclipse.fordiac.ide.typemanagement.FBTypeDragAssistant"
            viewerId="org.eclipse.fordiac.ide.systemmanagement.ui.systemexplorer">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
            class="org.eclipse.fordiac.ide.typemanagement.preferences.TypeManagementPreferencePage"
            id="org.eclipse.fordiac.ide.typemanagement.preferences.TypeManagementPreferencePage"
            name="Type Management Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.fordiac.ide.typemanagement.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.fordiac.ide.typemanagement.navigator.TypeDecorator"
            icon="fordiacimage://ICON_FB_TYPE"
            id="org.eclipse.fordiac.ide.typemanagement.TypeDecorator"
            label="4diac Type Decoration"
            lightweight="true"
            state="true">
            <enablement>
                <objectClass name="org.eclipse.core.resources.IFile" />
            </enablement>
            <description>
               Show type comment beside the type name.
            </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.fordiac.ide.typemanagement.util.FBTypePropertyTester"
            id="org.eclipse.fordiac.ide.typemanagement.fbType"
            namespace="org.eclipse.fordiac.ide.typemanagement"
            properties="fbType"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
      <propertyTester
            class="org.eclipse.fordiac.ide.typemanagement.refactoring.RefactorElementPropertyTester"
            id="org.eclipse.fordiac.ide.typemanagement.refactorElementTester"
            namespace="org.eclipse.fordiac.ide.typemanagement"
            properties="renameSupported"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.fordiac.ide.typemanagement.refactoring.connection.ConnectionsToStructPropertyTester"
            id="org.eclipse.fordiac.ide.typemanagement.connectionsToStructTester"
            namespace="org.eclipse.fordiac.ide.typemanagement"
            properties="ConnectionsToStructSupported"
            type="java.lang.Object">
      </propertyTester>
      <propertyTester
            class="org.eclipse.fordiac.ide.typemanagement.refactoring.connection.RepairBrokenConnectionPropertyTester"
            id="org.eclipse.fordiac.ide.typemanagement.RepairBrokenConnectionTester"
            namespace="org.eclipse.fordiac.ide.typemanagement"
            properties="RepairConnectionSupported"
            type="java.lang.Object">
      </propertyTester>
   </extension>  

   
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.eclipse.fordiac.ide.typemanagement.properties.BuildPathPropertyPage"
            id="org.eclipse.fordiac.ide.typemanagement.properties.buildPathPropertyPage"
            name="4diac Build Path">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.eclipse.fordiac.ide.systemmanagement.FordiacNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ltk.ui.refactoring.changePreviewViewers">
      <changePreviewViewer
            class="org.eclipse.fordiac.ide.typemanagement.wizards.ChangeConfigurationViewer"
            id="org.eclipse.fordiac.ide.typemanagement.wizards.DeleteStructChangeViewer">
         <enablement>
         <or>
         <instanceof value="org.eclipse.fordiac.ide.typemanagement.refactoring.delete.DeleteUpdateFBTypeInterfaceChange"/>
		 <instanceof value="org.eclipse.fordiac.ide.typemanagement.refactoring.delete.DeleteUpdateStructDataTypeMemberVariableChange"/>
		 <instanceof value="org.eclipse.fordiac.ide.typemanagement.refactoring.delete.SafeFBTypeDeletionChange$DeleteInternalFBChange"/>
		 <instanceof value="org.eclipse.fordiac.ide.typemanagement.refactoring.delete.UpdateUntypedSubappPinChange"/>
		 <instanceof value="org.eclipse.fordiac.ide.typemanagement.refactoring.ReconnectPinChange"/>
		 <instanceof value="org.eclipse.fordiac.ide.typemanagement.refactoring.UpdateManipulatorChange"/>
         </or>
         </enablement>
      </changePreviewViewer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.4diac.ide.refactor.menu">
         <command
               commandId="org.eclipse.fordiac.ide.typemanagement.renameElement"
               label="Rename Element"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?endof=org.eclipse.gef.group.rest">
         <menu
               id="org.eclipse.fordiac.ide.typemanagement.refactor"
               label="Refactor">
            <command
                  commandId="org.eclipse.fordiac.ide.typemanagement.renameElement"
                  label="Rename Element"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.fordiac.ide.typemanagement.connectionstostruct"
                  label="Connections to Struct"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.fordiac.ide.typemanagement.repairbrokenconnection"
                  label="Repair broken Connection"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.fordiac.ide.toolbar.table">
         <command
               commandId="org.eclipse.fordiac.ide.typemanagement.renameElement"
               icon="platform:/plugin/org.eclipse.ui/icons/full/etool16/tricks.png"
               label="Rename Element"
               style="push">
         </command>
      </menuContribution>
   </extension>
       <extension
             point="org.eclipse.ltk.core.refactoring.refactoringContributions">
       </extension>
       <extension
             point="org.eclipse.ltk.core.refactoring.moveParticipants">
          <moveParticipant
                class="org.eclipse.fordiac.ide.typemanagement.refactoring.move.MoveTypeRefactoringParticipant"
                id="org.eclipse.fordiac.ide.typemanagement.moveParticipant1"
                name="Move To Package Handler">
             <enablement>
             	<adapt
             		type="org.eclipse.core.resources.IFile">
             	</adapt>
             </enablement>
          </moveParticipant>
       </extension>   
</plugin>
