<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.fordiac.ide.application.editors.ApplicationEditor"
            contributorClass="org.eclipse.fordiac.ide.util.ZoomUndoRedoActionBarContributor"
            default="true"
            icon="fordiacimage://ICON_APPLICATION"
            id="org.eclipse.fordiac.ide.application.editors.FBNetworkEditor"
            name="FBNetworkEditor"/>
      <editor
            class="org.eclipse.fordiac.ide.application.editors.SubAppNetworkEditor"
            contributorClass="org.eclipse.fordiac.ide.util.ZoomUndoRedoActionBarContributor"
            default="true"
            icon="fordiacimage://ICON_SUB_APP"
            id="org.eclipse.fordiac.ide.application.editors.SubAppNetworkEditor"
            name="SubapplicationEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.fordiac.ide.application.editors.DiagramEditor">
         <propertyCategory
               category="FB">
         </propertyCategory>
         <propertyCategory
               category="Connection">
         </propertyCategory>
         <propertyCategory
               category="Interface">
         </propertyCategory>
         <propertyCategory
               category="Device">
         </propertyCategory>
         <propertyCategory
               category="Resource">
         </propertyCategory>
         <propertyCategory
               category="Application">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.fordiac.ide.application.editors.DiagramEditor">
         <propertyTab
               category="FB"
               id="org.eclipse.fordiac.ide.application.propertyInterfaceTab"
               label="Interface">
         </propertyTab>
         <propertyTab
               category="Resource"
               id="org.eclipse.fordiac.ide.application.propertyResourceInterfaceTab"
               label="Interface">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.propertyInterfaceTab"
               category="FB"
               id="org.eclipse.fordiac.ide.application.property.tab.EditEvents"
               indented="true"
               label="Edit Events">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.property.tab.EditEvents"
               category="FB"
               id="org.eclipse.fordiac.ide.application.property.tab.EditData"
               indented="true"
               label="Edit Data">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.property.tab.EditData"
               category="FB"
               id="org.eclipse.fordiac.ide.application.property.tab.EditAdapters"
               indented="true"
               label="Edit Adapters">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.property.tab.EditData"
               category="FB"
               id="org.eclipse.fordiac.ide.application.propertyFBTypeInfoTab"
               image="fordiacimage://ICON_FB"
               label="Type Info">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.application.propertyInterfaceTab"
               category="FB"
               id="org.eclipse.fordiac.ide.application.propertyAppearanceTab"
               label="Appearance">
         </propertyTab>
         <propertyTab
               category="FB"
               id="org.eclipse.fordiac.ide.application.VirtualDNSTab"
               label="VirtualDNS">
         </propertyTab>
         <propertyTab
               category="Connection"
               id="org.eclipse.fordiac.ide.application.propertyConnectionTab"
               label="Connection">
         </propertyTab>
         <propertyTab
               category="Connection"
               id="org.eclipse.fordiac.ide.application.CreateConnection"
               label="Create Connection">
         </propertyTab>
         <propertyTab
               category="Interface"
               id="org.eclipse.fordiac.ide.application.propertyInterfaceElementTab"
               label="Interface Element">
         </propertyTab>
         <propertyTab
               category="Application"
               id="org.eclipse.fordiac.ide.application.propertyAttributeTab"
               indented="false"
               label="Attributes">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.fordiac.ide.application.editors.DiagramEditor">
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.InterfaceSection"
               id="org.eclipse.fordiac.ide.application.properties.InterfaceSection"
               tab="org.eclipse.fordiac.ide.application.propertyInterfaceTab">
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.AbstractFBNElementEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.model.libraryElement.FBNetworkElement">
            </input>
         </propertySection>
         <propertySection
               enablesFor="1"
               class="org.eclipse.fordiac.ide.application.properties.FBTypeInfoSection"
               id="org.eclipse.fordiac.ide.application.properties.FBTypeInfoSection"
               tab="org.eclipse.fordiac.ide.application.propertyFBTypeInfoTab">
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.AbstractFBNElementEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.model.libraryElement.FBNetworkElement">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.ConnectionSection"
               enablesFor="1"
               id="org.eclipse.fordiac.ide.application.properties.ConnectionSection"
               tab="org.eclipse.fordiac.ide.application.propertyConnectionTab">
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.ConnectionEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.InterfaceElementSection"
               id="org.eclipse.fordiac.ide.application.properties.InterfaceElementSection"
               tab="org.eclipse.fordiac.ide.application.propertyInterfaceElementTab">
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.InterfaceEditPartForFBNetwork">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.InterfaceElementSection"
               id="org.eclipse.fordiac.ide.application.properties.InterfaceElementSection"
               tab="org.eclipse.fordiac.ide.application.propertyInterfaceElementTab">
            <input
                  type="org.eclipse.fordiac.ide.gef.editparts.ValueEditPart">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.CreateConnectionSection"
               enablesFor="2"
               id="org.eclipse.fordiac.ide.application.properties.CreateConnectionSection"
               tab="org.eclipse.fordiac.ide.application.CreateConnection">
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.InterfaceEditPartForFBNetwork">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.EditInterfaceEventSection"
               id="org.eclipse.fordiac.ide.application.properties.section.EditEvents"
               tab="org.eclipse.fordiac.ide.application.property.tab.EditEvents">
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.SubAppForFBNetworkEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.UISubAppNetworkEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.model.libraryElement.SubApp">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.EditInterfaceDataSection"
               id="org.eclipse.fordiac.ide.application.properties.section.EditData"
               tab="org.eclipse.fordiac.ide.application.property.tab.EditData">
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.SubAppForFBNetworkEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.UISubAppNetworkEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.model.libraryElement.SubApp">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.EditInterfaceAdapterSection"
               id="org.eclipse.fordiac.ide.application.properties.section.EditAdapters"
               tab="org.eclipse.fordiac.ide.application.property.tab.EditAdapters">
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.SubAppForFBNetworkEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.UISubAppNetworkEditPart">
            </input>
            <input
                  type="org.eclipse.fordiac.ide.model.libraryElement.SubApp">
            </input>
         </propertySection>
         <propertySection
               class="org.eclipse.fordiac.ide.application.properties.AttributeSection"
               id="org.eclipse.fordiac.ide.application.properties.AttributeSection"
               tab="org.eclipse.fordiac.ide.application.propertyAttributeTab">
            <input
                  type="org.eclipse.fordiac.ide.application.editparts.FBNetworkEditPart">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
            class="org.eclipse.fordiac.ide.application.preferences.ConnectionConstraintsPrefernecePage"
            id="org.eclipse.fordiac.ide.application.preferences.ConnectionConstraintsPrefernecePage"
            name="Connection Constraints">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.fordiac.ide.application.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.util.openListener">
      <openListener
            class="org.eclipse.fordiac.ide.application.actions.OpenApplicationEditorAction"
            icon="fordiacimage://ICON_APPLICATION"
            id="org.eclipse.fordiac.ide.application.actions.OpenApplicationEditorAction"
            label="Open Application">
      </openListener>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.util.openListener">
      <openListener
            class="org.eclipse.fordiac.ide.application.actions.OpenSubApplicationEditorAction"
            icon="fordiacimage://ICON_SUB_APP"
            id="org.eclipse.fordiac.ide.application.actions.OpenSubApplicationEditorAction"
            label="Open Subapplication">
      </openListener>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.fordiac.ide.application.objectContribution2"
            objectClass="org.eclipse.fordiac.ide.application.editparts.ConnectionEditPart">
         <action
               class="org.eclipse.fordiac.ide.application.actions.RerouteAction"
               id="org.eclipse.fordiac.ide.application.action2"
               label="Redraw">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
      		category="org.eclipse.fordiac.ide.view.category"
            class="org.eclipse.fordiac.ide.application.FordiacMarkersView"
            icon="fordiacimage://ICON_FB"
            id="org.eclipse.fordiac.ide.application.FordiacMarkersView"
            name="Problems and Warnings"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.fordiac.ide.commands.category"
            name="4diac IDE Commands">
      </category> 
       <command
            categoryId="org.eclipse.fordiac.ide.commands.category"
            id="org.eclipse.fordiac.ide.application.commands.focusOnPredecessor"
            name="Focus On Predecessor">
      </command>
      <command
            categoryId="org.eclipse.fordiac.ide.commands.category"
            id="org.eclipse.fordiac.ide.application.commands.clearFocusOn"
            name="Clear Focus-On">
      </command>
      <command
            categoryId="org.eclipse.fordiac.ide.commands.category"
            defaultHandler="org.eclipse.fordiac.ide.application.handlers.NewSubApplication"
            id="org.eclipse.fordiac.ide.application.commands.newSubApp"
            name="New Subapplication">
      </command>
      <command
            categoryId="org.eclipse.fordiac.ide.commands.category"
            defaultHandler="org.eclipse.fordiac.ide.application.handlers.FlattenSubApplication"
            id="org.eclipse.fordiac.ide.application.commands.flattenSubApp"
            name="Flatten Subapplication">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.fordiac.ide.application.handlers.FocusOnPredecessor"
            commandId="org.eclipse.fordiac.ide.application.commands.focusOnPredecessor">
            <activeWhen>
			 <and>
			    <reference definitionId="org.eclipse.fordiac.ide.application.FocusOnActivation" />
			    <with variable="selection">
	               <iterate ifEmpty="false">
	                  <or>
	                    <instanceof
	                          value="org.eclipse.fordiac.ide.model.libraryElement.FBNetworkElement">
	                    </instanceof>
	                    <instanceof
	                          value="org.eclipse.fordiac.ide.application.editparts.AbstractFBNElementEditPart">
	                    </instanceof>
	                  </or>
	               </iterate>
         		</with> 
			 </and>   
			</activeWhen>

      </handler>
      <handler
            class="org.eclipse.fordiac.ide.application.handlers.ClearFocusOn"
            commandId="org.eclipse.fordiac.ide.application.commands.clearFocusOn">
			<activeWhen>
			    <reference definitionId="org.eclipse.fordiac.ide.application.FocusOnActivation" />
			</activeWhen>
      </handler>
      <handler 
            class="org.eclipse.fordiac.ide.application.handlers.NewSubApplication"
            commandId="org.eclipse.fordiac.ide.application.commands.newSubApp">
         <activeWhen>
            <iterate>
               <adapt
                     type="org.eclipse.fordiac.ide.model.libraryElement.FBNetworkElement">
               </adapt>
            </iterate>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.fordiac.ide.application.commands.clearFocusOn"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:navigate?after=additions">
            <command commandId="org.eclipse.fordiac.ide.application.commands.focusOnPredecessor" />
            <command
                  commandId="org.eclipse.fordiac.ide.application.commands.clearFocusOn"
                  mnemonic="S">
            </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.fordiac.ide.application.toolbars.fordiacToolbar">
            <command
                  commandId="org.eclipse.fordiac.ide.application.commands.clearFocusOn"
                  icon="fordiacimage://ICON_FB"
                  id="org.eclipse.fordiac.ide.application.toolbars.fordiacToolbar"
                  tooltip="Clear Focus-On">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?endof=org.eclipse.gef.group.edit">
         <command
               commandId="org.eclipse.fordiac.ide.application.commands.newSubApp"
               label="New subapplication"
               tooltip="Create a new subapplication">
            <visibleWhen
                  checkEnabled="false">
               <with
               variable="activeEditorId">
               	<or>
		            <equals
		                  value="org.eclipse.fordiac.ide.application.editors.FBNetworkEditor">
		            </equals>
		            <equals
		                  value="org.eclipse.fordiac.ide.application.editors.SubAppNetworkEditor">
		            </equals>
		            </or>
		         </with>
            </visibleWhen>
         </command>
         <command commandId="org.eclipse.fordiac.ide.application.commands.flattenSubApp"
               label="Flatten subapplication"
               tooltip="Flatten the subapplication">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.fordiac.ide.application.SubAppSelection">
               </reference>
            </visibleWhen>
         </command>
         <command commandId="org.eclipse.fordiac.ide.application.commands.focusOnPredecessor"> 
         	<visibleWhen checkEnabled="false">
	             <reference definitionId="org.eclipse.fordiac.ide.application.FocusOnActivation" />     
	         </visibleWhen>         
         </command>
         <command commandId="org.eclipse.fordiac.ide.application.commands.clearFocusOn" mnemonic="S">
	         <visibleWhen checkEnabled="false">
	             <reference definitionId="org.eclipse.fordiac.ide.application.FocusOnActivation" />     
	         </visibleWhen>         
         </command>
      </menuContribution>
   </extension>
   <extension
         id="org.eclipse.fordiac.ide.application.marker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="false">
      </persistent>
      <super
            type="org.eclipse.core.resources.marker">
      </super>
      <attribute
            name="org.eclipse.fordiac.ide.application.marker.fb">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            id="org.eclipse.fordiac.ide.application.fordiacmarkerContentGenerator"
            name="4diac IDE Marker Generator">
         <markerFieldReference
               id="org.eclipse.ui.ide.severityAndDescriptionField">
         </markerFieldReference>
         <markerTypeReference
               id="org.eclipse.core.resources.marker">
         </markerTypeReference>
      </markerContentGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.fordiac.ide.application.editors.ApplicationEditorInputFactory"
            id="org.eclipse.fordiac.ide.application.ApplicationEditorInputFactory">
      </factory>
      <factory
            class="org.eclipse.fordiac.ide.application.editors.SubApplicationEditorInputFactory"
            id="org.eclipse.fordiac.ide.application.SubApplicationEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.fordiac.ide.fbpaletteviewer">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.fordiac.ide.fbpaletteviewer">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.fordiac.ide.fbPaletteContent"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.filters.startsWithDot"/>
            <contentExtension pattern="org.eclipse.fordiac.ide.fbpaletteviewer.filters.showonlyFBTypesAndSubAppTypes"/>
            <contentExtension pattern="org.eclipse.ui.navigator.resources.linkHelper" />
         </includes>
      </viewerContentBinding>
      <dragAssistant
            class="org.eclipse.fordiac.ide.typemanagement.FBTypeDragAssistant"
            viewerId="org.eclipse.fordiac.ide.fbpaletteviewer">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            id="org.eclipse.fordiac.ide.fbpaletteviewer.filters.showonlyFBTypesAndSubAppTypes"
            name="Show only IEC 61499 FB Types and Subapp Types"
            visibleInUI="true">
         <filterExpression>
                  <or>
                     <not>
                        <or>
                           <instanceof value="org.eclipse.emf.edit.provider.ItemProviderAdapter"/>
                           <instanceof value="org.eclipse.emf.ecore.EObject"/>
                           <instanceof
                                 value="org.eclipse.core.resources.IFolder">
                           </instanceof>
                           <and>
                              <instanceof
                                    value="org.eclipse.core.resources.IFile">
                              </instanceof>
                              <or>
	                              <test
	                                    property="org.eclipse.core.resources.extension"
	                                    value="fbt">
	                              </test>
	                              <test
	                                    property="org.eclipse.core.resources.extension"
	                                    value="sub">
	                              </test>
								</or>		                              
                           </and>                           
                        </or>
                     </not>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="Tool Library">
                        </test>
                     </adapt>
                  </or>
        </filterExpression>
      </commonFilter>
      <navigatorContent
            contentProvider="org.eclipse.ui.model.BaseWorkbenchContentProvider"
            id="org.eclipse.fordiac.ide.fbPaletteContent"
            labelProvider="org.eclipse.fordiac.ide.application.editors.FBPaletteLabelProvider"
            name="FB Palette Content">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IResource">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
    </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.fordiac.ide.application.SubAppSelection">
            <with
               variable="selection">
               <iterate>
                  <or>
                    <instanceof
                          value="org.eclipse.fordiac.ide.model.libraryElement.SubApp">
                    </instanceof>
                    <instanceof
                          value="org.eclipse.fordiac.ide.application.editparts.SubAppForFBNetworkEditPart">
                    </instanceof>
                  </or>
               </iterate>
         </with>  
      </definition>      
	   <definition
	         id="org.eclipse.fordiac.ide.application.FocusOnActivation">
	       <with variable="activeEditorId">
       	   		<or>
			       <equals value="org.eclipse.fordiac.ide.application.editors.FBNetworkEditor"/>
			       <equals value="org.eclipse.fordiac.ide.application.editors.SubAppNetworkEditor"/>
			       <equals value="org.eclipse.fordiac.ide.resourceediting.editors.ResourceDiagramEditor"/>
	        	</or>
		    </with>
	   </definition>
   </extension>   
</plugin>
