<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.fordiac.ide.deployment.devicemanagementinteractor">
      <DeviceManagementInteractorProvider
            class="org.eclipse.fordiac.ide.deployment.iec61499.providers.DefaultDevMgmInteractorProvider">
      </DeviceManagementInteractorProvider>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.deployment.devicemanagementinteractor">
      <DeviceManagementInteractorProvider
            class="org.eclipse.fordiac.ide.deployment.iec61499.providers.FDBK2DevMgmInteractorProvider">
      </DeviceManagementInteractorProvider>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.deployment.devicemanagementinteractor">
      <DeviceManagementInteractorProvider
            class="org.eclipse.fordiac.ide.deployment.iec61499.providers.DynamicTypeLoadDevMgmInteractorProvider">
      </DeviceManagementInteractorProvider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.fordiac.ide.preferences.FordiacPreferencePage"
            class="org.eclipse.fordiac.ide.deployment.iec61499.preferences.HoloblocDeploymentPreferences"
            id="org.eclipse.fordiac.ide.deployment.iec61499.preferences.HoloblocDeploymentPreferences"
            name="Deployment Preferences (HOLOBLOC Profile)">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.fordiac.ide.deployment.iec61499.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
