<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>  
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Attribute Type Editor"
            extensions="atp"
            default="true"
            class="org.eclipse.fordiac.ide.attributetypeeditor.editors.AttributeTypeEditor"
            id="org.eclipse.fordiac.ide.model.attributetype.atp"
            icon="fordiacimage://ICON_ATTRIBUTE_DECLARATION"
            matchingStrategy="org.eclipse.fordiac.ide.ui.editors.FordiacEditorMatchingStrategy">
      </editor>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.typeeditor.typeEditorPage">
      <editorPage
            class="org.eclipse.fordiac.ide.attributetypeeditor.editors.AttributeTypeEditorPage"
            sortIndex="20">
         <enablement>
            <instanceof
                  value="org.eclipse.fordiac.ide.model.libraryElement.AttributeDeclaration">
            </instanceof>            
         </enablement>
      </editorPage>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.fordiac.ide.attributetypeeditor.editors.AttributeTypeEditor">
         <propertyCategory
               category="AttributeType">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.fordiac.ide.attributetypeeditor.editors.AttributeTypeEditor">
         <propertyTab
               category="AttributeType"
               id="org.eclipse.fordiac.ide.attributetypeeditor.propertyDataTypeInfoTab"
               label="TypeInfo">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.attributetypeeditor.propertyTargetTab"
               category="AttributeType"
               id="org.eclipse.fordiac.ide.attributetypeeditor.propertyAttributeTab"
               label="Attributes">
         </propertyTab>
         <propertyTab
               afterTab="org.eclipse.fordiac.ide.attributetypeeditor.propertyDataTypeInfoTab"
               category="AttributeType"
               id="org.eclipse.fordiac.ide.attributetypeeditor.propertyTargetTab"
               label="Target">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
      	point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
       		contributorId="org.eclipse.fordiac.ide.attributetypeeditor.editors.AttributeTypeEditor">
         <propertySection
            	class="org.eclipse.fordiac.ide.datatypeeditor.properties.DataTypeInfoSection"
            	id="org.eclipse.fordiac.ide.attributetypeeditor.properties.AttributeTypeInfoSection"
            	tab="org.eclipse.fordiac.ide.attributetypeeditor.propertyDataTypeInfoTab">
	   			<input
	            	type="org.eclipse.fordiac.ide.model.data.StructuredType">
	        	</input> 
        		<input
                  	type="org.eclipse.fordiac.ide.model.data.DirectlyDerivedType">
        		</input>
          <input
                type="org.eclipse.fordiac.ide.model.libraryElement.VarDeclaration">
          </input> 
         </propertySection>
         <propertySection
	         	class="org.eclipse.fordiac.ide.datatypeeditor.properties.StructAttributeSection"
	          	id="org.eclipse.fordiac.ide.attributetypeeditor.properties.AttributeAttributeSection"
	            tab="org.eclipse.fordiac.ide.attributetypeeditor.propertyAttributeTab">
	   			<input
	            	type="org.eclipse.fordiac.ide.model.data.StructuredType">
	        	</input>  
        		<input
                  	type="org.eclipse.fordiac.ide.model.data.DirectlyDerivedType">
        		</input>
          <input
                type="org.eclipse.fordiac.ide.model.libraryElement.VarDeclaration">
          </input> 
         </propertySection>
         <propertySection
	         	class="org.eclipse.fordiac.ide.attributetypeeditor.properties.AttributeTargetSection"
	          	id="org.eclipse.fordiac.ide.attributetypeeditor.properties.AttributeTargetSection"
	            tab="org.eclipse.fordiac.ide.attributetypeeditor.propertyTargetTab">
	        <input
	           	type="org.eclipse.fordiac.ide.model.data.StructuredType">
	        </input>  
        	<input
              	type="org.eclipse.fordiac.ide.model.data.DirectlyDerivedType">
        	</input> 
        	<input
                type="org.eclipse.fordiac.ide.model.libraryElement.VarDeclaration">
          	</input>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
