<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="fbTesterConfiguration" name="fbTesterConfiguration" schema="schema/fbTesterConfiguration.exsd"/>
   <extension
         point="org.eclipse.fordiac.ide.fbtypeeditor.fBTEditorTabs">
      <editor
            class="org.eclipse.fordiac.ide.fbtypeeditor.fbtester.FBTester"
            sortIndex="100"
            type="ForAllNonAdapterFBTypes">
      </editor>
   </extension>
   <extension
         point="org.eclipse.fordiac.ide.fbtypeeditor.fbtester.fbTesterConfiguration">
      <fbTestConfigurationCreator
            class="org.eclipse.fordiac.ide.fbtypeeditor.fbtester.configuration.FORTERemoteTester"
            label="FORTE Remote Tester">
      </fbTestConfigurationCreator>
   </extension>

</plugin>
