<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="stcore"
			id="org.eclipse.fordiac.ide.structuredtextcore.STCore"
			name="STCore Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="org.eclipse.fordiac.ide.structuredtextcore.STCore.validate">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.eclipse.fordiac.ide.structuredtextcore.STCore"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="org.eclipse.fordiac.ide.structuredtextcore.STCore.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="org.eclipse.fordiac.ide.structuredtextcore.STCore"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextcore.STCore"
			name="STCore">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore"/>
		</page>
		<page
			category="org.eclipse.fordiac.ide.structuredtextcore.STCore"
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextcore.STCore.coloring"
			name="Syntax Coloring">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore"/>
		</page>
		<page
			category="org.eclipse.fordiac.ide.structuredtextcore.STCore"
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextcore.STCore.templates"
			name="Templates">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextcore.STCore"
			name="STCore">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore"
			label="STCore"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Trigger expensive validation"
			id="org.eclipse.fordiac.ide.structuredtextcore.STCore.validate"
			name="Validate">
		</command>
		<!-- copy qualified name -->
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
		<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command
				commandId="org.eclipse.fordiac.ide.structuredtextcore.STCore.validate"
				style="push"
				tooltip="Trigger expensive validation">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="stcore"
			id="org.eclipse.fordiac.ide.structuredtextcore.STCore.contenttype"
			name="STCore File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="stcore">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="stcore">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for org.eclipse.fordiac.ide.structuredtextcore.STCore -->
	<extension
			id="stcore.check.fast"
			name="4diac IDE Structured Text Problem"
			point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.emf.ecore.diagnostic">
    </super>
		<super type="org.eclipse.xtext.ui.check.fast"/>
  <super
        type="org.eclipse.fordiac.ide.model.problem">
  </super>
		<persistent value="true"/>
	</extension>
	<extension
			id="stcore.check.normal"
			name="4diac IDE Structured Text Problem"
			point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.emf.ecore.diagnostic">
    </super>
		<super type="org.eclipse.xtext.ui.check.normal"/>
  <super
        type="org.eclipse.fordiac.ide.model.problem">
  </super>
		<persistent value="true"/>
	</extension>
	<extension
			id="stcore.check.expensive"
			name="4diac IDE Structured Text Problem"
			point="org.eclipse.core.resources.markers">
    <super
          type="org.eclipse.emf.ecore.diagnostic">
    </super>
		<super type="org.eclipse.xtext.ui.check.expensive"/>
  <super
        type="org.eclipse.fordiac.ide.model.problem">
  </super>
		<persistent value="true"/>
	</extension>
 <extension
       point="org.eclipse.ui.ide.markerSupport">
    <markerTypeCategory
          name="4diac IDE Structured Text Problem">
       <markerTypeReference
             id="org.eclipse.fordiac.ide.structuredtextcore.ui.stcore.check.fast">
       </markerTypeReference>
       <markerTypeReference
             id="org.eclipse.fordiac.ide.structuredtextcore.ui.stcore.check.normal">
       </markerTypeReference>
       <markerTypeReference
             id="org.eclipse.fordiac.ide.structuredtextcore.ui.stcore.check.expensive">
       </markerTypeReference>
    </markerTypeCategory>
 </extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.fordiac.ide.structuredtextcore.STCore"
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextcore.STCore.validator.preferencePage"
			name="Errors/Warnings">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore"/>
		</page>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="stcore"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.fordiac.ide.structuredtextcore.STCore"
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextcore.STCore.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="org.eclipse.fordiac.ide.structuredtextcore.STCore"
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextcore.STCore.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="org.eclipse.fordiac.ide.structuredtextcore.STCore.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for org.eclipse.fordiac.ide.structuredtextcore.STCore -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.eclipse.fordiac.ide.structuredtextcore.ui.stcore.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.eclipse.fordiac.ide.structuredtextcore.ui.stcore.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="org.eclipse.fordiac.ide.structuredtextcore.ui.stcore.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<extension
		point="org.eclipse.ui.contexts">
		<context
			description="Structured Text Editor"
			id="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope"
			name="ST Editor"
			parentId="org.eclipse.xtext.ui.XtextEditorScope">
		</context>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			categoryId="org.eclipse.xtext.ui.category.refactoring"
			id="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.ExtractCallable"
			name="Extract Callable">
		</command>
		<command
			categoryId="org.eclipse.xtext.ui.category.refactoring"
			id="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.MoveElement"
			name="Move Element">
		</command>
	</extension>
	<extension point="org.eclipse.ui.bindings">
		<key
			sequence="M2+M3+M"
			commandId="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.ExtractCallable"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope" />
		<key
			sequence="COMMAND+ALT+M"
			commandId="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.ExtractCallable"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope"
			platform="carbon" />
		<key
			sequence="M2+M3+M"
			commandId=""
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope"
			platform="carbon" />
		<key
			sequence="SHIFT+ALT+M"
			commandId="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.ExtractCallable"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope"
			platform="win32" />
		<key
			sequence="M2+M3+M"
			commandId=""
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope"
			platform="win32" />
		<key
			sequence="SHIFT+ALT+M"
			commandId="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.ExtractCallable"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope"
			platform="gtk" />
		<key
			sequence="M2+M3+M"
			commandId=""
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope"
			platform="gtk" />
		<key
			sequence="M2+M3+V"
			commandId="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.MoveElement"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope" />
		<key
			sequence="COMMAND+ALT+V"
			commandId="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.MoveElement"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope"
			platform="carbon" />
		<key
			sequence="M2+M3+V"
			commandId=""
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope"
			platform="carbon" />
		<key
			sequence="SHIFT+ALT+V"
			commandId="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.MoveElement"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope"
			platform="win32" />
		<key
			sequence="M2+M3+V"
			commandId=""
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope"
			platform="win32" />
		<key
			sequence="SHIFT+ALT+V"
			commandId="org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.MoveElement"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope"
			platform="gtk" />
		<key
			sequence="M2+M3+V"
			commandId=""
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			contextId="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreEditorScope"
			platform="gtk" />
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="org.eclipse.fordiac.ide.structuredtextcore.STCore.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="org.eclipse.fordiac.ide.structuredtextcore.STCore"
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="org.eclipse.fordiac.ide.structuredtextcore.STCore.refactoring"
			name="Refactoring">
			<keywordReference id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="org.eclipse.fordiac.ide.structuredtextcore.STCore.compare.contentViewers"
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="stcore">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.eclipse.fordiac.ide.structuredtextcore.STCore.contenttype"
			contentViewerId="org.eclipse.fordiac.ide.structuredtextcore.STCore.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="org.eclipse.fordiac.ide.structuredtextcore.STCore.compare.contentMergeViewers"
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="stcore" label="STCore Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="org.eclipse.fordiac.ide.structuredtextcore.STCore.contenttype"
			contentMergeViewerId="org.eclipse.fordiac.ide.structuredtextcore.STCore.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="org.eclipse.fordiac.ide.structuredtextcore.STCore.editors.documentProviders"
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="stcore">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="stcore"
			type="text">
		</fileTypes>
	</extension>
	<!-- code mining -->
	<extension point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
		<codeMiningProvider
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.jface.text.codemining.ICodeMiningProvider"
			id="org.eclipse.fordiac.ide.structuredtextcore.STCore.CodeMiningProvider"
			label="STCore Codemining">
			<enabledWhen>
				<with variable="editorInput">
					<adapt type="org.eclipse.core.resources.IFile">
						<test
							property="org.eclipse.core.resources.contentTypeId"
							value="org.eclipse.fordiac.ide.structuredtextcore.STCore.contenttype">
						</test>
					</adapt>
				</with>
			</enabledWhen>
		</codeMiningProvider>
	</extension>
	<!-- register the Xtext UI language services to Xtext's registry -->
	<extension
		point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="org.eclipse.fordiac.ide.structuredtextcore.ui.DTPExecutableExtensionFactory:org.eclipse.xtext.ui.resource.generic.EmfResourceUIServiceProvider"
			uriExtension="dtp">
		</resourceServiceProvider>
	</extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.fordiac.ide.structuredtextcore.STCore"
          class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.fordiac.ide.structuredtextcore.ui.codemining.STCoreCodeMiningPreferencePage"
          id="org.eclipse.fordiac.ide.structuredtextcore.ui.codeMining"
          name="Code Minings">
       <keywordReference
             id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore">
       </keywordReference>
    </page>
    <page
          category="org.eclipse.fordiac.ide.structuredtextcore.STCore"
          class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.fordiac.ide.structuredtextcore.ui.contentassist.STCoreContentAssistPreferencePage"
          id="org.eclipse.fordiac.ide.structuredtextcore.ui.contentAssist"
          name="Content Assist">
       <keywordReference
             id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore">
       </keywordReference>
    </page>
    <page
          category="org.eclipse.fordiac.ide.structuredtextcore.STCore"
          class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.fordiac.ide.structuredtextcore.ui.cleanup.STCoreSaveActionsPreferencePage"
          id="org.eclipse.fordiac.ide.structuredtextcore.ui.saveActions"
          name="Save Actions">
       <keywordReference
             id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore">
       </keywordReference>
    </page>
    <page
          category="org.eclipse.fordiac.ide.structuredtextcore.STCore"
          class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.fordiac.ide.structuredtextcore.ui.editor.STCoreEditorPreferencePage"
          id="org.eclipse.fordiac.ide.structuredtextcore.ui.editor"
          name="Editor">
       <keywordReference
             id="org.eclipse.fordiac.ide.structuredtextcore.ui.keyword_STCore">
       </keywordReference>
    </page>
 </extension>
 <extension
       point="org.eclipse.ltk.core.refactoring.renameParticipants">
    <renameParticipant
          class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring2.participant.XtextRenameResourceParticipant"
          id="org.eclipse.fordiac.ide.structuredtextcore.ui.renameParticipant"
          name="ST Rename Resource Participant">
       <enablement>
          <adapt
                type="org.eclipse.core.resources.IFile">
          </adapt>
       </enablement>
    </renameParticipant>
 </extension>
 <extension
       point="org.eclipse.ltk.core.refactoring.moveParticipants">
    <moveParticipant
          class="org.eclipse.fordiac.ide.structuredtextcore.ui.STCoreExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring2.participant.XtextMoveResourceParticipant"
          id="org.eclipse.fordiac.ide.structuredtextcore.ui.moveParticipant"
          name="ST Move Resource Participant">
       <enablement>
          <adapt
                type="org.eclipse.core.resources.IFile">
          </adapt>
       </enablement>
    </moveParticipant>
 </extension>
 <extension
       point="org.eclipse.xtext.ui.resourceRelocationStrategy">
    <strategy
          class="org.eclipse.fordiac.ide.structuredtextcore.ui.DTPExecutableExtensionFactory:org.eclipse.fordiac.ide.structuredtextcore.ui.refactoring.LibraryElementResourceRelocationStrategy">
    </strategy>
 </extension>
</plugin>
