<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>  

   <extension
    point = "org.eclipse.ui.editors">
      <editor
            class="org.eclipse.fordiac.ide.bulkeditor.editors.BulkEditor"
            icon="fordiacimage://ICON_APPLICATION"
            id="org.eclipse.fordiac.ide.bulkeditor.BulkEditor"
            name="Bulk Editor">
      </editor>
	</extension>
	
	<extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=group.openWith">
        <command
            commandId="org.eclipse.fordiac.ide.bulkeditor.editors.openEditor"
            label="Open in Bulk Editor">
            <visibleWhen>
                <with variable="selection">
                    <iterate operator="or">
                        <instanceof value="org.eclipse.core.resources.IProject"/>
                    </iterate>
                </with>
            </visibleWhen>
        </command>
    </menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
	    <command
	    	name="OpenBulkEditorCommand"
	        id="org.eclipse.fordiac.ide.bulkeditor.editors.openEditor"
	        defaultHandler="org.eclipse.fordiac.ide.bulkeditor.editors.OpenBulkEditorHandler"/>
	</extension>
	
	<extension point="org.eclipse.ui.elementFactories">
    	<factory class="org.eclipse.fordiac.ide.bulkeditor.editors.BulkEditorInputFactory"
             id="org.eclipse.fordiac.ide.bulkeditor.BulkEditorInputFactory">
    	</factory>
  	</extension>
		
</plugin>
