<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>  

   <extension
    point = "org.eclipse.ui.editors">
      <editor
            class="org.eclipse.fordiac.ide.bulkeditor.editors.BulkEditor"
            icon="fordiacimage://ICON_BULK_EDITOR"
            id="org.eclipse.fordiac.ide.bulkeditor.BulkEditor"
            name="Bulk Editor">
      </editor>
	</extension>
	
	<extension
		point="org.eclipse.ui.contexts">
		<context
			id="org.eclipse.fordiac.ide.bulkeditor"
			description="%context.bulkEditing.description"
			name="%context.bulkEditing.name"
			parentId="org.eclipse.ui.contexts.window">
		</context>
	</extension>
		
	<extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=group.openWith">
        <command
            commandId="org.eclipse.fordiac.ide.bulkeditor.editors.openEditor"
            label="%Open_BulkEditor">
            <visibleWhen>
			  	<with variable="selection">
			    	<iterate operator="and" ifEmpty="false">
			      		<or>
			        		<and>
                                <instanceof value="org.eclipse.core.resources.IProject"/>
                                <test property="org.eclipse.core.resources.open" value="true"/>
                            </and>
			        		<instanceof value="org.eclipse.fordiac.ide.model.libraryElement.UntypedSubApp"/>
			      		</or>
			    	</iterate>
				</with>
			</visibleWhen>
        </command>
    </menuContribution>
    <menuContribution
          allPopups="false"
          locationURI="popup:org.eclipse.fordiac.ide.bulkeditor.contextMenu">
       <command
			 commandId="org.eclipse.fordiac.ide.bulkeditor.gotoElementCommand"
             label="%ContextMenu_FindElement"
             style="push">
       </command>
    </menuContribution>
	</extension>
	
	<extension point="org.eclipse.ui.commands">
	    <command
	    	name="OpenBulkEditorCommand"
	        id="org.eclipse.fordiac.ide.bulkeditor.editors.openEditor"
	        defaultHandler="org.eclipse.fordiac.ide.bulkeditor.handler.OpenBulkEditorHandler"/>
	    <command
	    	name="FindElementCommand"
	        id="org.eclipse.fordiac.ide.bulkeditor.gotoElementCommand"/>
	</extension>
	
	<extension point="org.eclipse.ui.handlers">
		<handler 
		    commandId="org.eclipse.fordiac.ide.bulkeditor.gotoElementCommand"
		    class="org.eclipse.fordiac.ide.bulkeditor.handler.GoToElementHandler">
			<enabledWhen>
				<with variable="selection">
			        <and>
			            <count value="1"/>
			            <iterate ifEmpty="false" operator="and">
			                <instanceof value="org.eclipse.emf.ecore.EObject"/>
			            </iterate>
			        </and>
			    </with>
			</enabledWhen>
		</handler>
	</extension>
	
	<extension point="org.eclipse.ui.elementFactories">
    	<factory class="org.eclipse.fordiac.ide.bulkeditor.editors.BulkEditorInputFactory"
             id="org.eclipse.fordiac.ide.bulkeditor.BulkEditorInputFactory">
    	</factory>
  	</extension>
  	
  	<extension point="org.eclipse.ui.themes">
  	<fontDefinition
                label="Diagram Font"
                categoryId="org.eclipse.fordiac.ide.themeCategory"
                id="org.eclipse.fordiac.ide.bulkeditor.query.headerFont">
            <fontValue
               	os="linux"
               	value="Monospace-regular-10"
               	ws="gtk">
			</fontValue>
	        <fontValue
	        	os="win32"
	        	value="Consolas-regular-10">
	        </fontValue>
	        <fontValue
	        	os="macosx"
	            value="Menlo-regular-12">
	         </fontValue>
        </fontDefinition>
		<colorDefinition
			categoryId="org.eclipse.fordiac.ide.themeCategory"
			id="org.eclipse.fordiac.ide.bulkeditor.query.backgroundColor"
			label="Query viewer default background color"
			value="255, 255, 255"
			isEditable="false">
		</colorDefinition>
		<colorDefinition
			categoryId="org.eclipse.fordiac.ide.themeCategory"
			id="org.eclipse.fordiac.ide.bulkeditor.query.headerBackgroundColor"
			label="Query viewer node header background color"
			value="70, 130, 180"
			isEditable="false">
		</colorDefinition>
		<colorDefinition
			categoryId="org.eclipse.fordiac.ide.themeCategory"
			id="org.eclipse.fordiac.ide.bulkeditor.query.headerForegroundColor"
			label="Query viewer node header foreground color"
			value="255, 255, 255"
			isEditable="false">
		</colorDefinition>
		<colorDefinition
			categoryId="org.eclipse.fordiac.ide.themeCategory"
			id="org.eclipse.fordiac.ide.bulkeditor.query.valueBorderColor"
			label="Query viewer textfield border color"
			value="180, 180, 180"
			isEditable="false">
		</colorDefinition>
		<colorDefinition
			categoryId="org.eclipse.fordiac.ide.themeCategory"
			id="org.eclipse.fordiac.ide.bulkeditor.query.toggleButtonSelectedBackgroundColor"
			label="Toggle button selected background color"
			value="200, 220, 245"
			isEditable="false">
		</colorDefinition>
		<colorDefinition
			categoryId="org.eclipse.fordiac.ide.themeCategory"
			id="org.eclipse.fordiac.ide.bulkeditor.query.toggleButtonSelectedBorderColor"
			label="Toggle button selected border color"
			value="100, 150, 210"
			isEditable="false">
		</colorDefinition>
		<colorDefinition
			categoryId="org.eclipse.fordiac.ide.themeCategory"
			id="org.eclipse.fordiac.ide.bulkeditor.query.toggleButtonDefaultBorderColor"
			label="Toggle button default border color"
			value="190, 200, 210"
			isEditable="false">
		</colorDefinition>
		<colorDefinition
			categoryId="org.eclipse.fordiac.ide.themeCategory"
			id="org.eclipse.fordiac.ide.bulkeditor.query.toggleButtonDisabledBackgroundColor"
			label="Toggle button disabled background color"
			value="235, 235, 235"
			isEditable="false">
		</colorDefinition>
    </extension>
    
	<extension point="org.eclipse.e4.ui.css.swt.theme">
		<stylesheet
			uri="css/dark_fordiac_bulkeditor.css">
			<themeid
				refid="org.eclipse.e4.ui.css.theme.e4_dark">
			</themeid>
		</stylesheet>
	</extension>
		
</plugin>
