<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.fordiac.ide.resourceediting.editors.ResourceDiagramEditor"
            contributorClass="org.eclipse.fordiac.ide.util.ZoomUndoRedoActionBarContributor"
            icon="fordiacimage://ICON_Resource"
            id="org.eclipse.fordiac.ide.resourceediting.editors.ResourceDiagramEditor"
            name="ResourceEditor">
      </editor>
   </extension>
  <extension
         point="org.eclipse.fordiac.ide.util.openListener">
      <openListener
            class="org.eclipse.fordiac.ide.resourceediting.actions.OpenResourceEditorAction"
            icon="fordiacimage://ICON_Resource"
            id="org.eclipse.fordiac.ide.resourceediting.actions.OpenResourceEditorAction"
            label="Resource">
      </openListener>
   </extension>
  <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.fordiac.ide.application.commands.category4DIAC"
            id="org.eclipse.fordiac.ide.resourceediting.commands.ShowFBInAppCommand"
            name="Show FB in Application">
      </command>
       <command
            categoryId="org.eclipse.fordiac.ide.application.commands.category4DIAC"
            id="org.eclipse.fordiac.ide.resourceediting.commands.OpenConnectionOppositeResource"
            name="Open connection opposite resource">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.fordiac.ide.resourceediting.handlers.ShowFBInApp"
            commandId="org.eclipse.fordiac.ide.resourceediting.commands.ShowFBInAppCommand">
         <activeWhen>
            <and>
               <with
                     variable="activeEditor">
                  <instanceof
                        value="org.eclipse.fordiac.ide.resourceediting.editors.ResourceDiagramEditor">
                  </instanceof>
               </with>
               <iterate>
                  <instanceof
                        value="org.eclipse.fordiac.ide.resourceediting.editparts.ResFBEditPart">
                  </instanceof>
               </iterate>
            </and></activeWhen>
      </handler>
      <handler
            class="org.eclipse.fordiac.ide.resourceediting.handlers.OpenConnectionOppositeResource"
            commandId="org.eclipse.fordiac.ide.resourceediting.commands.OpenConnectionOppositeResource">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.fordiac.ide.resourceediting.commands.ShowFBInAppCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.fordiac.ide.application.menus.4DIACMenu">
         <command
               commandId="org.eclipse.fordiac.ide.resourceediting.commands.ShowFBInAppCommand"
               id="org.eclipse.fordiac.ide.resourceediting.menus.ShowFBInAppCommand"
               mnemonic="S">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="org.eclipse.fordiac.ide.application.toolbars.fordiacToolbar">
            <command
                  commandId="org.eclipse.fordiac.ide.resourceediting.commands.ShowFBInAppCommand"
                  icon="fordiacimage://ICON_Application"
                  id="org.eclipse.fordiac.ide.resourceediting.toolbars.ShowFBInAppCommand"
                  tooltip="Show FB in Application">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.fordiac.ide.resourceediting.commands.ShowFBInAppCommand"
               icon="fordiacimage://ICON_Application"
               tooltip="Show in Application Editor">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <instanceof
                        value="org.eclipse.fordiac.ide.resourceediting.editparts.ResFBEditPart">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.fordiac.ide.resourceediting.commands.OpenConnectionOppositeResource"
               tooltip="Open the resouce with the opposite end of the connection">
            <visibleWhen
                  checkEnabled="true">
               <iterate>
                  <instanceof
                        value="org.eclipse.fordiac.ide.resourceediting.editparts.VirtualInOutputEditPart">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
<extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.eclipse.fordiac.ide.resourceediting.editors.ResourceEditorInputFactory"
            id="org.eclipse.fordiac.ide.resourceediting.editors.ResourceEditorInputFactory">
      </factory>
   </extension>
</plugin>
