name: 4diac IDE verification build

on:
  push:
    branches: [ "release", "develop", "freeze", "3.0.x"]
  pull_request:
    branches: [ "release", "develop", "freeze", "3.0.x"]

jobs:
  event_file:
    name: "Upload Event File"
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: event_file
        path: ${{ github.event_path }}
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        java: [17]
    runs-on: ${{ matrix.os }} 
    name: OS ${{ matrix.os }} Java ${{ matrix.java }} compile
    steps:
    - uses: actions/checkout@v4
    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
        cache: 'maven'
    - name: Set up Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: 3.9.3
    - name: Build with Maven
      uses: coactions/setup-xvfb@v1
      with:
       run: >- 
        mvn -V -B -fae -ntp clean verify
    - name: Upload Test Results for Java-${{ matrix.java }}
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: test-results-${{ matrix.os }}-java${{ matrix.java }}
        if-no-files-found: error
        path: |
          ${{ github.workspace }}/**/target/surefire-reports/*.xml
